<div class="row fixed-v-100">

    <div class="col-md-12 mb-12 element-body ">
    <div class="col-md-12">
        <div class="row">
            
            <div class="col-2 hight-80">
                <div class="inner-vertical-tabs">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-layout-n-design" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <div class="tab ">
                        <b>Layout & Design </b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <a  id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-navigation" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    <div class="tab ">
                       <b> Navigation and Menus </b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <a id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-images-n-graphs" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                    <div class="tab ">
                        <b>Images & Graphics </b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-text-headlines" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <b>Text & Headlines </b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-forms-input" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <b>Forms & Input Elements </b> 
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-links-buttons" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <b>Links & Buttons </b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-tables-data" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <b>Tables & Data </b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-error-loading" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <b>Errors, Alerts, & Loading</b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-miscellaneous" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <b>Miscellaneous</b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a>
                <!-- <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <b>Laws of User Experience</b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a> -->

               
              </div>
                </div>
            </div>
            <div class="col-9 hight-80">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-layout-n-design" role="tabpanel" aria-labelledby="v-pills-home-tab">
                   <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-8">
                            <div class="row ">
                             <h4 id="remove-unnecessary">Remove Unnecessary Borders </h4>
                             <p>Make sure to remove the unnecessary borders because they clutter up the view. Removing the unnecessary borders gives a clear look.</p>
                             <img src="assets/best-practices/layout-design.png" alt="layout and design">
                            </div>

                            <div class="row m-t-50">
                                <h4>Hide Infrequent But Necessary Settings</h4>
                                <p>Hide the rarely used settings to make the frequent settings more visible and easier to access.</p>
                                <img src="assets/best-practices/hide-infrequent.png" alt="lHide Infrequent">
                               </div>


                               <div class="row m-t-50">
                                <h4>Extend Elements Through the Fold</h4>
                                <p>To give more clarity and to maintain the consistency of the design, add the information through the fold.</p>
                                <img src="assets/best-practices/extend-elements.png" alt="Extend elements">
                               </div>
                               
                               <div class="row m-t-50">
                                <h4>Include Important Data on Product Listing Pages</h4>
                                <p>When a product is selected, list down important data like price, size, availability, and so on. This helps the user to know more about the product.</p>
                                <img src="assets/best-practices/include-important-data.png" alt="Include Important">
                               </div>

                               <div class="row m-t-50">
                                <h4>Expose Frequently Used Functions</h4>
                                <p>Displaying the functions horizontally instead of listing down in a drop-down allows the user to access the functions with ease. </p>
                                <img src="assets/best-practices/expose-frequently-used.png" alt="expose frequently">
                               </div>

                               <div class="row m-t-50">
                                <h4>Display Primary Data or Statuses in a Dashboard</h4>
                                <p>The main aim of a dashboard is to integrate the sources into a single repository. By displaying the data in a dashboard, the user can monitor the flow-on effects between different sources across the website. </p>
                                <img src="assets/best-practices/display-primary-data.png" alt="Displlay Primary">
                               </div>

                               <div class="row m-t-50">
                                <h4 id="tooltips">Add Tooltips</h4>
                                <p>Providing additional information about a page element or feature increases the user level experience. Ensure to add tooltips so that the features/options are self-explanatory for the users.</p>
                                <img src="assets/best-practices/add-tooltips.png" alt="Add Tooltips">
                               </div>
                        </div>
                        <div class="col-md-3 col-lg-3 ">
                            <ul>
                                <a href="#remove-unnecessary"><li>Remove Unnecessary Borders</li></a>
                                <li>Hide Infrequent </li>
                                <li>Extend Elements</li>
                                <a href="currentPage#tooltips"><li>Remove Unnecessary Borders</li></a>
                            </ul>
                            
                        </div>
                    </div>
                   </div>
                </div>
                <div class="tab-pane fade" id="v-pills-navigation" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Use Smart Menu Items to Clarify Actions </h4>
                                 <p>Smart menu helps the user for easy and quick accessing. Each menu item consists of a discrete option or action that can affect the selected elements within a view.</p>
                                 <img src="assets/best-practices/use-smart-menu.png" alt="use smart Menu">
                                </div>
    
                                <div class="row  m-t-50">
                                    <h4>Highlight the Section Within the Navigation Menu</h4>
                                    <p>Allows the user to differentiate the option selected from the remaining options from the menu.</p>
                                    <img src="assets/best-practices/Highlight-section.png" alt="Highlight section">
                                   </div>
    
    
                                   <div class="row  m-t-50">
                                    <h4>Provide Breadcrumbs or Sequence Maps in Complex Interfaces</h4>
                                    <p>In case of any complex interface, breadcrumbs or sequence maps helps the user to keep track and maintain the flow.</p>
                                    <img src="assets/best-practices/breadcrumbs.png" alt="Breadcrumbs">
                                   </div>
                                   
                                   <div class="row  m-t-50">
                                    <h4>Use Conventional Navigation Menus</h4>
                                    <p>Navigation menus helps the user to access the section that they are looking for. Menus play a decisive role in the user experience of the site. Make sure to create an effortless browse, where one button leads to the next.</p>
                                    <img src="assets/best-practices/use-conventional-navigation.png" alt="conventional navigation">
                                   </div>
    
                                   <div class="row  m-t-50">
                                    <h4>Keep Navigation Menus in the Same Position</h4>
                                    <p>To avoid inconsistency, ensure to use the same position for the navigation menus throughout the website.</p>
                                    <img src="assets/best-practices/keep-navigation.png" alt="Keep Navigation Menus">
                                   </div>
    
                                   
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <ul>
                                    <li>Remove Unnecessary Borders</li>
                                    <li>Hide Infrequent </li>
                                    <li>Extend Elements</li>
                                    <li>Remove Unnecessary Borders</li>
                                </ul>
                                
                            </div>
                        </div>
                       </div>
                </div>

                <div class="tab-pane fade" id="v-pills-images-n-graphs" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Use Icons and Symbols to Convey the Meaning of an Interaction</h4>
                                 <p>In possible places, provide icons or symbols to convey the meaning of interaction because they are quick to recognize, can transcend language barriers, save space, and they are appealing to the eye.  </p>
                                 <img src="assets/best-practices/meaning-interaction.png" alt="Meaning Interaction">
                                </div>
    
                                <div class="row ">
                                    <h4>Choose Colors That Are Semantically Congruent</h4>
                                    <p>Colors have their own influence on our minds and choosing the right colors will help to transfer the right message. It is recommended to use generic colors for icons to avoid confusion, save time, and do the right action.</p>
                                    <img src="assets/best-practices/semantically.png" alt="semantically">
                                   </div>
    
    
                                   <div class="row">
                                    <h4>Add Row Stripes to Your Tables</h4>
                                    <p>When data is provided in tabular format, it is recommended to add row strips. This way it will help the users to aim at the right points and read information as quickly as possible.</p>
                                    <img src="assets/best-practices/Stripes-your-tables.png" alt="Stripes your tables">
                                   </div>
                                   
                                   
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <ul>
                                    <li>Remove Unnecessary Borders</li>
                                    <li>Hide Infrequent </li>
                                    <li>Extend Elements</li>
                                    <li>Remove Unnecessary Borders</li>
                                </ul>
                                
                            </div>
                        </div>
                       </div>
                </div>

                <div class="tab-pane fade" id="v-pills-text-headlines" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Add Visual Contrast to Page Headlines</h4>
                                 <p>Visual contrast is required to keep their viewers’ attention and to communicate a message. Adding visual contrast to page headlines will help in emphasizing the focal point, improve readability, establish hierarchy, and add visual interest. You can create contrast based on weight, size, color, alignment, isolation, and background. </p>
                                 <img src="assets/best-practices/headlines.png" alt="headlines">
                                </div>
    
                                <div class="row">
                                    <h4>Speak the Language of the User, Not the System</h4>
                                    <p>Ensure to use the language that is familiar to the user. Avoid using jargon that requires users to look for definitions. This way it will help to build an experience that feels intuitive</p>
                                    <img src="assets/best-practices/not-system.png" alt="not-system">
                                   </div>
    
    
                                   <div class="row">
                                    <h4>Break Up Text with Visual Variety </h4>
                                    <p>The way the content is presented and arranged on a page is very important. A page full of text with no visual variety is less appealing to read. Adding visual elements like images, videos, bullets, etc., can draw the user’s attention, deliver information in less time, and make it easier to remember. </p>
                                    <img src="assets/best-practices/visual-variety.png" alt="visual variety">
                                   </div>
                                   
                                 
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <ul>
                                    <li>Remove Unnecessary Borders</li>
                                    <li>Hide Infrequent </li>
                                    <li>Extend Elements</li>
                                    <li>Remove Unnecessary Borders</li>
                                </ul>
                                
                            </div>
                        </div>
                       </div>
                </div>



                <div class="tab-pane fade" id="v-pills-forms-input" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Filter or jump to items that users are searching</h4>
                                 <p>Provide filters or jumps to the UI elements which requires search to find an item. This will allow users to quickly refine results and making it easy to choose the preferred item. </p>
                                 <img src="assets/best-practices/filter-or-jump.png" alt="filter or jump">
                                </div>
    
                                <div class="row">
                                    <h4>Create smart defaults based on frequently chosen input</h4>
                                    <p>Provide smart defaults to reduce the amount of time taken by the user to fill a form. The smart default for a field is chosen based on the input selected by the majority of users.  </p>
                                    <img src="assets/best-practices/create-smart.png" alt="create smart">
                                   </div>
    
    
                                   <div class="row">
                                    <h4>Position common answers at the top of drop down lists</h4>
                                    <p>For a drop-down input field, display the most common answers at the top of the list. This will avoid users to scroll or search for the answer from the list.</p>
                                    <img src="assets/best-practices/position-common.png" alt="position common">
                                   </div>
                                   
                                   <div class="row">
                                    <h4>Let users log in via username or email</h4>
                                    <p>When a product is selected, list down important data like price, size, availability, and so on. This helps the user to know more about the product.</p>
                                    <img src="assets/best-practices/let-users-log.png" alt="Include Important">
                                   </div>
    
                                   <div class="row">
                                    <h4>Give real-time password requirements and feedback</h4>
                                    <p>When a user is trying to create or reset a password make sure to display the real-time password requirements and feedback. This acts as a simple checklist and helps the user know what is expected. Hiding or not providing the requirements in real-time will increase the attempts taken by the user to set a password.  </p>
                                    <img src="assets/best-practices/give-real-time.png" alt="give real time">
                                   </div>
    
                                   <div class="row">
                                    <h4>Prepopulate form elements with universal parameters</h4>
                                    <p>Filling a form can be time-consuming and repetitive for most users. To save time, reduce errors, and help users to fill in accurate information, make sure to prepopulate some fields/parameters that are generic</p>
                                    <img src="assets/best-practices/prepopulate-form-elements.png" alt="prepopulate form elements">
                                   </div>
    
                                   <div class="row">
                                    <h4>Indicate required and optional form elements</h4>
                                    <p>Make sure to visually differentiate mandatory and optional form elements using clear symbols like *, optional, etc., making it easier for the user to quickly fill in the details thereby increasing user productivity. </p>
                                    <img src="assets/best-practices/Indicate-required.png" alt="Indicate required">
                                   </div>

                                   <div class="row">
                                    <h4>Show a preview of the output based on the current input</h4>
                                    <p>Provide a preview of the output to make it easier for the users to get an outline of the information that is provided by them. This will help the users to review the inputs and correct errors if any.</p>
                                    <img src="assets/best-practices/show-a-preview.png" alt="show a preview">
                                   </div>

                                   <div class="row">
                                    <h4>Keep form labels visible at all times</h4>
                                    <p>Make sure to provide clear and visible labels to all the fields in a form. This will help the users to easily understand the purpose of the fields and to fill in the correct information in the input fields.</p>
                                    <img src="assets/best-practices/keep-form-labels.png" alt="keep form labels">
                                   </div>

                                   <div class="row">
                                    <h4>Position placeholder text outside the form element</h4>
                                    <p>Positioning the placeholder text within the form fields/elements make it difficult for the users to remember the specified information because the text disappears when the cursor is placed in a form field. Providing the text outside the form element is recommended so that the information is visible to the user.</p>
                                    <img src="assets/best-practices/position-common.png" alt="position placeholder">
                                   </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <ul>
                                    <li>Remove Unnecessary Borders</li>
                                    <li>Hide Infrequent </li>
                                    <li>Extend Elements</li>
                                    <li>Remove Unnecessary Borders</li>
                                </ul>
                                
                            </div>
                        </div>
                       </div>
                </div>
                <div class="tab-pane fade" id="v-pills-error-loading" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Differentiate elements that triggered an error</h4>
                                 <p>When a user encounters errors make sure that those errors are noticeable. To draw user’s attention to the errors, the errors must be differentiated by highlighting the element with a bright color or adding additional icons, or clearly stating the error in a bright text. This will help the user to identify the error in less time. </p>
                                 <img src="assets/best-practices/differentiate-elements.png" alt="differentiate elements">
                                </div>
    
                                <div class="row">
                                    <h4>Describe the input that you require from users</h4>
                                    <p>Provide more information about the input that the user must provide. You can display examples, optional elements, expected input parameters, etc., in a visible place. This will minimize the errors and prepares the user well in advance. .</p>
                                    <img src="assets/best-practices/describe-input.png" alt="describe input">
                                   </div>
    
    
                                   <div class="row">
                                    <h4>Display success messages after important interactions</h4>
                                    <p>A success or confirmation message must be displayed after an important interaction. This real-time communication with the user will acknowledge them that their interaction is successful or effective or complete. This way the user may not wait or think what to do next, which will help in avoiding confusion and saving time.</p>
                                    <img src="assets/best-practices/displlay-success.png" alt="displlay success">
                                   </div>
                                   
                                   <div class="row">
                                    <h4>Keep users engaged during lengthy waiting periods</h4>
                                    <p>In some circumstances the loading time is unavoidable, and this can make users impatient. When these experiences arise make sure to engage the user in the best possible way. </p>
                                    <img src="assets/best-practices/Keep-users-engaged.png" alt="Keep users engaged">
                                   </div>
    
                                   <div class="row">
                                    <h4>Explain the reason for validation errors</h4>
                                    <p>An error occurs when the user makes a mistake. Highlighting the error will only help the user to locate the error, but explaining the error or providing a solution for the error will help the user to resolve the error in less time and avoid misperceptions.</p>
                                    <img src="assets/best-practices/explain-the-reason.png" alt="explain the reason">
                                   </div>
    
                                  
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <ul>
                                    <li>Remove Unnecessary Borders</li>
                                    <li>Hide Infrequent </li>
                                    <li>Extend Elements</li>
                                    <li>Remove Unnecessary Borders</li>
                                </ul>
                                
                            </div>
                        </div>
                       </div>
                </div>


                <div class="tab-pane fade" id="v-pills-links-buttons" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Use descriptive button labels </h4>
                                 <p>Avoid using generic button labels like OK, Cancel, Yes, etc. Use descriptive labels that clearly explain the purpose of the button when it is selected. This will help the user to select the correct and preferred option</p>
                                 <img src="assets/best-practices/use-descriptive.png" alt="use descriptive">
                                </div>
    
                                <div class="row">
                                    <h4>Indicate which items the cursor is hovering over</h4>
                                    <p>It is important to visually identify the user interface elements when they receive keyboard focus or when the mouse pointer hovers. If the focused/hovered elements are not indicated/differentiated, then the users may not be confident about the element they are going to select.</p>
                                    <img src="assets/best-practices/indicate-items.png" alt="indicate items">
                                   </div>
    
    
                                   <div class="row">
                                    <h4>Use different colors for visited links</h4>
                                    <p>If there is more than one link displayed on a page, then it is recommended to use different colors for links that the user had already visited.  Using different colors for the visited links will help the user to differentiate visited and unvisited links.</p>
                                    <img src="assets/best-practices/use-different-color.png" alt="use different color">
                                   </div>
                                   
                                   
                            </div>
                           
                        </div>
                       </div>
                </div>


                <div class="tab-pane fade" id="v-pills-miscellaneous" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Reveal the number of steps within a sequence</h4>
                                 <p>Make sure to reveal the total steps in a procedure. This reveals a clear starting point and ending point of the sequence to the user. It also helps the user to see how far they are from the start and ending points</p>
                                 <img src="assets/best-practices/within-a-sequence.png" alt="within a sequence">
                                </div>
    
                                <div class="row">
                                    <h4>Reveal the number of items in a category</h4>
                                    <p>Always consider displaying the total number of items in each category to the user. This will provide a better understanding in weighing up the category.</p>
                                    <img src="assets/best-practices/items-in-category.png" alt="items in category">
                                    <img src="assets/best-practices/items-in-category-2.png" alt="items in category">
                                   </div>
    
    
                                   <div class="row">
                                    <h4>Offer keyboard shortcuts for repetitive functions</h4>
                                    <p>Ensure to provide keyboard shortcuts for frequently used commands/functions. The shortcut keys provide an easier and quicker way to navigate and execute commands, thus increasing the user productivity.</p>
                                    <img src="assets/best-practices/repetitive-functions.png" alt="repetitive functions">
                                   </div>

                                   <div class="row">
                                    <h4>Indicate or Preview the Next Item in a Sequence</h4>
                                    <p>Display the preview option in a sequence to make it easier for the user to get an outline of the information that is coming in. The user does not need to wait for the next item in the sequence to load, instead the preview will help to decide whether or not to commit an action.</p>
                                    <img src="assets/best-practices/item-in-sequence.png" alt="item in sequence">
                                   </div>

                                   <div class="row">
                                    <h4>Provide Quick Wins during onboarding</h4>
                                    <p>Make sure to provide Quick Wins during the onboarding process to increase user engagement and encourage user to act.</p>
                                    <img src="assets/best-practices/during-onboarding.png" alt="during onboarding">
                                   </div>

                                   <div class="row">
                                    <h4>Indicate the options that most users choose</h4>
                                    <p>If a task has choices, then point out the option that most users choose, this way it will reduce the effort by simplifying the task.</p>
                                    <img src="assets/best-practices/users-choose.png" alt="users choose">
                                   </div>

                                   <div class="row">
                                    <h4>Add copy buttons to movable input</h4>
                                    <p>Provide a copy button to the movable input elements. This will help the user to avoid back and forth navigation, and it will not force the user to remember everything that appears on the movable input element. </p>
                                    <img src="assets/best-practices/movable-input.png" alt="movable input">
                                   </div>
                                   <div class="row">
                                    <h4>Add dotted textures to drag and drop elements</h4>
                                    <p>The dotted textures are the commonly used styles for drag and drop interactions. The drag and drop interactions may be overlooked or go unnoticed if the dotted textures are not used.</p>
                                    <img src="assets/best-practices/drip-elements.png" alt="drip elements">
                                   </div>
                                   <div class="row">
                                    <h4>Provide a visible close on popups and modal boxes</h4>
                                    <p>The popups or modal boxes are message boxes that appears in the browser displaying errors, warnings, informational boxes, and more. Some modals are typically locked within the browser, that requires a user response or interaction before it can be dismissed from the page. In such cases, it is recommended to implement a clear and visible close button within the modal.</p>
                                    <img src="assets/best-practices/modal-boxes.png" alt="modal boxes">
                                   </div>
                                   
                                   
                            </div>
                           
                        </div>
                       </div>
                </div>

                

                <div class="tab-pane fade" id="v-pills-tables-data" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Let user control the data</h4>
                                 <p>Each user has different requirements based on their needs. Allowing the users to customize the interface will make it easier and help to meet their needs. You can allow the user to control the following user elements:</p>
                                 <p>
                                     Let users control the appearance of data <br> <br>
                                     Let users control the order of data <br> <br>
                                     Let users control the quantity of data <br> <br>
                                 </p>
                                 <img src="assets/best-practices/lets-user-control.png" alt="lets user control">
                                </div>
    
                                
                            </div>
                            
                        </div>
                       </div>
                </div>


                
                
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    Images & Graphics
                    <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                        In this post, I will tell you, Add Bootstrap .
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Layout & Design
                    <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                        In this post, I will tell you, Add Bootstrap .
                    </p>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
</div>

<!-- 
<div class="row">
    <div class="col-md-12 mb-12 element-body">


        <div class="col-md-3">

         <div class="inner-vertical-tabs">
             <div class="tab active">
                Layout & Design 
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>
             <div class="tab">
                Navigation & Menus
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>
             <div class="tab">
                Images & Graphics
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>
             <div class="tab">
                Layout & Design
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>
             <div class="tab">
                Layout & Design
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>


         </div>
         
        </div>

        <div class="col-md-9">

           <div class="inner-vertical-tabs-body">
               <div class="row">
                <div class="col-md-8">
                    <h4>Remove Unnecessary Borders</h4> 
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                </div>
    
                <div class="col-md-4">
                <img src="assets/best-practices/img-01.png" alt="">
                </div>
               </div>
           </div>



        </div>



    </div>
    </div> -->