@<SCOPE>:registry=https://bin-na.asg.com/artifactory/api/npm/npm-virtual/
//bin-na.asg.com/artifactory/api/npm/npm-virtual/:_password=QVA0dVA4ZGdERGJDY3A2Z242YTZBMU03NVVmWkNzSFZXNnlZQzc=
//bin-na.asg.com/artifactory/api/npm/npm-virtual/:username=sampathkumar.rao
//bin-na.asg.com/artifactory/api/npm/npm-virtual/:email=SampathKumar.Rao@asg.com
//bin-na.asg.com/artifactory/api/npm/npm-virtual/:always-auth=true_auth = c2FtcGF0aGt1bWFyLnJhbzpBUDR1UDhkZ0REYkNjcDZnbjZhNkExTTc1VWZaQ3NIVlc2eVlDNw==
email = SampathKumar.Rao@asg.com
always-auth = true
