<!-- <div class="app-body">
  <div class="login-pg-lft">
    <img src="assets/img/login/banner.png" alt="banner">
    <div class="divider-50"></div>
    <div class="text-area">
    <h1>ASG 
      Lineup Design 
      System
      </h1>
      <div class="divider-50"></div>
      <span>Design Guidelines</span> <br><br>
      <span>Code for Frontend & Styles</span>
    </div>
  </div>
  <div class="login-pg-rit">
    <div class="loginbox">
      <div class="brandlogo">
        <img src="../assets/lineup-logo.png" alt="">
      </div>

      <h1>Login</h1>
      <p>Welcome, Please login using ASG credentials </p>

      <div class="material-textfield">
        <input placeholder=" " type="text">
        <label>Email</label>
      </div>

      <div class="material-textfield">  
        <input placeholder=" " type="password">
        <label>Password</label>
      </div>
      <div class="forgot-pass-text"><a href="">Forgot Password</a></div> 
      <button type="button" routerLink="/" class="btn btn-primary px-4" (click)="login()">Login</button>
    </div>
  </div>
</div>  -->



<div class="app-body">
  <div class="login-banner">
    <img src="../assets/login-screen-img.png" alt="">
  </div>
  <div class="login-formarea">
    <div class="brandlogo">
      <img src="../assets/lineup-logo.png" alt="">
    </div>
    <div class="loginbox">
      <h1>Login</h1>
      <p>Welcome, Please login using ASG credentials </p>

      <div class="material-textfield">
        <input placeholder=" " type="text">
        <label>Email</label>
      </div>

      <div class="material-textfield">  
        <input placeholder=" " type="password">
        <label>Password</label>
      </div>
      
      <button type="button" routerLink="/" class="btn btn-primary px-4" (click)="login()">Login</button>
    </div>
  </div>
</div> 




<!-- <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
               
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" routerLink="dashboard" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                 
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <br><br>
                  <div><img src="assets/lineup-logo.png" alt=""></div>
                </div>
                
              </div>
            </div>
          </div>
        </div> -->