 <!-- <div class="app-body login-bg">
  <div class="login-pg-lft">
    <img src="assets/img/login/banner.png" alt="banner">
    <div class="divider-50"></div>
    <div class="text-area">
    <h1>ASG 
      Lineup Design 
      System
      </h1>
      <div class="divider-50"></div>
      <span>Design Guidelines</span> <br><br>
      <span>Code for Frontend & Styles</span>
    </div>
  </div>
  <div class="login-pg-rit">
    <div class="loginbox">
      <div class="brandlogo">
        <img src="../assets/lineup-logo.png" alt="">
      </div>

      <h1>Login</h1>
      <p>Welcome, Please login using ASG credentials </p>

      <div class="material-textfield">
        <input placeholder=" " type="text">
        <label>Email</label>
      </div>

      <div class="material-textfield">  
        <input placeholder=" " type="password">
        <label>Password</label>
      </div>
     
      <button type="button" routerLink="/" class="btn btn-primary px-4" (click)="login()">Login</button>
    </div>
  </div>
</div>  -->






<div class="app-body login-bg">
  <div class="login-pg-lft">
    <div class="text-area">
      <img src="assets/lineup-logo-dark.png" style="width:220px; height:auto" alt="lineup Logo">
      
    <h1 style="margin:20px 0; color: #FFF;">Welcome to Rocket Lineup Design System for</h1>
    <p style="color: #FFF;">The design system groups all the elements that allows you to design and develop a product. It is a set of deliverables that develops constantly with the product and the new technologies.</p>
      <div class="divider-50"></div>
      <span>
        <img src="assets/img/common/approve-icon.svg" style="height:20px; width:20px; margin-right:10px;" alt="approve-icon"> <b style="color: #FFF;">Design Guidelines</b></span> <br><br>
      <span>
       
        <img src="assets/img/common/approve-icon.svg" style="height:20px; width:20px; margin-right:10px;" alt="approve-icon"> <b style="color: #FFF;">Code for Frontend & Styles</b></span>
    </div>
    <div style="position:absolute; bottom:50px; left:90px; width:260px; height:auto;"><img style="height:auto; width:260px" src="assets/rocket-logo.png" alt=""></div>
  </div>
  <div class="login-pg-rit">
    <div class="loginbox">
      <div class="brandlogo">
        <img src="../assets/lineup-logo.png" alt="">
      </div>
      <form id="form_id" method="post" name="myform">
      <h2 class="primary-txt" >Sign in with SSO</h2>
      <h6>Kindly login using ASG credentials </h6>

      <div class="material-textfield">
        <input placeholder=" " type="text">
        <label>Email</label>
      </div>

      <div class="material-textfield">  
        <input placeholder=" " type="password">
        <label>Password</label>
      </div>
      <div class="colm-row">
        <div class="lft-10"><input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1"> </div>
        <div class="lft-90">Remember Me</div>
      </div>
      <div class="divider-20"></div>

     
      <button type="button" routerLink="/" class="btn btn-primary px-4" (click)="login()">Login</button>
    </form>
    </div>
  </div>
</div> 







<div class="mobileview">
  <div class="loginbox">
    <div class="brandlogo">
      <img src="../assets/lineup-logo.png" alt="">
    </div>

    <h2 class="primary-txt">Sign in with SSO</h2>
    <h6>Kindly login using ASG credentials   </h6>

    <div class="material-textfield">
      <input placeholder=" " type="text">
      <label>Email</label>
    </div>

    <div class="material-textfield">  
      <input placeholder=" " type="password">
      <label>Password</label>
    </div>
    <div class="colm-row">
      <div class="lft-10"><input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1"> </div>
      <div class="lft-90">Remember Me</div>
    </div>
    <div class="divider-20"></div>
    <button type="button" routerLink="/" class="btn btn-primary px-4" (click)="login()">Login</button>
  </div>
</div>