
    <div class="container-fluid">


      <div>
          <img src="assets/aboutus-banner.png" style="width: 100%;height:auto;" alt="">
      </div>
          
      <!-- <div class="container">
          <div class="row">
              <div class="col-md-6 p-15"> 
                  <h4>Developers how
                      Something to contribute?
                  </h4>
              </div>
              <div class="col-md-6 p-15">
                  <p>
                    ASG’s Lineup open-source design system is a collection of reusable user interface components, guidelines, templates, and other resources. Its main aim is to create modern, intuitive, and engaging experiences for products across all platforms
                  </p>
              </div>
          </div>
      </div> -->
      
      
      </div>
      
      
      
      <!-- <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="element-body">
              <h4>About Design Guidlines</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 1500s, </p>
            </div>
          </div> 
          <div class="col-sm-6 col-lg-3">
              <div class="element-body">
                  <h4>About Components</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 1500s, </p>
                </div>
          </div> 
      
          <div class="col-sm-6 col-lg-3">
              <div class="element-body">
                  <h4>About UX Best Practices</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 1500s, </p>
                </div>
          </div> 
          <div class="col-sm-6 col-lg-3">
              <div class="element-body">
                  <h4>About Accessibility</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 1500s, </p>
                </div>
            </div> 
        </div>  -->
      
      
      <div class="row">
          <div class="col-sm-12 col-lg-12">
            <div class="element-body">
              <div class="row">
                <div class="col-sm-12 col-ls-12 ">
                  <div class="txt-element">
                    <h1 class="primary-txt">ASG’s Lineup open-source design system 3.0</h1>
                    <h3>it's a collection of reusable user interface components, guidelines, templates, and other resources</h3>
                    <p>Its main aim is to create modern, intuitive, and engaging experiences for products across all platforms.</p>
                    <p> The design system groups all the elements that allows you to design and develop a product. It is a set of deliverables that develops constantly with the product and the new technologies. The design system makes your software design and development processes more efficient, our products more consistent, and sound unique.</p>
      
                    <p>The goal of Lineup is to improve consistency and quality of the human interfaces. It also helps establish common standards and ease collaboration between different teams.</p>
      
                    <p>Lineup is simple, flexible and consistent with subtle interaction patterns spread across. It is comprised of various modules, features such as user customization, dashboards, edit modes, and so on. All the relevant information can be accessed with a single and secured sign in seamlessly. User experience is taken care in an elaborative manner to ensure that the interactions are intuitive and easy. </p>
      
                    <p>Follow the best practices when designing and developing the UI, its components and interactions for a rich and user-friendly product experience. These standards help our products put users in control of their data, with all the necessary tools at their fingertips.</p>
      
                    
                  </div>
      
                </div>
             
              </div>
              <div class="divider-50"></div>
      
                <div class="row">
                  <div class="col-sm-6 col-ls-6 ">
                    <div class="txt-element">
                      <h1 class="primary-txt">Customised Components For Quick Integration</h1>
                      <p>The design system groups all the elements that allows you to design and develop a product. It is a set of deliverables that develops constantly with the product and the new technologies. The design system makes your software design and development processes more efficient, our products more consistent, and sound unique.</p>
                      <h3>Providing Multi themes for better Visualisation  </h3>
                    </div>
      
                  </div>
                  <div class="col-sm-6 col-ls-6">
                    <img src="assets/img/common/widgets-arrangement.png" alt="Lineup widgets arrangements">
                    <!-- <p>
                      The design system groups all the elements that allows you to design and develop a product. It is a set of deliverables that develops constantly with the product and the new technologies. The design system makes your software design and development processes more efficient, our products more consistent, and sound unique. <br> <br>
                      
                      The goal of Lineup is to improve consistency and quality of the human interfaces. It also helps establish common standards and ease collaboration between different teams. <br> <br>
                      
                      Lineup is simple, flexible and consistent with subtle interaction patterns spread across. It is comprised of various modules, features such as user customization, dashboards, edit modes, and so on. All the relevant information can be accessed with a single and secured sign in seamlessly. User experience is taken care in an elaborative manner to ensure that the interactions are intuitive and easy.  <br> <br>
                      
                      Follow the best practices when designing and developing the UI, its components and interactions for a rich and user-friendly product experience. These standards help our products put users in control of their data, with all the necessary tools at their fingertips. <br> <br>
                      </p> -->
                  </div>
                </div>
                <div class="divider-50"></div>
      
                <div class="row"> 
                  <div class="col-sm-6 col-ls-6">
                  <img src="assets/img/common/light-theme-look.png" alt="Lineup light theme look">
                 
                </div>
                  <div class="col-sm-6 col-ls-6 ">
                    <div class="txt-element">
                      <h1 class="primary-txt">Light Theme</h1>
                      <p>Light theme is the default theme for branding on various ASG applications. With its light background, dark fonts and vibrant colors, adding the contrast is based on meeting the AA-rating for accessibility.</p>
                      <!-- <p>The goal of Lineup is to improve consistency and quality of the human interfaces. It also helps establish common standards and ease collaboration between different teams</p> -->
                    </div>
      
                  </div>
                 
                </div>
                <div class="divider-50"></div>
                <div class="row"> 
                 
                  <div class="col-sm-6 col-ls-6 ">
                    <div class="txt-element">
                      <h1 class="primary-txt">Dark Theme</h1>
                      <p>A dark theme is a low-light user interface that displays dark surfaces. It reduces the luminance emitted by screens of devices, nonetheless, meeting minimum color contrast ratios. The themes help facilitate use of screen in dark environments, adjust brightness to current lighting conditions, and improve visual ergonomics by reducing eye strain.</p>
                      <!-- <p>The goal of Lineup is to improve consistency and quality of the human interfaces. It also helps establish common standards and ease collaboration between different teams</p> -->
                    </div>
      
                  </div>
                  <div class="col-sm-6 col-ls-6">
                    <img src="assets/img/common/dark-theme-look.png" alt="Lineup dark theme look">
                   
                  </div>
                 
                </div>
                <div class="divider-50"></div>
                <div class="row"> 
                  <div class="col-sm-6 col-ls-6">
                    <img src="assets/img/common/widgets.png" alt="Lineup widgets">
                   
                  </div>
                 
                  <div class="col-sm-6 col-ls-6 ">
                    <div class="txt-element">
                      <h1 class="primary-txt">Customized Components For Quick Integration</h1>
                      <p>The design system comes with a set of customized components, a wide range of building blocks for layouts, enabling you to quickly integrate the UI.</p>
                      <!-- <p>The goal of Lineup is to improve consistency and quality of the human interfaces. It also helps establish common standards and ease collaboration between different teams</p> -->
                    </div>
      
                  </div>
                 
                 
                </div>
                <div style="clear:both"></div>
            </div>
          </div> 
        </div> 
      