<!-- <div>
  <img src="assets/installation-banner.png" style="width: 100%;height:auto;" alt="">
</div> -->



<div class="container-fluid">
  <div>
    <img src="assets/installation2-banner.png" style="width: 100%;height:auto;" alt="">
</div>

<div class="row">

  <div class="element-body">
  <div class="col-sm-12 col-lg-12">

      <div class="divider-50"></div>

      <h1>Getting Started</h1>
      <p>Use our getting_started/Lineup design system 3.0 with bootstrap. All frontend elements and style guidelines with Scss content are maintained as a npm package at the antifactory. </p>
      <p>Use the command to add scss files and folder to the project. </p>
      <div class="code-bg">
        npm install —save asg-lineup 
      </div>

      <p>
        Lineup styles are applied to the default elements such as input, select box and other common elements. The other elements such as buttons and status elements consist of several classes and guidelines that are explained in the lineup portal. 
      </p>

     <p>
      Error in rxjs module
      ERROR in node_modules/rxjs/internal/types.d.ts(81,44): error TS1005: ‘;’ expected.
     </p>

     <ul>
       <li> Remove the “node_modules” folder from your project</li>

       <li>Go to package.json</li>
       <li>Change rxjs version to “rxjs”: “6.3.3”</li>
       <li>Go to console and run “npm install” again</li>
       <li>And then run “ng serve”</li>
       <li>Invalid or unexpected token</li>
     </ul>
       
       After running ng serve command, you get an Invalid or unexpected token error. 
       
       Delete package-lock.json
       
       Go to console and run “npm install” again And then run “ng serve”

       <div class="divider-50"></div>
      <h3>Lineup Functional Introduction</h3>
      <p>Theming in Lineup is accomplished by Sass variables, Sass maps, and custom CSS. There is no dedicated theme stylesheet; instead, you will be able to support the built-in theme to combine gradients, shadows, and so on.</p>

      <h4>Sass</h4>
      <p>Utilize our source Sass files related to variables, maps, mixins, and so on. In our build, we have increased the Sass rounding precision to 6 (by default it is 5) to avoid issues with browser rounding.</p>
      <h4>File structure</h4>
      <p>Whenever possible, avoid modifying Lineup core files. For Sass, it means creating your own stylesheet only for required panels colors or any other addon features. Assuming you are using a package manager like npm, the file structure looks like this:</p>

      <p>
        your-project/<br>
├── scss<br>
│   └── custom.scss<br>
└── node_modules/<br>
    └── @asgui/asgui<br>
        ├── js<br>
        └── scss<br>

      </p>

    </div> 
  </div>
  <div class="col-sm-6 col-lg-3">
    
  </div>
</div> 

</div>