

<div class="animated fadeIn">

  
  <div class="row">
    <div class="col-sm-6 col-lg-9">
      <div class="element-body p-10">

        <div class="row">
          <div class="col-sm-4">

        <h4>Assign User</h4>
            <div class="material-textfield">
              <input placeholder="abc@a.com " type="text">
              <label>Name</label>
            </div>
            <div class="material-textfield">
              <input placeholder="abc@a.com " type="text">
              <label>Email</label>
            </div>
  
            <div class="material-textfield">
            <div class="select">
              <select class="select-text select-dropdown" required>
                <option value="" disabled selected></option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <span class="select-highlight"></span>
              <span class="select-bar"></span>
              <label class="select-label">Select Role</label>
            </div>
            </div>
  
            <div class="material-textfield">
              <input placeholder="First Name " type="text">
              <label>Enter Organisation</label>
            </div>
            
            <button type="button" class="btn btn-primary">Add Role</button>
          </div>
          <div class="col-sm-8">
              <div class="card-header">
                <h4>User List</h4>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Date registered</th>
                      <th>Role</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Samppa Nori</td>
                      <td>2012/01/01</td>
                      <td>Member</td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Estavan Lykos</td>
                      <td>2012/02/01</td>
                      <td>Staff</td>
                      <td>
                        <span class="badge badge-danger">Banned</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Chetan Mohamed</td>
                      <td>2012/02/01</td>
                      <td>Admin</td>
                      <td>
                        <span class="badge badge-secondary">Inactive</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Derick Maximinus</td>
                      <td>2012/03/01</td>
                      <td>Member</td>
                      <td>
                        <span class="badge badge-warning">Pending</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Friderik Dávid</td>
                      <td>2012/01/21</td>
                      <td>Staff</td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <button type="button" class="btn btn-primary">View All</button>
               
              </div>
            
          </div>
        </div>
       

      
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="element-body">
        <h4>Enter Product Adoption Status</h4>

        <div class="material-textfield">
          <div class="select">
            <select class="select-text select-dropdown" required>
              <option value="" disabled selected></option>
              <option value="1">Zenith</option>
              <option value="2">Studio</option>
              <option value="3">Temon</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Select Product</label>
          </div>
          </div>
          <div class="material-textfield">
            <div class="select">
              <select class="select-text select-dropdown" required>
                <option value="" disabled selected></option>
                <option value="1">5%</option>
                <option value="2">10%</option>
                <option value="3">20%</option>
                <option value="3">25%</option>
                <option value="3">40%</option>
                <option value="3">50%</option>
                <option value="3">70%</option>
              </select>
              <span class="select-highlight"></span>
              <span class="select-bar"></span>
              <label class="select-label">Select Percentage</label>
            </div>
            </div>

        <div class="material-textfield">
          <input placeholder="Enter Details " type="text">
          <label>Add Notes</label>
        </div>

        
        
       <div class="row">
         <div class="col-sm-6">
          <button type="button" class="btn btn-primary">Submit</button>
         </div>
         <div class="col-sm-6">
          <button type="button" class="btn btn-primary ">View All</button>
         </div>
       </div>
      </div>
    </div> 
    
   
   
  </div> 




  
</div>  



