<!-- <div class="animated fadeIn">
  <div class="row" style="margin-top: 200px;">
    
   <div class="list-group">
    <div class="list-group-item">
      <svg class="icon">
        <use [attr.xlink:href]="'#search'" />
      </svg>
      <span>asadlfksdkf</span>
    </div>

    <div class="list-group-item">
      asdfasdf
    </div>

   </div>

    </div>
    </div> -->



    <div class="animated fadeIn">



	<div class="row nav-area" >

		<nav id="column_left">	
      <ul class=" nav-list">
          <li><a><svg class="icon"><use [attr.xlink:href]="'#search'" /></svg>Dashboard</a></li>	
          <li>
            <a class="accordion-heading" data-toggle="collapse" data-target="#submenu1">
                <span class="nav-header-primary">
                  <svg class="icon"><use [attr.xlink:href]="'#search'" /></svg>Menu Link 
                  <span class="pull-right"><b class="caret"></b></span>
                </span>
            </a>
  
                    <ul class=" nav-list collapse" id="submenu1">
                      <li>
                          <a class="accordion-heading" data-toggle="collapse" data-target="#submenu2">
                            <svg class="icon"><use [attr.xlink:href]="'#search'" /></svg> Sub Menu Link <span class="pull-right"><b class="caret"></b></span></a>
                          <ul class="nav nav-list collapse" id="submenu2">
                            <li><a href="#" title="Title"> <svg class="icon"><use [attr.xlink:href]="'#search'" /></svg> Sub Sub Menu Link</a></li>
                            <li><a href="#" title="Title"> <svg class="icon"><use [attr.xlink:href]="'#search'" /></svg> Sub Sub Menu Link</a></li>
                          
                          </ul>
                      </li>
                    </ul>
          </li>
          <li>
            <a class="accordion-heading" data-toggle="collapse" data-target="#submenu1-1">
                <span class="nav-header-primary">
                  <svg class="icon"><use [attr.xlink:href]="'#search'" /></svg>Menu Link 
                  <span class="pull-right"><b class="caret"></b></span>
                </span>
            </a>
  
                    <ul class=" nav-list collapse" id="submenu1-1">
                      <li>
                          <a class="accordion-heading" data-toggle="collapse" data-target="#submenu1-2">
                            <svg class="icon"><use [attr.xlink:href]="'#search'" /></svg> Sub Menu Link <span class="pull-right"><b class="caret"></b></span></a>
                          <ul class="nav nav-list collapse" id="submenu1-2">
                            <li><a href="#" title="Title"> <svg class="icon"><use [attr.xlink:href]="'#search'" /></svg> Sub Sub Menu Link</a></li>
                            <li><a href="#" title="Title"> <svg class="icon"><use [attr.xlink:href]="'#search'" /></svg> Sub Sub Menu Link</a></li>
                          
                          </ul>
                      </li>
                    </ul>
          </li>
          <li><a><svg class="icon"><use [attr.xlink:href]="'#search'" /></svg>main level</a></li>	
  
      </ul>
  
      </nav>

		<div class="col-lg-12">


		</div>

	</div>

</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>