


<div class="container-fluid">
  <div>
    <img src="assets/breadcrumbs-banner.png" style="width: 100%;height:auto;" alt="">
  </div>
  

<!-- <div class="row">
  <div class="col-md-12 col-lg-12  element-body">
    <div class="row internal-component-banner">
      <div class="col-md-6 col-lg-6">
    
        <img src="assets/img/gif-imgs/breadcrumbs.gif" alt="breadcrumbs">
    
      </div>
    
      <div class="col-md-6 col-lg-6">
        <div class="divider-50"></div>
        
        <h3>Breadcrumbs</h3>
    <p>A breadcrumb or breadcrumb trail is a graphical control element frequently used as a navigational aid in user interfaces and on web pages. It allows users to keep track and maintain awareness of their locations within programs, documents, or websites</p>

      </div>

    </div>
    </div>
</div> -->




<div class="card " style="height: auto">
  <div class="col-md-12 mb-12 ">
    <!-- Nav tabs -->
    <tabset>
      <tab heading="Example">
        <!-- <div class="row" style="height: 70px;">
           <div class="dropdown">
            <button class="btn btn-defualt-outline dropdown-toggle"  type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-approveed="false">
              Select Accordion Type
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="onChange('RA')" >Regulalr Accourdion</a>
              <a class="dropdown-item" (click)="onChange('DTA')" >Data table Accourdion</a>
            </div>
          </div> 
        </div> -->
        <div style="clear:both;"></div>

          
        <div class="row component-tabs" >
          <div class="component-area-bg">
            <div class="row">
              <tabset>

                <tab heading="Default" class=""> 
                  <!-- <h3>Default Model Window</h3> -->
                  <div class="container component-view col-md-12 col-lg-12">
                    
                    <div class="card-body">
                      <div class="row align-items-center">
                            <div class="card-body">
                              <div class="row align-items-center">
                                <!-- <div class="row">
                                  <div class="col-md-12">
                                    <ul class="breadcrumb crums-overview">
                                      <li class="breadcrumb-item "><a href="#">Home</a></li>
                                      <li class="breadcrumb-item active">Italy</li>
                                    </ul>
                                  </div>
                                </div>
                      
                                <div class="row">
                                  <div class="col-md-12">
                                    <ul class="breadcrumb crums-overview">
                                      <li class="breadcrumb-item "><a href="#">Home</a></li>
                                      <li class="breadcrumb-item "><a href="#">Pictures</a></li>
                                      <li class="breadcrumb-item  active">Italy</li>
                                    </ul>
                                  </div>
                                </div> -->
                      
                      
                                <div class="row center-m">
                                  <div class="col-md-12">
                                    <ul class="breadcrumb crums-overview">
                                      <li class="breadcrumb-item "><a href="#">Home</a></li>
                                      <li class="breadcrumb-item "><a href="#">Pictures</a></li>
                                      <li class="breadcrumb-item "><a href="#">Summer 15</a></li>
                                      <li class="breadcrumb-item active">Italy</li>
                                    </ul>
                                  </div>
                                </div>
                              
                            </div>
                          </div>
                      </div>
                      
                    </div>


                    
                  </div>

                  <div class="fotter">
                    <tabset>
                      <tab heading="HTML"> 
                        <div class="more-arrow">
                          <div class="container">
                            <div class="chevron"></div>
                            <div class="chevron"></div>
                            <div class="chevron"></div>
                          </div>
                        </div>
                        <pre>
                          <code [innerHTML]="html_code_A_r"></code>
                        </pre>  
                      </tab>
                      <tab heading="SCSS"> 
                        
                        
                        <pre>
                          <code [innerHTML]="css_code_A_r"></code>
                        </pre>
                      </tab>
                      <tab heading="Integration"> 
                        <pre>
                          <code [innerHTML]="java_codeappModuleTs"></code>
                        </pre>
                      </tab>
                     </tabset>
                   
                  </div>
                </tab>
                
                
              
                
                
              
               </tabset>
            </div>

          </div>

        </div>

        <div class="row component-tabs" *ngIf="selectedType =='DTA'">
          <div class="component-area-bg">
            <div class="row">
              <tabset>
                <tab heading="Data Table Accordion"> 
                  <!-- <h3>Fluid Model Window</h3> -->
                  <div class="container component-view">
                    <div class="row">
                      
                        
<div class="">
<div class="row">
<div class="col-lg-12 hedding pb-2">
  <h1> Table Row Toggel </h1>
</div>
<div class="col-lg-12">
  <table class="table " style="border-collapse:collapse;">
      <thead>
          <tr>
              <th>No.</th>
              <th>Date</th>
              <th>Description</th>
              <th>Credit</th>
              <th>Debit</th>
              <th>Balance</th>
          </tr>
      </thead>
      <tbody>
        <tr colspan="6" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
              <td>1</td>
              <td>12 Jan 2018</td>
              <td>Good</td>
              <td>$150.00</td>
              <td> - </td>
              <td>$150.00</td>
          </tr>
          <tr class="p">
              <td colspan="6" class="hiddenRow">
                <div class="accordian-body collapse p-3" id="demo1">
                  <p>No : <span>1</span></p>
                  <p>Date : <span>12 Jan 2018</span> </p>
                  <p>Description : <span>Good</span> </p>
                  <p>Credit : <span>$150.00</span> </p>
                  <p>Debit : <span></span></p>
                  <p>Balance : <span>$150.00</span></p>
              </div> 
            </td> 
          </tr>
          <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
              <td>2</td>
              <td>12 Jan 2018</td>
              <td>Good</td>
              <td>$11.00</td>
              <td> - </td>
              <td>$161.00</td>
          </tr>
          <tr>
              <td colspan="6" class="hiddenRow">
                <div id="demo2" class="accordian-body collapse p-3">
                  <p>No : <span>2</span></p>
                  <p>Date : <span>12 Jan 2018</span> </p>
                  <p>Description : <span>Good</span> </p>
                  <p>Credit : <span>$150.00</span> </p>
                  <p>Debit : <span></span></p>
                  <p>Balance : <span>$150.00</span></p>
                </div>
              </td>
          </tr>
      
          <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
              <td>3</td>
              <td>12 Jan 2018</td>
              <td>Good</td>
              <td>$500.00</td>
              <td> - </td>
              <td>$661.00</td>
          </tr>
          <tr>
              <td colspan="6"  class="hiddenRow">
                <div id="demo3" class="accordian-body collapse p-3">
                  <p>No : <span>3</span></p>
                  <p>Date : <span>12 Jan 2018</span> </p>
                  <p>Description : <span>Good</span> </p>
                  <p>Credit : <span>$150.00</span> </p>
                  <p>Debit : <span></span></p>
                  <p>Balance : <span>$150.00</span></p>
                </div>
              </td>
          </tr>

          <tr data-toggle="collapse" data-target="#demo4" class="accordion-toggle">
              <td>4</td>
              <td>12 Jan 2018</td>
              <td>Good</td>
              <td>$500.00</td>
              <td> - </td>
              <td>$661.00</td>
          </tr>
          <tr>
              <td colspan="6"  class="hiddenRow">
                <div id="demo4" class="accordian-body collapse p-3">
                  <p>No : <span>4</span></p>
                  <p>Date : <span>12 Jan 2018</span> </p>
                  <p>Description : <span>Good</span> </p>
                  <p>Credit : <span>$150.00</span> </p>
                  <p>Debit : <span></span></p>
                  <p>Balance : <span>$150.00</span></p>
                </div>
              </td>
          </tr>

          <tr data-toggle="collapse" data-target="#demo5" class="accordion-toggle">
              <td>5</td>
              <td>12 Jan 2018</td>
              <td>Good</td>
              <td>$500.00</td>
              <td> - </td>
              <td>$661.00</td>
          </tr>
          <tr>
              <td colspan="6"  class="hiddenRow">
                <div id="demo5" class="accordian-body collapse p-3">
                  <p>No : <span>5</span></p>
                  <p>Date : <span>12 Jan 2018</span> </p>
                  <p>Description : <span>Good</span> </p>
                  <p>Credit : <span>$150.00</span> </p>
                  <p>Debit : <span></span></p>
                  <p>Balance : <span>$150.00</span></p>
                </div>
              </td>
          </tr>   
      </tbody>
  </table>
  


</div>
</div>
</div>

                    </div>
                     
                     
                  </div>

                  <div class="fotter">
                    <tabset>
                      <tab heading="HTML"> 
                        <div class="more-arrow">
                          <div class="container">
                            <div class="chevron"></div>
                            <div class="chevron"></div>
                            <div class="chevron"></div>
                          </div>
                        </div>
                        <pre>
                          <code [innerHTML]="html_code_AB_I"></code>
                        </pre>  
                      </tab>
                      <tab heading="SCSS"> 
                        
                       
                        <pre>
                          <code [innerHTML]="css_code_AB_I"></code>
                        </pre>
                      </tab>
                      <tab heading="Integration"> 
                        <pre>
                          <code [innerHTML]="java_codeappModuleTs"></code>
                        </pre>
                      </tab>
                     </tabset>
                  </div>
                </tab>
                
                
                
               </tabset>
            </div>

          </div>

        </div>
       

        
      </tab>
      <tab heading="Development">
          <div class="row">
            <div class="col-md-12">
              <h3>Breadcrumb  Integration</h3>
              <!-- content from https://www.itsolutionstuff.com/post/angular-11-bootstrap-4-modal-exampleexample.html -->
              <h3>Angular 11 Bootstrap 4 Buttons </h3>

              <h5>Install Bootstrap 4</h5>
              
             <div class="codebox">
              <p>npm install ng-breadcrumb --save</p>
             </div>

             <p>Now, we need to include bootstrap css like "node_modules/bootstrap/dist/css/bootstrap.min.css", so let's add it on angular.json file.</p>

             <h5>angular.json</h5>
             <div class="codebox">
               <p>..... <br>
                "styles": [<br>
                  "node_modules/bootstrap/dist/css/bootstrap.min.css",<br>
                  "src/styles.css"<br>
                ],<br>
            .....</p>
             </div>
             <h5> Install Ng Bootstrap</h5>
             <div class="codebox">
               <p>npm install --save @ng-bootstrap/ng-bootstrap</p>
             </div>

             <h5>Import Module</h5>
             <p>In this step, we need to import NgbModule to app.module.ts file. so let's import it as like bellow:</p>
             <h5>src/app/app.module.ts</h5>

             <div class="codebox">
              <pre>
                <code [innerHTML]="java_codeappModuleTs"></code>
              </pre>
               
             </div>
             <p>Now here, we will updated our html file. we will create simple bootstrap model template file. <br> <br>

              so let's put bellow code:</p>
              <h5>src/app/app.component.html</h5>

              <div class="codebox">
                <pre>
                  <code [innerHTML]="html_code_B_Out"></code>
                </pre>
                 
               </div>
             

            </div>

            <div class="divider-50"></div>
            
          </div>

      </tab>
     
      <tab heading="Usage-Instructions">

        <div class="row">
          <div class="col-md-12">
           <img src="assets/img/breadcrumbs/img01.png" alt="">
          </div>
       
         
        </div>


       

       
      </tab>
    </tabset>
  </div><!--/.col-->
</div>



  </div>