
  <div class="row">
    <div class="col-md-12 mb-12 element-body">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Privew">
         

          <div class="material-textfield">
          <div class="select">
            <select class="select-text select-dropdown" required>
              <option value="" disabled selected></option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Select</label>
          </div>
          </div>
          
        </tab>
        <tab heading="Development">
          <pre>
            <code>
            
              <h4>Select Box</h4>

              &lt;div class="material-textfield"&gt;
              &lt;div class="select"&gt;
              &lt;select class="select-text select-dropdown" required&gt;
              &lt;option value="" disabled selected&gt; &lt;/option&gt;
              &lt;option value="1">Option 1 &lt;/option&gt;
              &lt;option value="2">Option 2 &lt;/option&gt;
              &lt;option value="3">Option 3 &lt;/option&gt;
              &lt;/select&gt;
              &lt;span class="select-highlight"&gt; &lt;/span&gt;
              &lt;span class="select-bar"&gt; &lt;/span&gt;
              &lt;label class="select-label"&gt; Select &lt;/label&gt;
              &lt;/div&gt;
              &lt;/div&gt;


              
            </code>
          </pre>
        </tab>
        <tab heading="Instructions">
          <div class="material-textfield">
            <h4>UI Forms 3.0</h4>
        <p>Users can be hesitant to fill out forms. That is why it is the goal of the design to make the process of filling out a form as easy as possible.</p>
        
        <img src="assets/input-ref-img.png" alt="">
          </div>
          
        </tab>
        <tab heading="Example">
          3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div><!--/.col-->
    </div>



  
