<div class="container-fluid">

<div class="row ">

    <div class="element-body p-0">
        <div class="row">
            
            <div class="col-3 hight-80 rt-bdr-1op4 p-0">
                <div class="inner-vertical-tabs">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-layout-n-design" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Layout & Design </h5>
                                <p class="tagline-txt">A good layout design relates to objectives, reflected in a good user experience.</p>
                            </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                       
                     </div>
                </a>
                <a  id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-navigation" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Navigation and Menus </h5>
                                <p class="tagline-txt">Navigation menus are one of the most-viewed and most-clicked-on pieces of interface</p>
                            </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                      
                        
                     </div>
                </a>
                <a id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-images-n-graphs" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Images & Graphics</h5>
                                <p class="tagline-txt">The use of imagery and graphics is a powerful visual tool that precedes the digital age</p>
                              </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-text-headlines" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Text & Headlines</h5>
                                <p class="tagline-txt">the type of content with which users deal most often and diversely is text</p>
                              </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-forms-input" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Forms & Input Elements</h5>
                                <p class="tagline-txt">Different types of input fields including Input text, check boxes and others. </p>
                              </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-links-buttons" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Links & Buttons </h5>
                                <p class="tagline-txt">links are used for navigation and actions that don't affect the website at all.</p>
                              </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-tables-data" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Tables & Data</h5>
                                <p class="tagline-txt">Tables frequently appear on the web but aren't easy to design and code</p>
                              </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-error-loading" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Errors, Alerts, & Loading</h5>
                                <p class="tagline-txt">They can appear either statically when a page loads or dynamically in response to an action</p>
                              </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                     </div>
                </a>
                <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-miscellaneous" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <div class="row">
                            <div class="internal-nav-ttile">
                                <h5>Miscellaneous</h5>
                                <p class="tagline-txt"> This can be really useful when it comes to reviewing material</p>
                              </div>
                            <div class="internal-nav-arrow">
                                <svg class="icon" style="width:18px; height:18px;">
                                    <use [attr.xlink:href]="'#arrow-right-nav'" />
                                  </svg>  
                            </div>
                        </div>
                       
                     </div>
                </a>
                <!-- <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="tab ">
                        <b>Laws of User Experience</b>
                        <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                            In this post, I will tell you, Add Bootstrap .
                        </p>
                     </div>
                </a> -->

               
              </div>
                </div>
            </div>

            <!-- <div class="col-md-8 col-lg-6">
                <div class="col-2 hight-80">
                    <div class="inner-vertical-tabs">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-layout-n-design" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <div class="tab ">
                            <b>Layout & Design </b>
                            <p class="tagline-txt">A good layout design relates to objectives, reflected in a good user experience.
                            </p>
                         </div>
                    </a>
                    <a  id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-navigation" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div class="tab ">
                           <b> Navigation and Menus </b>
                            <p class="tagline-txt">Navigation menus are one of the most-viewed and most-clicked-on pieces of interface</p>
                         </div>
                    </a>
                    <a id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-images-n-graphs" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div class="tab ">
                            <b>Images & Graphics </b>
                            <p class="tagline-txt">The use of imagery and graphics is a powerful visual tool that precedes the digital age</p>
                         </div>
                    </a>
                    <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-text-headlines" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="tab ">
                            <b>Text & Headlines </b>
                            <p class="tagline-txt">the type of content with which users deal most often and diversely is text</p>
                         </div>
                    </a>
                    <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-forms-input" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="tab ">
                            <b>Forms & Input Elements </b> 
                            <p class="tagline-txt">Different types of input fields including Input text, check boxes and others. </p>
                         </div>
                    </a>
                    <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-links-buttons" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="tab ">
                            <b>Links & Buttons </b>
                            <p class="tagline-txt">links are used for navigation and actions that don't affect the website at all.</p>
                         </div>
                    </a>
                    <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-tables-data" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="tab ">
                            <b>Tables & Data </b>
                            <p class="tagline-txt">Tables frequently appear on the web but aren't easy to design and code</p>
                         </div>
                    </a>
                    <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-error-loading" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="tab ">
                            <b>Errors, Alerts, & Loading</b>
                            <p class="tagline-txt">They can appear either statically when a page loads or dynamically in response to an action</p>
                         </div>
                    </a>
                    <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-miscellaneous" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="tab ">
                            <b>Miscellaneous</b>
                            <p class="tagline-txt"> This can be really useful when it comes to reviewing material</p>
                         </div>
                    </a>
                     <a  id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="tab ">
                            <b>Laws of User Experience</b>
                            <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                                In this post, I will tell you, Add Bootstrap .
                            </p>
                         </div>
                    </a> 
    
                   
                  </div>
                    </div>
                </div>
            </div> -->

            
            <div class="col-9 hight-80">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-layout-n-design" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="row ">
                             <h4 id="remove-unnecessry">Remove Unnecessary Borders From Design Elements</h4>
                             <!-- <p>Make sure to remove the unnecessary borders because they clutter up the view. Removing the unnecessary borders gives a clear look.</p> -->
                             <img src="assets/best-practices/layout-design.png" alt="layout and design">
                            </div>

                            <div class="row m-t-50 top-space-with-top">
                                <h4>Hide Infrequent But Necessary Settings, Features, and Information</h4>
                                <p>Grouped Privacy, location and help options together and made it as a part of  Account Category since these options and not frequently used</p>
                                <img src="assets/best-practices/hide-infrequent.png" alt="lHide Infrequent">
                               </div>


                               <div class="row m-t-50 top-space-with-top">
                                <h4>Extend Elements Through the Page Fold ( Browser Viewable area )</h4>
                                <p>Elements should be extended above the fold to show the continuity</p>
                                <img src="assets/best-practices/extend-elements.png" alt="Extend elements">
                               </div>
                               
                               <div class="row m-t-50 top-space-with-top">
                                <h4>Include Important Data on Product Listing Pages</h4>
                                <p>We need to show other data points rather  than the basic once to help to user to choose the decide better and gain their trust.</p>
                                <img src="assets/best-practices/include-important-data.png" alt="Include Important">
                               </div>

                               <div class="row m-t-50 top-space-with-top">
                                <h4>Expose Frequently Used Functions</h4>
                                <p>Instead of hiding the functions in the dropdown menu, Lets show case upfront to the users to take the decisions</p>
                                <img src="assets/best-practices/expose-frequently-used.png" alt="expose frequently">
                               </div>

                               <div class="row m-t-50 top-space-with-top">
                                <h4>Display Primary Data or Statuses in a Dashboard</h4>
                                <p>Instead of Showing only the Data values in the Dashboard, Lets also showcase the Charts for Better understanding.</p>
                                <img src="assets/best-practices/display-primary-data.png" alt="Displlay Primary">
                               </div>

                               <div class="row m-t-50 top-space-with-top">
                                <h4 id="tooltips">Add Tooltips</h4>
                                <p>Lets give the reasoning (What, Why) for the Action items. This is increase the Trust in our Users.</p>
                                <img src="assets/best-practices/add-tooltips.png" alt="Add Tooltips">
                               </div>
                        </div>
                        <!-- <div class="col-md-3 col-lg-3 ">
                            <div class="p-fixed">
                                <ul>
                                    <li>Remove Unnecessary Borders</li>
                                    <li>Hide Infrequent </li>
                                    <li>Extend Elements</li>
                                    <li>Remove Unnecessary Borders</li>
                                </ul>
                            </div>
                           
                            
                        </div> -->
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-navigation" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="row ">
                                 <h4>Use Smart Menu Items to Clarify Actions</h4>
                                 <p>Show the Shortcuts for the actions Items. Gradually this will increase productivity in the power user segmentation. </p>
                                 <img src="assets/best-practices/use-smart-menu.png" alt="use smart Menu">
                                </div>
    
                                <div class="row  m-t-50 top-space-with-top">
                                    <h4>Highlight the Section Within the Navigation Menu</h4>
                                    <p>Highlighting is used to relate the contents with the Selected Menus. Above are the four ways to do it.</p>
                                    <img src="assets/best-practices/Highlight-section.png" alt="Highlight section">
                                   </div>
    
    
                                   <div class="row  m-t-50 top-space-with-top">
                                    <h4>Provide Breadcrumbs or Sequence Maps in Complex Interfaces</h4>
                                    <p>Breadcrumbs and Sequence Maps are the ways to inform the user where they are. By using these elements users can go back and forth.</p>
                                    <img src="assets/best-practices/breadcrumbs.png" alt="Breadcrumbs">
                                   </div>
                                   
                                   <!-- <div class="row  m-t-50 top-space-with-top">
                                    <h4>Use Conventional Navigation Menus</h4>
                                    <p>Navigation menus helps the user to access the section that they are looking for. Menus play a decisive role in the user experience of the site. Make sure to create an effortless browse, where one button leads to the next.</p>
                                    <img src="assets/best-practices/use-conventional-navigation.png" alt="conventional navigation">
                                   </div>
    
                                   <div class="row  m-t-50 top-space-with-top">
                                    <h4>Keep Navigation Menus in the Same Position</h4>
                                    <p>To avoid inconsistency, ensure to use the same position for the navigation menus throughout the website.</p>
                                    <img src="assets/best-practices/keep-navigation.png" alt="Keep Navigation Menus">
                                   </div>
     -->
                                   
                            </div>
                            <!-- <div class="col-md-3 col-lg-3">
                                <div class="p-fixed">
                                    <ul>
                                        <li>Remove Unnecessary Borders</li>
                                        <li>Hide Infrequent </li>
                                        <li>Extend Elements</li>
                                        <li>Remove Unnecessary Borders</li>
                                    </ul>
                                </div>
                                
                            </div> -->
                        </div>
                </div>

                <div class="tab-pane fade" id="v-pills-images-n-graphs" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 ">
                                <div class="row">
                                 <h4>Use Icons and Symbols to Convey the Meaning of an Interaction</h4>
                                 <!-- <p>Show the Shortcuts for the actions Items. Gradually this will increase productivity in the power user segmentation.  </p> -->
                                 <img src="assets/best-practices/meaning-interaction.png" alt="Meaning Interaction">

                                </div>
    
                                <div class="row top-space-with-top ">
                                    <div style="height: 50px; width: 100%;"><h4>Choose Colors That Are Semantically Congruent</h4></div>

                                    <div style="height: 120px; width: 100%;"><img src="assets/best-practices/semantically.png" alt="semantically"></div>
                                    <p>Choose colors based on Human Mental Model</p>
                                   </div>
    
    
                                   <div class="row top-space-with-top">
                                   <div style="height: 50px; width: 100%;"> <h4>Add Row Stripes to Your Tables</h4></div>
                                    <!-- <p>When data is provided in tabular format, it is recommended to add row strips. This way it will help the users to aim at the right points and read information as quickly as possible.</p> -->
                                    <img src="assets/best-practices/Stripes-your-tables.png" alt="Stripes your tables">
                                   </div>
                                   
                                   
                            </div>
                            <!-- <div class="col-md-3 col-lg-3">
                                <div class="p-fixed">
                                    <ul>
                                        <li>Remove Unnecessary Borders</li>
                                        <li>Hide Infrequent </li>
                                        <li>Extend Elements</li>
                                        <li>Remove Unnecessary Borders</li>
                                    </ul>
                                </div>
                                
                                
                            </div> -->
                        </div>
                </div>

                <div class="tab-pane fade" id="v-pills-text-headlines" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                   
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="row ">
                                 <h4>Add Visual Contrast to Page Headlines</h4>
                                 <p>Tips such as adding weight, increasing size, Changing the color, Giving a different background will make the Headlines looks Different from the content </p>
                                 <img src="assets/best-practices/headlines.png" alt="headlines">
                                </div>
                                <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;"><h4>Constrain Headlines to Respective Sections</h4></div>
                                    <p>Headline should be aligned to the Respective section. Misaligning Headlines might create connectivity issue to the End user. </p>
                                    <img src="assets/best-practices/page-headline-2.png" alt="not-system">
                                   </div>

                                <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;"> <h4>Speak the Language of the User, Not the System</h4></div>
                                    <p>Make sure you Speak the End users language while designing the UI.</p>
                                    <img src="assets/best-practices/not-system.png" alt="not-system">
                                   </div>
    
    
                                   <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;">  <h4>Break Up Text With Visual Variety </h4></div>
                                    <div style="height: 50px; width: 100%;"><p>Tips to break up the Visual Variety</p></div>
                                    <img src="assets/best-practices/visual-variety.png" alt="visual variety">
                                   </div>

                                   <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;"><h4>Choose Contrasting Fonts</h4></div>
                                    <div style="height: 50px; width: 100%;"> <p>Mix the combination of Serif and Sanserif fonts to the headlines and sections for better aesthetics.</p></div>
                                    <img src="assets/best-practices/sanserif-heading.png" alt="visual variety">
                                   </div>
                                   
                                 
                            </div>
                            <!-- <div class="col-md-3 col-lg-3">
                                <div class="p-fixed">
                                    <ul>
                                        <li>Remove Unnecessary Borders</li>
                                        <li>Hide Infrequent </li>
                                        <li>Extend Elements</li>
                                        <li>Remove Unnecessary Borders</li>
                                    </ul>
                                </div>
                                
                            </div> -->
                        </div>
                </div>



                <div class="tab-pane fade" id="v-pills-forms-input" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="row ">
                                 <h4>Filter or Jump to Items That Users Are Searching ( Auto Suggesting )</h4>
                                 <!-- <p>Provide filters or jumps to the UI elements which requires search to find an item. This will allow users to quickly refine results and making it easy to choose the preferred item. </p> -->
                                 <img src="assets/best-practices/filter-or-jump.png" alt="filter or jump">
                                </div>
    
                                <div class="row top-space-with-top">
                                    <h4>Create Smart Defaults Based on Frequently Chosen Input</h4>
                                    <!-- <p>Provide smart defaults to reduce the amount of time taken by the user to fill a form. The smart default for a field is chosen based on the input selected by the majority of users.  </p> -->
                                    <img src="assets/best-practices/create-smart.png" alt="create smart">
                                   </div>
    
    
                                   <div class="row top-space-with-top">
                                    <h4>Position Common Answers At the Top of Drop Down Lists</h4>
                                    <!-- <p>For a drop-down input field, display the most common answers at the top of the list. This will avoid users to scroll or search for the answer from the list.</p> -->
                                    <img src="assets/best-practices/position-common.png" alt="position common">
                                   </div>
                                   
                                   <div class="row top-space-with-top">
                                    <h4>Let Users Log In Via Username or Email</h4>
                                    <!-- <p>When a product is selected, list down important data like price, size, availability, and so on. This helps the user to know more about the product.</p> -->
                                    <img src="assets/best-practices/let-users-log.png" alt="Include Important">
                                   </div>
    
                                   <div class="row top-space-with-top">
                                    <h4>Give Real-Time Password Requirements and Feedback</h4>
                                    <!-- <p>When a user is trying to create or reset a password make sure to display the real-time password requirements and feedback. This acts as a simple checklist and helps the user know what is expected. Hiding or not providing the requirements in real-time will increase the attempts taken by the user to set a password.  </p> -->
                                    <img src="assets/best-practices/give-real-time.png" alt="give real time">
                                   </div>
    
                                   <div class="row top-space-with-top">
                                    <h4>Prepopulate Form Elements With Universal Parameters</h4>
                                    <!-- <p>Filling a form can be time-consuming and repetitive for most users. To save time, reduce errors, and help users to fill in accurate information, make sure to prepopulate some fields/parameters that are generic</p> -->
                                    <img src="assets/best-practices/prepopulate-form-elements.png" alt="prepopulate form elements">
                                   </div>
    
                                   <div class="row top-space-with-top">
                                    <h4>Indicate Required and Optional Form Elements</h4>
                                    <!-- <p>Make sure to visually differentiate mandatory and optional form elements using clear symbols like *, optional, etc., making it easier for the user to quickly fill in the details thereby increasing user productivity. </p> -->
                                    <img src="assets/best-practices/Indicate-required.png" alt="Indicate required">
                                   </div>
<!-- 
                                   <div class="row top-space-with-top">
                                    <h4>Show a preview of the output based on the current input</h4>
                                    <p>Provide a preview of the output to make it easier for the users to get an outline of the information that is provided by them. This will help the users to review the inputs and correct errors if any.</p>
                                    <img src="assets/best-practices/show-a-preview.png" alt="show a preview">
                                   </div> -->

                                   <div class="row top-space-with-top">
                                    <h4>Keep Form Labels Visible At All Times</h4>
                                    <!-- <p>Make sure to provide clear and visible labels to all the fields in a form. This will help the users to easily understand the purpose of the fields and to fill in the correct information in the input fields.</p> -->
                                    <img src="assets/best-practices/keep-form-labels.png" alt="keep form labels">
                                   </div>

                                   <!-- <div class="row top-space-with-top">
                                    <h4>Position placeholder text outside the form element</h4>
                                    <p>Positioning the placeholder text within the form fields/elements make it difficult for the users to remember the specified information because the text disappears when the cursor is placed in a form field. Providing the text outside the form element is recommended so that the information is visible to the user.</p>
                                    <img src="assets/best-practices/position-common.png" alt="position placeholder">
                                   </div> -->
                            </div>
                            <!-- <div class="col-md-3 col-lg-3">
                                <div class="p-fixed">
                                    <ul>
                                        <li>Remove Unnecessary Borders</li>
                                        <li>Hide Infrequent </li>
                                        <li>Extend Elements</li>
                                        <li>Remove Unnecessary Borders</li>
                                    </ul>
                                </div>
                                
                                
                            </div> -->
                        </div>
                </div>
                <div class="tab-pane fade" id="v-pills-error-loading" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                   
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="row ">
                                 <h4>Differentiate Elements That Triggered an Error</h4>
                                 <p>Need to show the Error and Show the Exact form element when it needs to be rectified</p>
                                 <img src="assets/best-practices/differentiate-elements.png" alt="differentiate elements">
                                </div>
    
                                <div class="row top-space-with-top">
                                    <h4>Describe the Input That You Require From Users</h4>
                                    <!-- <p>Provide more information about the input that the user must provide. You can display examples, optional elements, expected input parameters, etc., in a visible place. This will minimize the errors and prepares the user well in advance. .</p> -->
                                    <img src="assets/best-practices/describe-input.png" alt="describe input">
                                   </div>
    
    
                                   <!-- <div class="row top-space-with-top">
                                    <h4>Display success messages after important interactions</h4>
                                    <p>A success or confirmation message must be displayed after an important interaction. This real-time communication with the user will acknowledge them that their interaction is successful or effective or complete. This way the user may not wait or think what to do next, which will help in avoiding confusion and saving time.</p>
                                    <img src="assets/best-practices/displlay-success.png" alt="displlay success">
                                   </div>
                                   
                                   <div class="row top-space-with-top">
                                    <h4>Keep users engaged during lengthy waiting periods</h4>
                                    <p>In some circumstances the loading time is unavoidable, and this can make users impatient. When these experiences arise make sure to engage the user in the best possible way. </p>
                                    <img src="assets/best-practices/Keep-users-engaged.png" alt="Keep users engaged">
                                   </div>
    
                                   <div class="row top-space-with-top">
                                    <h4>Explain the reason for validation errors</h4>
                                    <p>An error occurs when the user makes a mistake. Highlighting the error will only help the user to locate the error, but explaining the error or providing a solution for the error will help the user to resolve the error in less time and avoid misperceptions.</p>
                                    <img src="assets/best-practices/explain-the-reason.png" alt="explain the reason">
                                   </div>
     -->
                                  
                            </div>
                            <!-- <div class="col-md-3 col-lg-3">
                                 <div class="p-fixed">
                                    <ul>
                                        <li>Remove Unnecessary Borders</li>
                                        <li>Hide Infrequent </li>
                                        <li>Extend Elements</li>
                                        <li>Remove Unnecessary Borders</li>
                                    </ul>
                                </div>
                                
                            </div> -->
                        </div>
                </div>


                <div class="tab-pane fade" id="v-pills-links-buttons" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="row ">
                                    <div style="height: 50px; width: 100%;"> <h4>Use Descriptive Button Labels</h4></div>
                                    <div style="height: 50px; width: 100%;">  <p>Give the meaningful labels for the button instead of Submit</p></div>
                                 <img src="assets/best-practices/use-descriptive.png" alt="use descriptive">
                                </div>
    
                                <!-- <div class="row top-space-with-top">
                                    <h4>Indicate which items the cursor is hovering over</h4>
                                    <p>It is important to visually identify the user interface elements when they receive keyboard focus or when the mouse pointer hovers. If the focused/hovered elements are not indicated/differentiated, then the users may not be confident about the element they are going to select.</p>
                                    <img src="assets/best-practices/indicate-items.png" alt="indicate items">
                                   </div> -->
    
    
                                   <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;">  <h4>Use Different Colors for Visited Links</h4></div>
                                    <!-- <p>If there is more than one link displayed on a page, then it is recommended to use different colors for links that the user had already visited.  Using different colors for the visited links will help the user to differentiate visited and unvisited links.</p> -->
                                    <img src="assets/best-practices/use-different-color.png" alt="use different color">
                                   </div>
                                   
                                   
                            </div>
                           
                        </div>
                </div>


                <div class="tab-pane fade" id="v-pills-miscellaneous" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="row ">
                                    <div style="height: 50px; width: 100%;"> <h4>Reveal the Number of Steps Within a Sequence</h4></div>
                                    <div style="height: 50px; width: 100%;"> <p>Inform the user where he is and how many sequence he needs to cover</p></div>
                                 <img src="assets/best-practices/within-a-sequence.png" alt="within a sequence">
                                </div>
    
                                <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;"> <h4>Reveal the Number of Items in a Category</h4></div>
                                    <!-- <p>Always consider displaying the total number of items in each category to the user. This will provide a better understanding in weighing up the category.</p> -->
                                    <img src="assets/best-practices/items-in-category.png" alt="items in category">
                                    <img src="assets/best-practices/items-in-category-2.png" alt="items in category">
                                   </div>
    
    
                                   <!-- <div class="row top-space-with-top">
                                    <h4>Offer keyboard shortcuts for repetitive functions</h4>
                                    <p>Ensure to provide keyboard shortcuts for frequently used commands/functions. The shortcut keys provide an easier and quicker way to navigate and execute commands, thus increasing the user productivity.</p>
                                    <img src="assets/best-practices/repetitive-functions.png" alt="repetitive functions">
                                   </div>

                                   <div class="row top-space-with-top">
                                    <h4>Indicate or Preview the Next Item in a Sequence</h4>
                                    <p>Display the preview option in a sequence to make it easier for the user to get an outline of the information that is coming in. The user does not need to wait for the next item in the sequence to load, instead the preview will help to decide whether or not to commit an action.</p>
                                    <img src="assets/best-practices/item-in-sequence.png" alt="item in sequence">
                                   </div> -->

                                   <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;"> <h4>Provide Quick Wins During Onboarding</h4></div>
                                    <div style="height: 50px; width: 100%;"> <p>Show the Recommendations to the user.</p></div>
                                    <!-- <p>Make sure to provide Quick Wins during the onboarding process to increase user engagement and encourage user to act.</p> -->
                                    <img src="assets/best-practices/during-onboarding.png" alt="during onboarding">
                                   </div>

                                   <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;"><h4>Indicate the Options That Most Users Choose</h4></div>
                                    <!-- <p>If a task has choices, then point out the option that most users choose, this way it will reduce the effort by simplifying the task.</p> -->
                                    <img src="assets/best-practices/users-choose.png" alt="users choose">
                                   </div>

                                   <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;"> <h4>Add Copy Buttons to Movable Input</h4></div>
                                    <!-- <p>Provide a copy button to the movable input elements. This will help the user to avoid back and forth navigation, and it will not force the user to remember everything that appears on the movable input element. </p> -->
                                    <img src="assets/best-practices/movable-input.png" alt="movable input">
                                   </div>
                                   <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;"> <h4>Add dotted textures to drag and drop elements</h4></div>
                                    <div style="height: 50px; width: 100%;"> <p>The dotted textures are the commonly used styles for drag and drop interactions. The drag and drop interactions may be overlooked or go unnoticed if the dotted textures are not used.</p></div>
                                    <img src="assets/best-practices/drip-elements.png" alt="drip elements">
                                   </div>
                                   <div class="row top-space-with-top">
                                    <div style="height: 50px; width: 100%;">  <h4>Provide a Visible Close on Popups and Modal Boxes</h4></div>
                                    <!-- <p>The popups or modal boxes are message boxes that appears in the browser displaying errors, warnings, informational boxes, and more. Some modals are typically locked within the browser, that requires a user response or interaction before it can be dismissed from the page. In such cases, it is recommended to implement a clear and visible close button within the modal.</p> -->
                                    <img src="assets/best-practices/modal-boxes.png" alt="modal boxes">
                                   </div>
                                   
                                   
                            </div>
                           
                        </div>
                </div>

                

                <div class="tab-pane fade" id="v-pills-tables-data" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    
                        <div class="row">
                            <div class="col-md-6 col-lg-8">
                                <div class="row">
                                 <h4>Let Users Control the Appearance of Data</h4>
                                 <p>We need to give the controls to the user in such as way they can view the Data as per their needs</p>
                                 <!-- <p>
                                     Let users control the appearance of data <br> <br>
                                     Let users control the order of data <br> <br>
                                     Let users control the quantity of data <br> <br>
                                 </p> -->
                                 <img src="assets/best-practices/lets-user-control.png" alt="lets user control">
                                </div>
    
                                
                            </div>
                            
                        </div>
                </div>


                
                
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    Images & Graphics
                    <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                        In this post, I will tell you, Add Bootstrap .
                    </p>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Layout & Design
                    <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                        In this post, I will tell you, Add Bootstrap .
                    </p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


</div>

<!-- 
<div class="row">
    <div class="col-md-12 mb-12 element-body">


        <div class="col-md-3">

         <div class="inner-vertical-tabs">
             <div class="tab active">
                Layout & Design 
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>
             <div class="tab">
                Navigation & Menus
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>
             <div class="tab">
                Images & Graphics
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>
             <div class="tab">
                Layout & Design
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>
             <div class="tab">
                Layout & Design
                <p class="tagline-txt">Hello to all, welcome to therichpost.com. 
                    In this post, I will tell you, Add Bootstrap .
                </p>
             </div>


         </div>
         
        </div>

        <div class="col-md-9">

           <div class="inner-vertical-tabs-body">
               <div class="row">
                <div class="col-md-8">
                    <h4>Remove Unnecessary Borders</h4> 
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                </div>
    
                <div class="col-md-4">
                <img src="assets/best-practices/img-01.png" alt="">
                </div>
               </div>
           </div>



        </div>



    </div>
    </div> -->