<div class="container-fluid">


  <div class="row">
  
      <div class="element-body col-lg-12">
        <div class="row">
          <div class="col-md-4">
            Total TIckets
          </div>
          <div class="col-md-4">
            <div class="tickets-list">
              <div class="ticket-item">
                <div class="user-letter">
                  <div class="letter-icon">
                    S
                  </div>
                </div>
                <div class="user-details">
                  <h4>sampath Kumar</h4>
                  <p>Hi I have not received item even I have paid amount</p>

                </div>
                <div class="time">
                  <p class="pragraph2">3.00 pm</p>
                </div>
                <div style="clear:both;"></div>

              </div>
              <div style="clear:both;"></div>
            </div>


            <div class="tickets-list">
              <div class="ticket-item">
                <div class="user-letter">
                  <div class="letter-icon">
                    Q
                  </div>
                </div>
                <div class="user-details">
                  <h4>sampath Kumar</h4>
                  <p>Hi I have not received item even I have paid amount</p>

                </div>
                <div class="time">
                  <p class="pragraph2">3.00 pm</p>
                </div>
                <div style="clear:both;"></div>

              </div>
              <div style="clear:both;"></div>
            </div>


            <div class="tickets-list">
              <div class="ticket-item">
                <div class="user-letter">
                  <div class="letter-icon">
                    M
                  </div>
                </div>
                <div class="user-details">
                  <h4>sampath Kumar</h4>
                  <p>Hi I have not received item even I have paid amount</p>

                </div>
                <div class="time">
                  <p class="pragraph2">3.00 pm</p>
                </div>
                <div style="clear:both;"></div>

              </div>
              <div style="clear:both;"></div>
            </div>


            <div class="tickets-list">
              <div class="ticket-item">
                <div class="user-letter">
                  <div class="letter-icon">
                    P
                  </div>
                </div>
                <div class="user-details">
                  <h4>sampath Kumar</h4>
                  <p>Hi I have not received item even I have paid amount</p>

                </div>
                <div class="time">
                  <p class="pragraph2">3.00 pm</p>
                </div>
                <div style="clear:both;"></div>

              </div>
              <div style="clear:both;"></div>
            </div>
          </div>
          <div class="col-md-4">asdfasdfasdf</div>
          
        </div>
      </div>
  </div>
</div>
      
      
      
      
      
      