<div class="container-fluid">

  <div class="row ">
  
      <div class="element-body col-md-12 p-0">
          <div class="row">
              
              <div class="col-3 hight-80 rt-bdr-1op4 p-0">
                  <div class="inner-vertical-tabs">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="active" id="v-pills-home-tab" data-toggle="pill" href="#categories" role="tab" aria-controls="v-pills-home" aria-selected="true">
                      <div class="tab ">
                        <div class="tickets-list">
                          <div class="ticket-item">
                            <div class="user-letter">
                              <div class="letter-icon">
                                S
                              </div>
                            </div>
                            <div class="user-details">
                              <h4>sampath Kumar</h4>
                              <p>Hi I have not received item even I have paid amount</p>
            
                            </div>
                            <div class="time">
                              <p class="pragraph2">3.00 pm</p>
                            </div>
                            <div style="clear:both;"></div>
            
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                         
                       </div>
                  </a>
                  <a  id="v-pills-profile-tab" data-toggle="pill" href="#sub-categories" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                      <div class="tab ">
                        <div class="tickets-list">
                          <div class="ticket-item">
                            <div class="user-letter">
                              <div class="letter-icon">
                                S
                              </div>
                            </div>
                            <div class="user-details">
                              <h4>sampath Kumar</h4>
                              <p>Hi I have not received item even I have paid amount</p>
            
                            </div>
                            <div class="time">
                              <p class="pragraph2">3.00 pm</p>
                            </div>
                            <div style="clear:both;"></div>
            
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                         
                        
                          
                       </div>
                  </a>
                  <a id="v-pills-messages-tab" data-toggle="pill" href="#products" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                      <div class="tab ">
                        <div class="tickets-list">
                          <div class="ticket-item">
                            <div class="user-letter">
                              <div class="letter-icon">
                                S
                              </div>
                            </div>
                            <div class="user-details">
                              <h4>sampath Kumar</h4>
                              <p>Hi I have not received item even I have paid amount</p>
            
                            </div>
                            <div class="time">
                              <p class="pragraph2">3.00 pm</p>
                            </div>
                            <div style="clear:both;"></div>
            
                          </div>
                          <div style="clear:both;"></div>
                        </div>
                         
                       </div>
                  </a>
                  
                
                </div>
                  </div>
              </div>
  
  
              
              <div class="col-6 hight-80 rt-bdr-1op4">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="categories" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="ticket-body">
                      <div class="header">header</div>
                      <div class="user-reply">user reply messages</div>
                      <div class="support-comment">support reply box</div>
                    </div>  

                     
                            

                  </div>
                  <div class="tab-pane fade" id="sub-categories" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        
                          asdfasdfsadfasdf
                      </div>
                  </div>

                  </div>
  
                  <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        
                          asfasdfsadfasdf
                      </div>
                  </div>
                  <div class="divider-50"></div>

                 


                  

                 
                  

                  </div>
  
                </div>
              </div>
              <div class="col-3 hight-80">
                <h3>transaction journal</h3>
              </div>
            </div>
      </div>
  </div>
  
  
  </div>
  
 