
<div class="container-fluid">

  <!-- <div class="row innerpage-colors-banner">
   
      <div class="col-sm-6 col-lg-6 ">
       
       <img src="assets/img/gif-imgs/color_banner.gif" alt="colors">
         
      </div> 
      <div class="col-sm-6 col-lg-6">
        <div class="divider-50"></div>
       <h2>Introducing adaptive color system.</h2>
       <p>Colors provide your interface a sense of visual continuity, bring attention to primary actions, and highlight important information. Using a specific scheme of colors helps to communicate the information to users in an intuitive way. The color guidelines advise a rich color scheme that indicates interactivity, provides the UI a sense of visual continuity, and gives feedback to user actions. </p>
         
      </div>
      
    </div> -->


    <div class="animated fadeIn">
      <div>
        <img src="assets/colors-banner.png" style="width: 100%;height:auto;" alt="">
    </div>
      </div>
<!--   
    <div class="divider-50"></div> -->
    


    <div class="element-body">
      <div class="row p-15">
        <div class="col-sm-12 col-lg-12">
          <h1 class="primary-txt">Themes </h1>
          <p>ASG products can use a light or dark application theme. The theme affects the colors of the application background, text, icons, and common controls. By default, ASG products theme can be decided based on the user's mental module and theme preference.</p>
         
         </div>

         <!-- <div class="col-sm-6 col-lg-8 p-15">

          <img src="assets/themes-img.png" alt="">            
          </div>  -->
      </div>
    </div>


    
   


<div class="row">
<div class="col-md-12 mb-12 element-body">
  
  <!-- Nav tabs -->
  <tabset>
    <tab heading="Light Mode Theme">
    


      <div class="row">
        <div class="col-sm-4 col-lg-5" >
          <div class="row primary-color-pallet-box">
            <h3>Light Theme </h3>
            <p>Light theme is the default theme for branding on various ASG applications. With its light backgrounds, dark fonts and vibrant colors, to add the contrast is on basis of AA rating for accessibility.
            
              </p>
            <!-- <div class="header"><h5>Primary Colors</h5></div> -->

            <div class="divider-50"></div>
            <div class="col-md-3">
              <div class="box-size shade-01"> <h6 style="color:#FFF">Primary</h6></div>
              <div class="box-code">#1C3972</div>
              <!-- <div class="box-code">Primary</div> -->
            </div>
            <div class="col-md-3">
              <div class="box-size shade-02"></div>
              <div class="box-code">#EAEEF2</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-03"></div>
              <div class="box-code">#6387F2</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-04"></div>
              <div class="box-code">#175CE6</div>
            </div>
            <div style="height:20px; width:100%; ">&nbsp;</div>
            <div class="col-md-3">
              <div class="box-size shade-05"><h6 style="color:#000">Secondary</h6></div>
              <div class="box-code">#26B4CC</div>
            </div>

           
          
          </div>
        </div> 

        <div class="col-sm-4 col-lg-2" ></div>

        <div class="col-sm-4 col-lg-5" >
          <div class="row primary-color-pallet-box">

            <div class="header"><h3>Accent Colors</h3>
            <p>Common controls can use an accent color to convey state of information. </p>
          </div>
            <div class="col-md-3">
              <div class="box-size shade-06"> <h6 style="color:#FFF">Hover</h6></div>
              <div class="box-code">#175CE6</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-07"> <h6 style="color:#FFF">Pressed</h6></div>
              <div class="box-code">#175CE6</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-08"><h6 style="color:#FFF">Default</h6></div>
              <div class="box-code">#EDF2F8</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-09"><h6>Disabled</h6></div>
              <div class="box-code">#F8FBFD</div>
            </div>
            <div class="divider-50"></div>

            <img src="assets/img/common/light-mode.png" alt="light theme">
          </div>
        </div> 
      </div>
      <div class="divider-50"></div>
      <!-- <div id="accordion">
        <div class="accordion">
          <a class="card-link nav-dropdown-toggle" data-toggle="collapse" href="#light-spl-pallet" >
            <div class="header">
            
              Special colors only for Graphs, Avatars, bots, and so on.
              
          </div>
        </a>
          <div id="light-spl-pallet" class="collapse" data-parent="#accordion">
            <div class="body">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="">
                    <h2>Special colors </h2>
                    <p>Special colors are created for the decoration purposes and provides you more colors to the design. These colors will be helpful for Graphs, Avatars, bots, and so on..</p>
                    
                      <table class="col-sm-12 col-lg-12 light-special-color-pallet">
                        <tr>
                          <td class="asg-red-1">asg-red-1</td>
                          <td class="asg-pink-1">asg-pink-1</td>
                          <td class="asg-purple-1">asg-purple-1</td>
                          <td class="asg-indigo-1">asg-indigo-1</td>
                          <td class="asg-steelblue-1">asg-steelblue-1</td>
                          <td class="asg-turquoise-1">asg-turquoise-1</td>
                          <td class="asg-seagreen-1">asg-seagreen-1</td>
                          <td class="asg-yellowgreen-1">asg-yellowgreen-1</td>
                          <td class="asg-goldenrod-1">asg-goldenrod-1</td>
                        </tr>
                        <tr>
                          <td class="asg-red-2">asg-red-2</td>
                          <td class="asg-pink-2">asg-pink-2</td>
                          <td class="asg-purple-2">asg-purple-2</td>
                          <td class="asg-indigo-2">asg-indigo-2</td>
                          <td class="asg-steelblue-2">asg-steelblue-2</td>
                          <td class="asg-turquoise-2">asg-turquoise-2</td>
                          <td class="asg-seagreen-2">asg-seagreen-2</td>
                          <td class="asg-yellowgreen-2">asg-yellowgreen-2</td>
                          <td class="asg-goldenrod-2">asg-goldenrod-2</td>
                        </tr>
                        <tr>
                          <td class="asg-red-3">asg-red-3</td>
                          <td class="asg-pink-3">asg-pink-3</td>
                          <td class="asg-purple-3">asg-purple-3</td>
                          <td class="asg-indigo-3">asg-indigo-3</td>
                          <td class="asg-steelblue-3">asg-steelblue-3</td>
                          <td class="asg-turquoise-3">asg-turquoise-3</td>
                          <td class="asg-seagreen-3">asg-seagreen-3</td>
                          <td class="asg-yellowgreen-3">asg-yellowgreen-3</td>
                          <td class="asg-goldenrod-3">asg-goldenrod-3</td>
                        </tr>
                        <tr>
                          <td class="asg-red-4">asg-red-4</td>
                          <td class="asg-pink-4">asg-pink-4</td>
                          <td class="asg-purple-4">asg-purple-4</td>
                          <td class="asg-indigo-4">2asg-indigo-4</td>
                          <td class="asg-steelblue-4">asg-steelblue-4</td>
                          <td class="asg-turquoise-4">asg-turquoise-4</td>
                          <td class="asg-seagreen-4">asg-seagreen-4</td>
                          <td class="asg-yellowgreen-4">asg-yellowgreen-4</td>
                          <td class="asg-goldenrod-4">asg-goldenrod-4</td>
                        </tr>
                        <tr>
                          <td class="asg-red-5">asg-red-5</td>
                          <td class="asg-pink-5">asg-pink-5</td>
                          <td class="asg-purple-5">asg-purple-5</td>
                          <td class="asg-indigo-5">asg-indigo-5</td>
                          <td class="asg-steelblue-5">asg-steelblue-5</td>
                          <td class="asg-turquoise-5">asg-turquoise-5</td>
                          <td class="asg-seagreen-5">asg-seagreen-5</td>
                          <td class="asg-yellowgreen-5">asg-yellowgreen-5</td>
                          <td class="asg-goldenrod-5">asg-goldenrod-5</td>
                        </tr>
                        <tr>
                          <td class="asg-red-6">asg-red-6</td>
                          <td class="asg-pink-6">asg-pink-6</td>
                          <td class="asg-purple-6">asg-purple-6</td>
                          <td class="asg-indigo-6">asg-indigo-6</td>
                          <td class="asg-steelblue-6">asg-steelblue-6</td>
                          <td class="asg-turquoise-6">asg-turquoise-6</td>
                          <td class="asg-seagreen-6">asg-seagreen-6</td>
                          <td class="asg-yellowgreen-6">asg-yellowgreen-6</td>
                          <td class="asg-goldenrod-6">asg-goldenrod-6</td>
                        </tr>
                        <tr>
                          <td class="asg-red-7">asg-red-7</td>
                          <td class="asg-pink-7">asg-pink-7</td>
                          <td class="asg-purple-7">asg-purple-7</td>
                          <td class="asg-indigo-7">asg-indigo-7</td>
                          <td class="asg-steelblue-7">asg-steelblue-7</td>
                          <td class="asg-turquoise-7">asg-turquoise-7</td>
                          <td class="asg-seagreen-7">asg-seagreen-7</td>
                          <td class="asg-yellowgreen-7">asg-yellowgreen-7</td>
                          <td class="asg-goldenrod-7">asg-goldenrod-7</td>
                        </tr>
                        <tr>
                          <td class="asg-red-8">asg-red-8</td>
                          <td class="asg-pink-8">asg-pink-8</td>
                          <td class="asg-purple-8">asg-purple-7</td>
                          <td class="asg-indigo-8">asg-indigo-8</td>
                          <td class="asg-steelblue-8">asg-steelblue-8</td>
                          <td class="asg-turquoise-8">asg-turquoise-8</td>
                          <td class="asg-seagreen-8">asg-seagreen-8</td>
                          <td class="asg-yellowgreen-8">asg-yellowgreen-8</td>
                          <td class="asg-goldenrod-8">asg-goldenrod-8</td>
                        </tr>
                        <tr>
                          <td class="asg-red-9">asg-red-9</td>
                          <td class="asg-pink-9">asg-pink-9</td>
                          <td class="asg-purple-9">asg-purple-9</td>
                          <td class="asg-indigo-9">asg-indigo-9</td>
                          <td class="asg-steelblue-9">asg-steelblue-9</td>
                          <td class="asg-turquoise-9">asg-turquoise-9</td>
                          <td class="asg-seagreen-9">asg-seagreen-9</td>
                          <td class="asg-yellowgreen-9">asg-yellowgreen-9</td>
                          <td class="asg-goldenrod-9">asg-goldenrod-9</td>
                        </tr>
              
                        <tr>
                          <td class="asg-red-10">asg-red-10</td>
                          <td class="asg-pink-10">asg-pink-10</td>
                          <td class="asg-purple-10">asg-purple-10</td>
                          <td class="asg-indigo-10">asg-indigo-10</td>
                          <td class="asg-steelblue-10">asg-steelblue-10</td>
                          <td class="asg-turquoise-10">asg-turquoise-10</td>
                          <td class="asg-seagreen-10">asg-seagreen-10</td>
                          <td class="asg-yellowgreen-10">asg-yellowgreen-10</td>
                          <td class="asg-goldenrod-10">asg-goldenrod-10</td>
                        </tr>
                        
                      </table>
              
                
                  
                    
                  </div>
                   
                </div> 
              </div>
            </div>
          </div>
        </div>
       
    
      </div> -->



      <!-- <div class="row">
        <div class="col-md-6 col-lg-8">
          <h2>Secondary color</h2>
          <p>Secondary colors offer more means to differentiate your product as well make your interface more appealing. They are optional and should be used sparingly, such as to focus on the most important action or information on a screen. </p>
            
         </div>
  
         <div class="col-md-6 col-lg-4">
          <div style="width:60%; background:#26B4CC; color:#000; padding:15px;">
            <h4>#26B4CC</h4>
            <p>Secondary color</p>
          </div>   
         </div>  
       </div>

       <div class="divider-50"></div>

       <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div class="">
            <h2>Neutral color spectrum</h2>
            <p>In general, black is mainly used as a text and background color, while white offers contrast and clear spacing.</p>
            
            <div class="color-page-pallet2 neutral-color-spectrum">
                
              <div class="shade-01">#4DF0FF</div>
              <div class="shade-02">#175CE6</div>
              <div class="shade-03">#B3D0FF</div>
              <div class="shade-04">#010203</div>
              <div class="shade-05">#4DF0FF</div>
              <div class="shade-06">#175CE6</div>
              <div class="shade-07">#B3D0FF</div>
              <div class="shade-08">#010203</div>
              <div class="shade-09">#4DF0FF</div>
              <div class="shade-10">#175CE6</div>
      
          </div> 
          
            
          </div>
           
        </div> 
       </div>


       <div class="divider-50"></div>



      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div class="">
            <h2>Neutral color spectrum</h2>
            <p>In general, black is mainly used as a text and background color, while white offers contrast and clear spacing.</p>
            
            
                
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="semantic-colors-pallet semantic-colors"> 
                    <div class="color-block error">&nbsp;</div>
                    <div class="color-text">
                      <h5>Error</h5>
                      <b>#F97E7E</b>
                      <p>Error colour indicates a bad or negative status or consequence.</p>
                    </div>
                  </div> 
                </div>
      
                <div class="col-md-6 col-lg-4">
                  <div class="semantic-colors-pallet semantic-colors"> 
                    <div class="color-block warning">&nbsp;</div>
                    <div class="color-text">
                      <h5>Warning</h5>
                      <b>#FEDE71</b>
                      <p>Warning color stands indicates a critical situations of task/action.</p>
                    </div>
                  </div> 
                </div>
      
                <div class="col-md-6 col-lg-4">
                  <div class="semantic-colors-pallet semantic-colors"> 
                    <div class="color-block success">&nbsp;</div>
                    <div class="color-text">
                      <h5>Success</h5>
                      <b>#42BE65</b>
                      <p>It indicates a good, positive emotion for a completion of a task.</p>
                    </div>
                  </div> 
                </div>
      
                <div class="col-md-6 col-lg-4">
                  <div class="semantic-colors-pallet semantic-colors"> 
                    <div class="color-block information">&nbsp;</div>
                    <div class="color-text">
                      <h5>Information</h5>
                      <b>#7789B1</b>
                      <p>This color is used for an information state.</p>
                    </div>
                  </div> 
                </div>
      
                <div class="col-md-6 col-lg-4">
                  <div class="semantic-colors-pallet semantic-colors"> 
                    <div class="color-block general">&nbsp;</div>
                    <div class="color-text">
                      <h5>General</h5>
                      <b>#E3E3E3</b>
                      <p>This color is used for a neutral state.</p>
                    </div>
                  </div> 
                </div>
              </div>
      
        
          
            
          </div>
           
        </div> 
      </div>

      

<div class="divider-50"></div>

<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="">
      <h2>Special colors </h2>
      <p>Special colors are created for the decoration purposes and provides you more colors to the design. These colors will be helpful for Graphs, Avatars, bots, and so on..</p>
      
        <table class="col-sm-12 col-lg-12 light-special-color-pallet">
          <tr>
            <td class="shade-01">350,10,100</td>
            <td class="shade-11">330,10,100</td>
            <td class="shade-21">260,10,100</td>
            <td class="shade-31">235,10,100</td>
            <td class="shade-41">215,10,100</td>
            <td class="shade-51">215,10,100</td>
            <td class="shade-61">150,10,100</td>
            <td class="shade-71">80,10,100</td>
            <td class="shade-81">50,10,100</td>
          </tr>
          <tr>
            <td class="shade-02">350,20,90</td>
            <td class="shade-12">330,20,100</td>
            <td class="shade-22">260,20,100</td>
            <td class="shade-32">235,20,100</td>
            <td class="shade-42">225,20,90</td>
            <td class="shade-52">225,20,90</td>
            <td class="shade-62">150,20,90</td>
            <td class="shade-72">80,20,90</td>
            <td class="shade-82">50,20,90</td>
          </tr>
          <tr>
            <td class="shade-03">350,30,80</td>
            <td class="shade-13">330,30,100</td>
            <td class="shade-23">260,30,100</td>
            <td class="shade-33">240,30,100</td>
            <td class="shade-43">220,40,80</td>
            <td class="shade-53">220,40,80</td>
            <td class="shade-63">150,40,80</td>
            <td class="shade-73">80,40,80</td>
            <td class="shade-83">50,40,80</td>
          </tr>
          <tr>
            <td class="shade-04">350,50,70</td>
            <td class="shade-14">330,50,100</td>
            <td class="shade-24">260,50,100</td>
            <td class="shade-34">240,50,100</td>
            <td class="shade-44">220,50,70</td>
            <td class="shade-54">220,50,70</td>
            <td class="shade-64">150,50,70</td>
            <td class="shade-74">80,50,70</td>
            <td class="shade-84">50,50,70</td>
          </tr>
          <tr>
            <td class="shade-05">350,50,60</td>
            <td class="shade-15">330,50,60</td>
            <td class="shade-25">260,50,60</td>
            <td class="shade-35">240,50,60</td>
            <td class="shade-45">220,50,60</td>
            <td class="shade-55">220,50,60</td>
            <td class="shade-65">150,50,60</td>
            <td class="shade-75">80,50,60</td>
            <td class="shade-85">50,50,60</td>
          </tr>
          <tr>
            <td class="shade-06">350,90,90</td>
            <td class="shade-16">330,60,50</td>
            <td class="shade-26">260,60,50</td>
            <td class="shade-36">240,60,50</td>
            <td class="shade-46">220,60,50</td>
            <td class="shade-56">220,60,50</td>
            <td class="shade-66">150,60,50</td>
            <td class="shade-76">80,60,50</td>
            <td class="shade-86">50,60,50</td>
          </tr>
          <tr>
            <td class="shade-07">350,70,80</td>
            <td class="shade-17">330,70,40</td>
            <td class="shade-27">260,70,40</td>
            <td class="shade-37">240,70,40</td>
            <td class="shade-47">220,70,40</td>
            <td class="shade-57">220,70,40</td>
            <td class="shade-67">150,70,40</td>
            <td class="shade-77">80,70,40</td>
            <td class="shade-87">50,70,40</td>
          </tr>
          <tr>
            <td class="shade-08">350,80,30</td>
            <td class="shade-18">330,80,30</td>
            <td class="shade-28">260,80,30</td>
            <td class="shade-38">240,80,30</td>
            <td class="shade-48">220,80,30</td>
            <td class="shade-58">220,80,30</td>
            <td class="shade-68">150,80,30</td>
            <td class="shade-78">80,80,30</td>
            <td class="shade-88">50,80,30</td>
          </tr>
          <tr>
            <td class="shade-09">350,100,40</td>
            <td class="shade-19">330,80,20</td>
            <td class="shade-29">260,90,20</td>
            <td class="shade-39">243,90,20</td>
            <td class="shade-49">220,90,20</td>
            <td class="shade-59">220,90,20</td>
            <td class="shade-69">150,90,20</td>
            <td class="shade-79">80,90,20</td>
            <td class="shade-90">50,90,20</td>
          </tr>

          <tr>
            <td class="shade-10">350,100,20</td>
            <td class="shade-20">330,100,10</td>
            <td class="shade-30">260,100,10</td>
            <td class="shade-40">242,100,10</td>
            <td class="shade-50">222,100,10</td>
            <td class="shade-60">222,100,10</td>
            <td class="shade-70">150,100,10</td>
            <td class="shade-80">80,100,10</td>
            <td class="shade-100">50,100,10</td>
          </tr>
          
        </table>

  
    
      
    </div>
     
  </div> 
</div> -->

    </tab>
    <tab heading="Dark Mode Theme " class="dark-tab">
      


      <div class="row">
        <div class="col-sm-4 col-lg-5" >
          <div class="row primary-color-pallet-box-dark">
            <h3>Dark Theme</h3>
            <p>A dark theme is a low-light user interface that displays mainly dark surfaces. It reduces the luminance emitted by screens of devices, nonetheless, meeting minimum color contrast ratios. The themes help facilitate use of screen in dark environments, adjust brightness to current lighting conditions, and improve visual ergonomics by reducing eye strain. 
              </p>

              <div class="divider-50"></div>
            <!-- <div class="header"><h5>Primary Colors</h5></div> -->
            <div class="col-md-3">
              <div class="box-size shade-01"><h6 style="color:#FFF">Primary</h6></div>
              <div class="box-code">#1C3972</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-02"></div>
              <div class="box-code">#EAEEF2</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-03"></div>
              <div class="box-code">#6387F2</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-04"></div>
              <div class="box-code">#175CE6</div>
            </div>
            <div style="height:20px; width:100%; ">&nbsp;</div>
            <div class="col-md-3">
              <div class="box-size shade-05"><h6 style="color:#000">Secondary</h6></div>
              <div class="box-code">#26B4CC</div>
            </div>
          </div>
        </div> 

        <div class="col-sm-4 col-lg-2" ></div>

        <div class="col-sm-4 col-lg-5" >
          <div class="row primary-color-pallet-box">

            <div class="header"><h3>Accent Colors</h3>
            <p>Common controls can use an accent color to convey state of information. </p>
          </div>
            <div class="col-md-3">
              <div class="box-size shade-06"><h6 style="color:#FFF">Hover</h6></div>
              <div class="box-code">#175CE6</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-07"><h6 style="color:#FFF">Press</h6></div>
              <div class="box-code">#175CE6</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-08"><h6 style="color:#FFF">Default</h6></div>
              <div class="box-code">#EDF2F8</div>
            </div>
            <div class="col-md-3">
              <div class="box-size shade-09"> <h6>Disabled</h6></div>
              <div class="box-code">#F8FBFD</div>
            </div>
          </div>
          <div class="divider-50"></div>

            <img src="assets/img/common/dark-mode.png" alt="dark theme">
        </div> 
      </div>
      <div class="divider-50"></div>


<div class="divider-50"></div>


<!-- <div id="accordion">
  <div class="accordion">
    <a class="card-link nav-dropdown-toggle" data-toggle="collapse" href="#collapseOne" >
      <div class="header">
      
        Special colors only for Graphs, Avatars, bots, and so on.
        
    </div>
  </a>
    <div id="collapseOne" class="collapse" data-parent="#accordion">
      <div class="body">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <div class="">
              <h2>Special colors (HSL) </h2>
              <p>Special colors are created for the decoration purposes and provides you more colors to the design. These colors will be helpful for Graphs, Avatars, bots, and so on.</p>
              
                <table class="col-sm-12 col-lg-12 dark-special-color-pallet">
                  <tr>
                    <td class="asg-d-red-1">asg-d-red-1</td>
                    <td class="asg-d-pink-1">asg-d-pink-1</td>
                    <td class="asg-d-purple-1">asg-d-purple-1</td>
                    <td class="asg-d-indigo-1">asg-d-indigo-1</td>
                    <td class="asg-d-steelblue-1">asg-d-steelblue-1</td>
                    <td class="asg-d-turquoise-1">asg-d-turquoise-1</td>
                    <td class="asg-d-seagreen-1">asg-d-seagreen-1</td>
                    <td class="asg-d-yellowgreen-1">asg-d-yellowgreen-1</td>
                    <td class="asg-d-goldenrod-1">asg-d-goldenrod-1</td>
                  </tr>
                  <tr>
                    <td class="asg-d-red-2">asg-d-red-2</td>
                    <td class="asg-d-pink-2">asg-d-pink-2</td>
                    <td class="asg-d-purple-2">asg-d-purple-2</td>
                    <td class="asg-d-indigo-2">asg-d-indigo-2</td>
                    <td class="asg-d-steelblue-2">asg-d-steelblue-2</td>
                    <td class="asg-d-turquoise-2">asg-d-turquoise-2</td>
                    <td class="asg-d-seagreen-2">asg-d-seagreen-2</td>
                    <td class="asg-d-yellowgreen-2">asg-d-yellowgreen-2</td>
                    <td class="asg-d-goldenrod-2">asg-d-goldenrod-2</td>
                  </tr>
                  <tr>
                    <td class="asg-d-red-3">asg-d-red-3</td>
                    <td class="asg-d-pink-3">asg-d-pink-3</td>
                    <td class="asg-d-purple-3">asg-d-purple-3</td>
                    <td class="asg-d-indigo-3">asg-d-indigo-3</td>
                    <td class="asg-d-steelblue-3">asg-d-steelblue-3</td>
                    <td class="asg-d-turquoise-3">asg-d-turquoise-3</td>
                    <td class="asg-d-seagreen-3">asg-d-seagreen-3</td>
                    <td class="asg-d-yellowgreen-3">asg-d-yellowgreen-3</td>
                    <td class="asg-d-goldenrod-3">asg-d-goldenrod-3</td>
                  </tr>
                  <tr>
                    <td class="asg-d-red-4">asg-d-red-4</td>
                    <td class="asg-d-pink-4">asg-d-pink-4</td>
                    <td class="asg-d-purple-4">asg-d-purple-4</td>
                    <td class="asg-d-indigo-4">2asg-d-indigo-4</td>
                    <td class="asg-d-steelblue-4">asg-d-steelblue-4</td>
                    <td class="asg-d-turquoise-4">asg-d-turquoise-4</td>
                    <td class="asg-d-seagreen-4">asg-d-seagreen-4</td>
                    <td class="asg-d-yellowgreen-4">asg-d-yellowgreen-4</td>
                    <td class="asg-d-goldenrod-4">asg-d-goldenrod-4</td>
                  </tr>
                  <tr>
                    <td class="asg-d-red-5">asg-d-red-5</td>
                    <td class="asg-d-pink-5">asg-d-pink-5</td>
                    <td class="asg-d-purple-5">asg-d-purple-5</td>
                    <td class="asg-d-indigo-5">asg-d-indigo-5</td>
                    <td class="asg-d-steelblue-5">asg-d-steelblue-5</td>
                    <td class="asg-d-turquoise-5">asg-d-turquoise-5</td>
                    <td class="asg-d-seagreen-5">asg-d-seagreen-5</td>
                    <td class="asg-d-yellowgreen-5">asg-d-yellowgreen-5</td>
                    <td class="asg-d-goldenrod-5">asg-d-goldenrod-5</td>
                  </tr>
                  <tr>
                    <td class="asg-d-red-6">asg-d-red-6</td>
                    <td class="asg-d-pink-6">asg-d-pink-6</td>
                    <td class="asg-d-purple-6">asg-d-purple-6</td>
                    <td class="asg-d-indigo-6">asg-d-indigo-6</td>
                    <td class="asg-d-steelblue-6">asg-d-steelblue-6</td>
                    <td class="asg-d-turquoise-6">asg-d-turquoise-6</td>
                    <td class="asg-d-seagreen-6">asg-d-seagreen-6</td>
                    <td class="asg-d-yellowgreen-6">asg-d-yellowgreen-6</td>
                    <td class="asg-d-goldenrod-6">asg-d-goldenrod-6</td>
                  </tr>
                  <tr>
                    <td class="asg-d-red-7">asg-d-red-7</td>
                    <td class="asg-d-pink-7">asg-d-pink-7</td>
                    <td class="asg-d-purple-7">asg-d-purple-7</td>
                    <td class="asg-d-indigo-7">asg-d-indigo-7</td>
                    <td class="asg-d-steelblue-7">asg-d-steelblue-7</td>
                    <td class="asg-d-turquoise-7">asg-d-turquoise-7</td>
                    <td class="asg-d-seagreen-7">asg-d-seagreen-7</td>
                    <td class="asg-d-yellowgreen-7">asg-d-yellowgreen-7</td>
                    <td class="asg-d-goldenrod-7">asg-d-goldenrod-7</td>
                  </tr>
                  <tr>
                    <td class="asg-d-red-8">asg-d-red-8</td>
                    <td class="asg-d-pink-8">asg-d-pink-8</td>
                    <td class="asg-d-purple-8">asg-d-purple-7</td>
                    <td class="asg-d-indigo-8">asg-d-indigo-8</td>
                    <td class="asg-d-steelblue-8">asg-d-steelblue-8</td>
                    <td class="asg-d-turquoise-8">asg-d-turquoise-8</td>
                    <td class="asg-d-seagreen-8">asg-d-seagreen-8</td>
                    <td class="asg-d-yellowgreen-8">asg-d-yellowgreen-8</td>
                    <td class="asg-d-goldenrod-8">asg-d-goldenrod-8</td>
                  </tr>
                  <tr>
                    <td class="asg-d-red-9">asg-d-red-9</td>
                    <td class="asg-d-pink-9">asg-d-pink-9</td>
                    <td class="asg-d-purple-9">asg-d-purple-9</td>
                    <td class="asg-d-indigo-9">asg-d-indigo-9</td>
                    <td class="asg-d-steelblue-9">asg-d-steelblue-9</td>
                    <td class="asg-d-turquoise-9">asg-d-turquoise-9</td>
                    <td class="asg-d-seagreen-9">asg-d-seagreen-9</td>
                    <td class="asg-d-yellowgreen-9">asg-d-yellowgreen-9</td>
                    <td class="asg-d-goldenrod-9">asg-d-goldenrod-9</td>
                  </tr>
        
                  <tr>
                    <td class="asg-d-red-10">asg-d-red-10</td>
                    <td class="asg-d-pink-10">asg-d-pink-10</td>
                    <td class="asg-d-purple-10">asg-d-purple-10</td>
                    <td class="asg-d-indigo-10">asg-d-indigo-10</td>
                    <td class="asg-d-steelblue-10">asg-d-steelblue-10</td>
                    <td class="asg-d-turquoise-10">asg-d-turquoise-10</td>
                    <td class="asg-d-seagreen-10">asg-d-seagreen-10</td>
                    <td class="asg-d-yellowgreen-10">asg-d-yellowgreen-10</td>
                    <td class="asg-d-goldenrod-10">asg-d-goldenrod-10</td>
                  </tr>
                  
                </table>
        
          
            
              
            </div>
             
          </div> 
        </div>
      </div>
    </div>
  </div>
 

</div> -->


<!-- 
      <div class="row">
        <div class="col-sm-6 col-lg-6">
          <div class="">
            <h2>Primary color for Dark</h2>
            <p>Primary colors can help to quickly identify a brand and are mostly displayed across your screens and components. Blue is our primary/dominant color and is used to indicate an important action or progress and represent buttons/links.
              You can also use light and dark variants/themes of our primary color to distinguish elements in the user interface.
              </p>
              <div class="color-page-pallet primary-dark-shades">
                <div class="core-color">#26B4CC</div>
                <div class="shade-01">#4DF0FF</div>
                <div class="shade-02">#175CE6</div>
                <div class="shade-03">#B3D0FF</div>
                <div class="shade-04">#010203</div>
      
            </div>     
            
          </div>
           
        </div> 

        <div class="col-sm-6 col-lg-6">
          <div class="">
            
            <h2>Accent color for Dark</h2>
            <p>Common controls can use an accent color to convey state of information.  </p>
              <div class="color-page-pallet accent-dark-shades">
                
                <div class="shade-01">#4DF0FF</div>
                <div class="shade-02">#175CE6</div>
                <div class="shade-03">#B3D0FF</div>
                <div class="shade-04">#010203</div>
      
            </div>     
            
          </div>
           
        </div> 
      </div> -->




      <!-- <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div class="">
            
           <div class="row">
            <div class="col-md-6 col-lg-8">
              <h2>Secondary color for dark</h2>
              <p>Secondary colors offer more means to differentiate your product as well make your interface more appealing. They are optional and should be used sparingly, such as to focus on the most important action or information on a screen. </p>
                
             </div>
      
             <div class="col-md-6 col-lg-4">
              <div style="width:60%; background:#26B4CC; color:#000; padding:15px;">
                <h4>#4DF0FF</h4>
                <p>Secondary color</p>
              </div>   
             </div>  
           </div>
            
          </div>
           
        </div> 

        <div class="divider-50"></div>
      
      
        <div class="col-sm-12 col-lg-12">
          <div class=" ">
            <h2>Neutral color spectrum</h2>
            <p>In general, black is mainly used as a text and background color, while white offers contrast and clear spacing.</p>
            
            <div class="color-page-pallet2 neutral-color-spectrum">
                
              <div class="shade-01">#4DF0FF</div>
              <div class="shade-02">#175CE6</div>
              <div class="shade-03">#B3D0FF</div>
              <div class="shade-04">#010203</div>
              <div class="shade-05">#4DF0FF</div>
              <div class="shade-06">#175CE6</div>
              <div class="shade-07">#B3D0FF</div>
              <div class="shade-08">#010203</div>
              <div class="shade-09">#4DF0FF</div>
              <div class="shade-10">#175CE6</div>
      
          </div> 
          
            
          </div>
           
        </div> 
      </div> -->


    

      
      
      

    </tab>
   
  </tabset>
</div><!--/.col-->
</div>


<div class="row">
  <div class="col-md-12 col-lg-12 element-body">


     <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="">
          <h2>Neutral color spectrum</h2>
          <p>In general, black is mainly used as a text and background color, while white offers contrast and clear spacing.</p>
          
          <div class="color-page-pallet2 neutral-color-spectrum">
              
            <div class="shade-01">#4DF0FF</div>
            <div class="shade-02">#175CE6</div>
            <div class="shade-03">#B3D0FF</div>
            <div class="shade-04">#010203</div>
            <div class="shade-05">#4DF0FF</div>
            <div class="shade-06">#175CE6</div>
            <div class="shade-07">#B3D0FF</div>
            <div class="shade-08">#010203</div>
            <div class="shade-09">#4DF0FF</div>
            <div class="shade-10">#175CE6</div>
    
        </div> 
        
          
        </div>
         
      </div> 
     </div>


     <div class="divider-50"></div>



    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="">
          <h2>Semantic colors</h2>
          <p>Semantic colors are used to emphasize an important status or mean something. ASG has five semantic colors that are related to these predefined states</p>
          
          
              
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="semantic-colors-pallet semantic-colors"> 
                  <div class="color-block error">&nbsp;</div>
                  <div class="color-text">
                    <h5>Error</h5>
                    <b>#F97E7E</b>
                    <p>Error colour indicates a bad or negative status or consequence.</p>
                  </div>
                </div> 
              </div>
    
              <div class="col-md-6 col-lg-4">
                <div class="semantic-colors-pallet semantic-colors"> 
                  <div class="color-block warning">&nbsp;</div>
                  <div class="color-text">
                    <h5>Warning</h5>
                    <b>#FEDE71</b>
                    <p>Warning color stands indicates a critical situations of task/action.</p>
                  </div>
                </div> 
              </div>
    
              <div class="col-md-6 col-lg-4">
                <div class="semantic-colors-pallet semantic-colors"> 
                  <div class="color-block success">&nbsp;</div>
                  <div class="color-text">
                    <h5>Success</h5>
                    <b>#42BE65</b>
                    <p>It indicates a good, positive emotion for a completion of a task.</p>
                  </div>
                </div> 
              </div>
    
              <div class="col-md-6 col-lg-4">
                <div class="semantic-colors-pallet semantic-colors"> 
                  <div class="color-block information">&nbsp;</div>
                  <div class="color-text">
                    <h5>Information</h5>
                    <b>#7789B1</b>
                    <p>This color is used for an information state.</p>
                  </div>
                </div> 
              </div>
    
              <div class="col-md-6 col-lg-4">
                <div class="semantic-colors-pallet semantic-colors"> 
                  <div class="color-block general">&nbsp;</div>
                  <div class="color-text">
                    <h5>General</h5>
                    <b>#E3E3E3</b>
                    <p>This color is used for a neutral state.</p>
                  </div>
                </div> 
              </div>
            </div>
    
      
        
          
        </div>
         
      </div> 
    </div>

    

<div class="divider-50"></div>


  </div>
</div>
    
</div>

  


    <!-- <div class="element-body">
      <div class="row p-15">
        <div class="col-md-12">
          <h2>Themes</h2>
          <p>ASG products can use a light or dark application theme. The theme affects the colors of the application background, text, icons, and common controls.
            By default, ASG products theme can be decided based on the user’s mental module and theme preference.
</p>
        </div>
        <div class="col-sm-6 col-lg-6 ">
        


<h2>Light Theme</h2>
<p>Light theme is the default theme for branding on various ASG applications. With its light backgrounds, dark fonts and vibrant colors, to add the contrast is on basis of AA rating for accessibility.
</p>
<img src="assets/img/common/light-mode.png" style="width:45%;" alt="light Mode">

         </div>
         <div class="col-sm-6 col-lg-6">


          <h2>Dark Theme</h2>
          <p>A dark theme is a low-light user interface that displays mainly dark surfaces. It reduces the luminance emitted by screens of devices, nonetheless, meeting minimum color contrast ratios. The themes help facilitate use of screen in dark environments, adjust brightness to current lighting conditions, and improve visual ergonomics by reducing eye strain. 
          </p>
          <img src="assets/img/common/dark-mode.png" style="width:45%;" alt="light Mode">

          
         

          

           
          </div> 
      </div>
    </div> -->




<!-- 
<div class="row  ">






<div class="col-sm-6 col-lg-6" >
  <div class="element-body">
    <h2>Primary color for Light</h2>
    <p>Primary colors can help to quickly identify a brand and are mostly displayed across your screens and components. Blue is our primary/dominant color and is used to indicate an important action or progress and represent buttons/links.
      You can also use light and dark variants/themes of our primary color to distinguish elements in the user interface.
      </p>
      <div class="color-page-pallet primary-shades">
        <div class="core-color">#1C3972</div>
        <div class="shade-01">#26B4CC</div>
        <div class="shade-02">#175CE6</div>
        <div class="shade-03">#6387F2</div>
        <div class="shade-04">#EAEEF2</div>

    </div>   
    
  </div>
   
</div> 

<div class="col-sm-6 col-lg-6">
  <div class="element-body bg-black">
    <h2>Primary color for Dark</h2>
    <p>Primary colors can help to quickly identify a brand and are mostly displayed across your screens and components. Blue is our primary/dominant color and is used to indicate an important action or progress and represent buttons/links.
      You can also use light and dark variants/themes of our primary color to distinguish elements in the user interface.
      </p>
      <div class="color-page-pallet primary-dark-shades">
        <div class="core-color">#26B4CC</div>
        <div class="shade-01">#4DF0FF</div>
        <div class="shade-02">#175CE6</div>
        <div class="shade-03">#B3D0FF</div>
        <div class="shade-04">#010203</div>

    </div>     
    
  </div>
   
</div> 




<div class="col-sm-6 col-lg-6" >
  <div class="element-body">
    <h2>Accent color</h2>
    <p>Common controls can use an accent color to convey state of information.  </p>
      <div class="color-page-pallet accent-light-shades">
        
        <div class="shade-01">#26B4CC</div>
        <div class="shade-02">#175CE6</div>
        <div class="shade-03">#6387F2</div>
        <div class="shade-04">#EAEEF2</div>

    </div>   
    
  </div>
   
</div> 

<div class="col-sm-6 col-lg-6">
  <div class="element-body bg-black">
    
    <h2>Accent color for Dark</h2>
    <p>Common controls can use an accent color to convey state of information.  </p>
      <div class="color-page-pallet accent-dark-shades">
        
        <div class="shade-01">#4DF0FF</div>
        <div class="shade-02">#175CE6</div>
        <div class="shade-03">#B3D0FF</div>
        <div class="shade-04">#010203</div>

    </div>     
    
  </div>
   
</div> 


<div class="col-sm-12 col-lg-12">
  <div class="element-body ">
    
   <div class="row">
    <div class="col-md-6 col-lg-8">
      <h2>Secondary color</h2>
      <p>Secondary colors offer more means to differentiate your product as well make your interface more appealing. They are optional and should be used sparingly, such as to focus on the most important action or information on a screen. </p>
        
     </div>

     <div class="col-md-6 col-lg-4">
      <div style="width:60%; background:#26B4CC; color:#000; padding:15px;">
        <h4>#26B4CC</h4>
        <p>Secondary color</p>
      </div>   
     </div>  
   </div>
    
  </div>
   
</div> 


<div class="col-sm-12 col-lg-12">
  <div class="element-body bg-black ">
    
   <div class="row">
    <div class="col-md-6 col-lg-8">
      <h2>Secondary color for dark</h2>
      <p>Secondary colors offer more means to differentiate your product as well make your interface more appealing. They are optional and should be used sparingly, such as to focus on the most important action or information on a screen. </p>
        
     </div>

     <div class="col-md-6 col-lg-4">
      <div style="width:60%; background:#26B4CC; color:#000; padding:15px;">
        <h4>#4DF0FF</h4>
        <p>Secondary color</p>
      </div>   
     </div>  
   </div>
    
  </div>
   
</div> 


<div class="col-sm-12 col-lg-12">
  <div class="element-body  ">
    <h2>Neutral color spectrum</h2>
    <p>In general, black is mainly used as a text and background color, while white offers contrast and clear spacing.</p>
    
    <div class="color-page-pallet2 neutral-color-spectrum">
        
      <div class="shade-01">#4DF0FF</div>
      <div class="shade-02">#175CE6</div>
      <div class="shade-03">#B3D0FF</div>
      <div class="shade-04">#010203</div>
      <div class="shade-05">#4DF0FF</div>
      <div class="shade-06">#175CE6</div>
      <div class="shade-07">#B3D0FF</div>
      <div class="shade-08">#010203</div>
      <div class="shade-09">#4DF0FF</div>
      <div class="shade-10">#175CE6</div>

  </div> 
  
    
  </div>
   
</div> 



<div class="col-sm-12 col-lg-12">
  <div class="element-body  ">
    <h2>Neutral color spectrum</h2>
    <p>In general, black is mainly used as a text and background color, while white offers contrast and clear spacing.</p>
    
    
        
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="semantic-colors-pallet semantic-colors"> 
            <div class="color-block error">&nbsp;</div>
            <div class="color-text">
              <h5>Error</h5>
              <b>#F97E7E</b>
              <p>Error colour indicates a bad or negative status or consequence.</p>
            </div>
          </div> 
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="semantic-colors-pallet semantic-colors"> 
            <div class="color-block warning">&nbsp;</div>
            <div class="color-text">
              <h5>Warning</h5>
              <b>#FEDE71</b>
              <p>Warning color stands indicates a critical situations of task/action.</p>
            </div>
          </div> 
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="semantic-colors-pallet semantic-colors"> 
            <div class="color-block success">&nbsp;</div>
            <div class="color-text">
              <h5>Success</h5>
              <b>#42BE65</b>
              <p>It indicates a good, positive emotion for a completion of a task.</p>
            </div>
          </div> 
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="semantic-colors-pallet semantic-colors"> 
            <div class="color-block information">&nbsp;</div>
            <div class="color-text">
              <h5>Information</h5>
              <b>#7789B1</b>
              <p>This color is used for an information state.</p>
            </div>
          </div> 
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="semantic-colors-pallet semantic-colors"> 
            <div class="color-block general">&nbsp;</div>
            <div class="color-text">
              <h5>General</h5>
              <b>#E3E3E3</b>
              <p>This color is used for a neutral state.</p>
            </div>
          </div> 
        </div>
      </div>


  
    
  </div>
   
</div> 










</div>  -->




<!--   
    <div class="element-body">
      <div class="row p-15">

          
        <div class="col-md-6 col-lg-8">
          <h2>Secondary color</h2>
          <p>Secondary colors offer more means to differentiate your product as well make your interface more appealing. They are optional and should be used sparingly, such as to focus on the most important action or information on a screen. </p>
            
         </div>

         <div class="col-md-6 col-lg-4">
          <div style="width:60%; background:#26B4CC; color:#000; padding:15px;">
            <h4>#26B4CC</h4>
            <p>Secondary color</p>
          </div>   
         </div>
         
      </div>
    </div> -->
    

    <!-- <div class="element-body ">
      <div class="row p-15">

          
        <div class="col-md-6 col-lg-8">
          <h2>Secondary color</h2>
          <p>Secondary colors offer more means to differentiate your product as well make your interface more appealing. They are optional and should be used sparingly, such as to focus on the most important action or information on a screen. </p>
            
         </div>

         <div class="col-md-6 col-lg-4">
          <div style="width:60%; background:#26B4CC; color:#000; padding:15px;">
            <h4>#4DF0FF</h4>
            <p>Secondary color</p>
          </div>   
         </div>
         
      </div>
    </div> -->
    


    
  

