


<!--   
      <div class="divider-50"></div> -->
      


      <div class="element-body">
        <div class="row p-15">
          <div class="col-sm-12 col-lg-12">
            <h4>Feeback</h4>
            <p>ASG products can use a light or dark application theme. The theme affects the colors of the application background, text, icons, and common controls.
              By default, ASG products theme can be decided based on the user’s mental module and theme preference.</p>
              
           </div>
  
           <!-- <div class="col-sm-6 col-lg-8 p-15">
  
            <img src="assets/themes-img.png" alt="">            
            </div>  -->

            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="material-textfield">
                    <input placeholder="First Name " type="text">
                    <label>First Name</label>
                  </div>
                  <div class="material-textfield"  id="ccnumber" placeholder="0000 0000 0000 0000">
                    <input placeholder="First Name " type="text">
                    <label for="ccnumber">Credit Card Number</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="material-textfield col-lg-3">

                  
                  <div class="select" >
                    <select class="select-text select-dropdown" required>
                      <option value="" disabled selected></option>
                      <option>Zenith</option>
                      <option>DI</option>
                      <option>Mobius</option>
                      <option>Studio</option>
                      <option>CTO</option>
                      <option>Marketing</option>
                    </select>
                    <span class="select-highlight"></span>
                    <span class="select-bar"></span>
                    <label class="select-label">From</label>
                  </div>
                  </div>

                  <div class="material-textfield col-lg-3">
                    <div class="select">
                      <select class="select-text select-dropdown" required>
                        <option value="" disabled selected></option>
                        <option>PM</option>
                        <option>PO</option>
                        <option>Testing</option>
                        <option>Developer</option>
                        <option>Designer</option>
                      </select>
                      <span class="select-highlight"></span>
                      <span class="select-bar"></span>
                      <label class="select-label">Department</label>
                    </div>
                    </div>

              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="material-textfield">
                    <textarea rows="5" cols="250">                     
                      </textarea>
                  </div>
                  <button type="button" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
        </div>
      </div>
  

      
     