<!-- ----------------------- old style ------------------- -->


<!-- 

<div class="container-fluid">

  <div class="row innerpage-icon-banner">
   
    
      <div class="col-sm-6 col-lg-6 ">
     
     <img src="assets/img/gif-imgs/icon-img.gif" alt="typo">
       
    </div> 
    <div class="col-sm-6 col-lg-6">
      <div class="divider-50"></div>
     <h2>Thy type system.</h2>
     <p>TIcons, which are visual representations, help communicate an idea and emphasize certain actions and information. They represent the first opportunity to connect with our users.</p>
       
    </div>
    
  </div>


  <div class="element-body">
    <div class="row p-15">
      <div class="col-sm-6 col-lg-4 ">
        <h2> 
         
          Overview</h2>
        <p>Icons are simple and easily noticeable symbols visually representing a feature, function, and content. They help communicate additional meaning, an interface action, or a status.
          They are mostly used in combination with meaningful text to emphasize the message of that text. They should maximize understanding and minimize cognitive load when you need to highlight a certain action, command, or section. 
          Ideally, icons should aim to balance user needs with function. When used correctly, icons greatly enhance usability.  <br><br>
          </p>
          
       </div>


       
       <div class="col-sm-6 col-lg-8 p-15">

        <div class="card-body">
          <div class="row text-center">
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
              <svg class="icon">
                <use xlink:href="#search" />
              </svg>
            <div>search</div>
            
                    
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
              <svg class="icon">
                <use xlink:href="#lock" />
            </svg>
            
            
              <div>lock</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
              <svg class="icon">
                <use xlink:href="#checked" />
            </svg>
            
              <div>checked</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
               
            
            <svg class="icon">
              <use xlink:href="#expand" />
          </svg>
         
              <div>expand</div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-xl-2">
               
          <svg class="icon">
            <use xlink:href="#collapse" />
        </svg>
         
    
              <div>collapse</div>
            </div>
          
          </div>


          <div>Click for <a routerLink="/icons/line-icons" >Icon Repositry</a></div>
        
        </div>

         
        </div> 
    </div>
  </div>




  <div class="element-body">
    <div class="row p-15">
      <div class="col-sm-6 col-lg-4 ">
        <h2>Icon Types</h2>
        <p>The four types of icons available for users: </p>
        <ul>
          <li>	Large Icon-164*164 px</li>
          <li>	Medium Icon-16*16 px</li>
          <li>	Small Icon-14*14 px</li>
          <li>	Extra Small Icon-12*12 px</li>
        </ul>
          
       </div>
       <div class="col-sm-6 col-lg-84 p-15">

        <h2>Usage</h2>
<p>Icon usage depends on user preferences.</p>
<ul>
<li>•	Large Icon-(Standard size) Used for general icons and sidebar</li>
<li>Medium Icon-Description NA</li>
<li>Small Icon-Used only with Tabs</li>
<li>Extra Small Icon-Used only for very small icons</li>
</ul>

<h2>Icon States</h2>
<p>Icons are available in these states, differentiated with icon color and background color.</p>

<ul>
<li>Disabled- icon-color: #9e9e9e </li>
<li>Default- icon-color: #545454;</li>
<li>	Hover- icon-color: #ffffff; background-color: #006b60;</li>
<li>	Pressed- icon-color: #ffffff; background-color: #00574e;</li>
<li>	Active- icon-color: #008073; background-color: #eeeeee;</li>
</ul>

<h2>White Background</h2>
<p>Icons are available in these states with white background theme/browser settings, differentiated with icon color, background color, and highlighter color.</p>

<ul>
<li>	Disabled- icon-color: #9e9e9e; 
  <li>	Default- icon-color: #545454;</li>
  <li>	Hover- icon-color: #ffffff; background-color: #006b60; highlighter-color: #008073</li>
  <li>	Pressed- icon-color: #ffffff; background-color: #00574e; highlighter-color: #008073</li>
  <li>	Active- icon-color: #008073; background-color: #eeeeee; highlighter-color: #008073</li>
</ul>


<h2>Dark Background</h2>
<p>Icons are available in these states with dark background theme/browser settings, differentiated with icon color and background color.</p>


<ul>
<li>	Disabled- icon-color: #ffffff; opacity: 50%;</li>
<li>Default- icon-color: #ffffff;</li>
<li>	Hover- icon-color: #ffffff; background-color: #006b60;</li>
<li>	Pressed- icon-color: #ffffff; background-color: #00574e;</li>
<li>	Active- icon-color: #ffffff; background-color: #008073;</li>
</ul>  



         
        </div> 
    </div>
  </div>







  <div class="divider-50"></div>


  


 </div> -->







 <!-- ------------------------ new style ------------------------- -->







 <div class="container-fluid">
  <div>
    <img src="assets/iconography-banner.png" style="width: 100%;height:auto;" alt="">
</div>





<div class="row">
  <div class="col-sm-12 col-lg-12 p-0">
    <div class="element-body">
        <div class="row">
          <div class="col-sm-6 col-ls-6">

            <div class="txt-element-img">
            <!-- <img src="assets/img/common/icons-img.png" alt="Lineup icons"> -->
            <div class="row" style="padding: 50px 30px;">
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                  <svg class="icon-32"><use xlink:href="#moon" /></svg>
                
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#lock" /></svg>
              </div>
              
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#checked" /></svg>
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#expand" /></svg>
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#collapse" /></svg>
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#search" /></svg>
              </div>
      
          <div class="divider-20"></div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#right-arrow" /></svg>
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#iconography-icon" /></svg>
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#installation-icon" /></svg>
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#colors-icon" /></svg>
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                <svg class="icon-32"><use xlink:href="#components-icon" /></svg>
              </div>
            </div>
         </div>
          </div>
          <div class="col-sm-6 col-ls-6 ">
            <div class="txt-element">
              <h1 class="primary-txt">Icons are a crucial part of any design system or product experience</h1>
              <p>Icons help us quickly navigate. They are language-independent. And best of all: they’re real tiny, so they don’t take up very much real estate. Icons are a fundamental part of a good design system and are very helpful for marketing materials. They’re the foundational building block of illustrated content, but they are also highly technical</p>
              <button routerLink="/icons/line-icons" class="btn btn-primary">Go to Repositry </button>
                <!-- <h3 routerLink="/icons/line-icons" style="cursor:pointer" >Go to Repositry <svg class="icon " style="fill:#4263C7">
                  <use [attr.xlink:href]="'#right-arrow'" />
                </svg>  </h3> -->
            </div>

          </div>
         
        </div>
        <div class="divider-50"></div>

        <div class="row"> 
          <div class="col-sm-6 col-ls-6 ">
            <div class="txt-element">
              <h1 class="primary-txt">Basic elements of an icon</h1>
              <!-- <p>Consistency is key with icons, and all your icons should be the same size when you build them. First, you’ll need to make sure that you know how your grid is built (multiple of 8 or 10?). From there, your base icon size should relate directly to that. So, if you have a grid based on 8s, you’d want to build at 16, 24, or 32.</p> -->
              <p>Consistency is key with icons, and all your icons should be the same style when you build them. First, you’ll need to make sure that you know how your grid is built.</p>

            </div>

          </div>
          <div class="col-sm-6 col-ls-6">

            <div class="txt-element-img">
          <img src="assets/img/common/icons-size.png" alt="Lineup icon size">
          </div>
         
        </div>
         
         
        </div>
        <div class="divider-50"></div>
        <div class="row"> 
          <div class="col-sm-6 col-ls-6">

            <div class="txt-element-img">
            <img src="assets/img/common/icons-grid.png" alt="Lineup icon grid">
           <div style="float:right; margin:10px 30px;"> Left: On pixel. Right: Off pixel.</div>
           </div>
          </div>
         
          <div class="col-sm-6 col-ls-6 ">
            <div class="txt-element">
              <h1 class="primary-txt">Icon Grids</h1>
              <p>The pixel grid is the fundamental grid that uses the smallest increment: a pixel. When building icons, you always want to align objects to the pixel grid, especially straight lines. But, you can build other shapes on the pixel grid. You want to build things on the pixel grid, not just because it will render more nicely, but because it makes your life easier. Spacing things evenly is much easier when you’re using a grid. It helps you stay consistent with your placement, and overall will make your icons look better</p>
            </div>

          </div>
         
        </div>
        <div class="divider-50"></div>
        <div class="row"> 
         
         
          <div class="col-sm-6 col-ls-6 ">
            <div class="txt-element">
              <h1 class="primary-txt">Icon Color</h1>
              <p>For product icons, use 1 color: black. Anything more than that and your components are going to become too complex and difficult for other designers to leverage. For marketing icons, you might want to use 2 colors if it is a crucial part of your brand, but I personally believe icons should be a single color. Anything with 3 or more colors is an illustration, not an icon</p>
            </div>

          </div>
          <div class="col-sm-6 col-ls-6">
            <div class="txt-element-img">
              <img src="assets/img/common/icon-colors.png" alt="Lineup icons color">
            </div>
           
          </div>
         
         
        </div>
        <div class="divider-50"></div>
        <div class="row"> 
          <div class="col-sm-6 col-ls-6">
            <div class="txt-element-img">
              <img src="assets/img/common/icon-usage.png" alt="Lineup icons usage">
            </div>
           
          </div>
          <div class="col-sm-6 col-ls-6 ">
            <div class="txt-element">
              <h1 class="primary-txt">Icon Usage</h1>
              <p>Pages type scale includes a range of contrasting styles that support the needs of your product and its content. <br><br>
                The type scale is a combination of 8 styles that are supported by the type system. It contains reusable categories of text, each with an intended application and meaning.</p>
            </div>

          </div>
         
         
        </div>
        <div class="divider-50"></div>
        <div class="row"> 
         
          
          <div class="col-sm-6 col-ls-6 ">
            <div class="txt-element">
              <h1 class="primary-txt">Icons States </h1>
              <p>Color can be a wonderful tool for making your dashboard less stressful and more calming and it can have a significant impact on your mood and well-being, We made it with you in mind.</p>
            </div>

          </div>
          <div class="col-sm-6 col-ls-6">
            <div class="txt-element-img">
              <p>For Example </p>
              <div style="height:60px; width:200px; background:#CCC; padding:16px;"> 
                
                <div class="sample-icon-deactive">
                  <svg class="icon">
                    <use [attr.xlink:href]="'#document'" />
                  </svg> 
                </div>

                
                 <a routerLink="" ><div class="sample-icon" >
                  <svg class="icon">
                    <use [attr.xlink:href]="'#document'" />
                  </svg> 
                </div>
              </a> 
              
              </div>

      <div class="divider-50"></div>
              <img src="assets/img/common/Icon-states.png" alt="Lineup icons states">
            </div>           
          </div>
         
         
         
        </div>
        <div style="clear:both"></div>
    </div>
  </div> 
</div> 

  



  







  <div class="divider-50"></div>


  


 </div>