<div class="container-fluid"></div>
<div>
  <img src="assets/layout-banner.png" style="width: 100%;height:auto;" alt="">
</div>


<div class="animated fadeIn">

  <div class="row element-body"> 
    <div class="col-sm-6 col-ls-6 ">
      <div class="txt-element">
        <h1 class="primary-txt">Architucture Presentation Board</h1>
        <p>Panels can be fit as per requirement of the layout with the help of given sizes</p>
      </div>

    </div>
    <div class="col-sm-6 col-ls-6">

      <div class="txt-element-img">
    <img src="assets/img/layouts/layoutboard.png" alt="layout board">
    
    </div>
   
  </div>
   
   
  </div>

  <div class="divider-20"></div>
  <div class="row">


    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p> col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-1"  >
      <div class="card">
        <div class="header">
          <p>col-lg-1</p>
        </div>
      </div>
    </div> 


    <div class="col-sm-6 col-lg-2"  >
      <div class="card">
        <div class="header">
          <p>col-lg-2</p>
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-2"  >
      <div class="card">
        <div class="header">
          <p>col-lg-2</p>
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-2"  >
      <div class="card">
        <div class="header">
          <p>col-lg-2</p>
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-2"  >
      <div class="card">
        <div class="header">
          <p>col-lg-2</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-2"  >
      <div class="card">
        <div class="header">
          <p>col-lg-2</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-2"  >
      <div class="card">
        <div class="header">
          <p>col-lg-2</p>
        </div>
      </div>
    </div> 


    <div class="col-sm-6 col-lg-3"  >
      <div class="card">
        <div class="header">
          <p>1col-lg-3</p>
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-3"  >
      <div class="card">
        <div class="header">
          <p>col-lg-3</p>
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-3"  >
      <div class="card">
        <div class="header">
          <p>col-lg-3</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-3"  >
      <div class="card">
        <div class="header">
          <p>col-lg-3</p>
        </div>
      </div>
    </div> 



    <div class="col-sm-6 col-lg-4"  >
      <div class="card">
        <div class="header">
          <p>col-lg-4</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-4"  >
      <div class="card">
        <div class="header">
          <p>col-lg-4</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-4"  >
      <div class="card">
        <div class="header">
          <p>col-lg-4</p>
        </div>
      </div>
    </div> 


    <div class="col-sm-6 col-lg-6"  >
      <div class="card">
        <div class="header">
          <p>col-lg-6</p>
        </div>
      </div>
    </div> 
    <div class="col-sm-6 col-lg-6"  >
      <div class="card">
        <div class="header">
          <p>col-lg-6</p>
        </div>
      </div>
    </div> 


    <div class="col-sm-12 col-lg-12"  >
      <div class="card">
        <div class="header">
          <p>col-lg-12</p>
        </div>
      </div>
    </div> 


    <div class="col-sm-6 col-lg-9"  >
      <div class="card">
        <div class="header">
          <p>col-lg-9</p>
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-3"  >
      <div class="card">
        <div class="header">
          <p>col-lg-3</p>
        </div>
      </div>
    </div> 





    <div class="col-sm-6 col-lg-4 ">
      <div class="card panel-A hight-100">
        <!-- <div class="header">
            <div class="title"> <h3>Heading Text</h3></div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div> -->
        <div class="header">
          <p>col-lg-4</p>
          <h4>Height 100%</h4>
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-4 ">
      <div class="card hight-100">
        <div class="header">
          <p>col-lg-4</p>
          <h4>Height 100%</h4>
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-4 ">
      <div class="card hight-100">
        <div class="header">
          <p>col-lg-4</p>
          <h4>Height 100%</h4>
        </div>
      </div>
    </div> 





   
   
  </div> 
  
</div> 