<div class="element-body">
  <div class="row">

    <div class="col-2 hight-80">
      <div class="nav-item-tab">
        <!-- <div class="material-textfield col-lg-3">
          <input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1">
          <label >form Icons</label>
        </div> -->
        <div class="row">
          <div class="col-md-2"><input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1"> </div>
          <div class="col-md-10">Form Icons</div>
        </div>
      </div>
      <div class="nav-item-tab">
        <div class="row">
          <div class="col-md-2"><input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1"> </div>
          <div class="col-md-10">Dashboard Icons</div>
        </div>
      </div>
      <div class="nav-item-tab">
        <div class="row">
          <div class="col-md-2"><input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1"> </div>
          <div class="col-md-10">Profile Icons</div>
        </div>
      </div>
      <div class="nav-item-tab">
        <div class="row">
          <div class="col-md-2"><input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1"> </div>
          <div class="col-md-10">Navigation Icons</div>
        </div>
      </div>
      <div class="nav-item-tab">
        <div class="row">
          <div class="col-md-2"><input class="form-check-input" type="checkbox"  id="inlineCheckbox1" value="option1"> </div>
          <div class="col-md-10">Editor Icons</div>
        </div>
      </div>
      <!-- <div class="form-check material-textfield  form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1" >Dashboard Icons</label>
      </div>
      <div class="form-check material-textfield  form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Profile Icons</label>
      </div>
      <div class="form-check material-textfield  form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1" >editor Icons</label>
      </div>
      <div class="form-check material-textfield  form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1" >Navigation Icons</label>
      </div> -->
  </div>

  <!-- http://embed.plnkr.co/Jkp0zdxNFTKQEEMLYAth/preview -->

  <div class="col-10 hight-80">
    <div class="col-md-12">
      <div class="search">
        <input type="text" style="width:80%;" /> <svg class="icon"><use xlink:href="#search" /></svg><br><br>
        <button>Mobius</button> <button>AAS</button> <button>Zenith</button> <button>Studio</button>
      </div>

    <div class="divider-20"></div>
      <h5>To use the icons you have to style for any icon only you need to change the id namebellow</h5>
      <pre style="height:40px;">
        <code>
      &lt;svg class="icon"&gt; &lt;use xlink:href="#copy" /&gt;  &lt;/svg&gt;
          </code>
         </pre>
          
    </div>


    <div class="row text-center" style="width:100%; padding:20px 0; margin:0px 0 30px 0;border-bottom:1px solid #CCC;">
      <div style="width:100%; height:40px; text-align:left; padding: 0 15px; "><h6>New Release Icons</h6></div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline" style="border-color: #85adde;">
          <svg class="icon-32"><use xlink:href="#moon" /></svg>
           <div>moon</div>
        </div>
        
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline" style="border-color: #85adde;"  >
        <svg class="icon-32"><use xlink:href="#lock" /></svg>
        <div >lock</div>
      </div>
      </div>
      
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline" style="border-color: #85adde;">
        <svg class="icon-32"><use xlink:href="#checked" /></svg>
        <div>checked</div>
      </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline" style="border-color: #85adde;">
        <svg class="icon-32"><use xlink:href="#expand" /></svg>
        <div>expand</div>
      </div>
      </div>
    
    </div>

    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#moon" /></svg>
           <div>moon</div>
        </div>
        
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline"  >
        <svg class="icon-32"><use xlink:href="#lock" /></svg>
        <div >lock</div>
      </div>
      </div>
      
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#checked" /></svg>
        <div>checked</div>
      </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#expand" /></svg>
        <div>expand</div>
      </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#collapse" /></svg>
        <div>collapse</div>
      </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#light" /></svg>
        <div>checked</div>
      </div>
      </div>
    </div>
    <div class="divider-20"></div>

    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#search" /></svg>
        <div>copy</div>
      </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#right-arrow" /></svg>
        <div>lock</div>
      </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#iconography-icon" /></svg>
        <div>checked</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#installation-icon" /></svg>
        <div>expand</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#colors-icon" /></svg>
        <div>collapse</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#components-icon" /></svg>
        <div>checked</div>
        </div>
      </div>
    </div>
    <div class="divider-20"></div>

    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#accessibility-icon" /></svg>
        <div>copy</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#best-practices-icon" /></svg>
        <div>lock</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#feedback-icon" /></svg>
        <div>checked</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#approve" /></svg>
        <div>expand</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#arrow-right-nav" /></svg>
        <div>collapse</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#notification" /></svg>
        <div>checked</div>
        </div>
      </div>
    </div>
    <div class="divider-20"></div>

    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#email" /></svg>
        <div>copy</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#dashboard" /></svg>
        <div>lock</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#document" /></svg>
        <div>checked</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#design" /></svg>
        <div>expand</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#accessibility" /></svg>
        <div>collapse</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#panels" /></svg>
        <div>checked</div>
        </div>
      </div>
    </div>
    <div class="divider-20"></div>

    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#copy" /></svg>
        <div>copy</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#lock" /></svg>
        <div>lock</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#checked" /></svg>
        <div>checked</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#expand" /></svg>
        <div>expand</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#collapse" /></svg>
        <div>collapse</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#checked" /></svg>
        <div>checked</div>
        </div>
      </div>
    </div>
    <div class="divider-20"></div>

    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#copy" /></svg>
        <div>copy</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#lock" /></svg>
        <div>lock</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#checked" /></svg>
        <div>checked</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#expand" /></svg>
        <div>expand</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#collapse" /></svg>
        <div>collapse</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#checked" /></svg>
        <div>checked</div>
        </div>
      </div>
    </div>
    <div class="divider-20"></div>

    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#copy" /></svg>
        <div>copy</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#lock" /></svg>
        <div>lock</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#checked" /></svg>
        <div>checked</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#expand" /></svg>
        <div>expand</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#collapse" /></svg>
        <div>collapse</div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <div class="frame-outline">
        <svg class="icon-32"><use xlink:href="#checked" /></svg>
        <div>checked</div>
        </div>
      </div>
    </div>
    <div class="divider-20"></div>

    </div>
    </div>
    </div>




