<!-- <div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-12">asfasdfasdfsadf</div>
    </div>
  </div>
</div> -->



<div class="container-fluid">

  <div>
    <img src="assets/typography-banner.png" style="width: 100%;height:auto;" alt="">
</div>

    <div class="element-body">
      <div class="row p-15">
        
        <div class="col-sm-6 col-lg-6">

          <div class="txt-element">
            <!-- <h1 class="primary-txt">Typography helps to communicate the information through visual representation </h1> -->
            <h1 class="primary-txt">Typography it's visual representation </h1>

            <p>Typography in web design refers to the technique of organizing content that clearly communicates the intent and purpose of our products. It helps to communicate the information through visual representation. 
              Typographic hierarchy, readability and accessibility are all vital elements of typography. Other rules to consider include using standards fonts/typefaces/colors; proper use of white space; using suitable text size, text alignment, and letter spacing.
              How you use typography could elevate a good user experience to a great one
              </p>
              <div class="divider-50"></div>

              <h1 class="primary-txt">Type Specifications </h1>
              <p>A typographic (or type) scale is progression of a set of fixed font sizes connected by a common ratio. It represents font sizes that work harmoniously with one another, like how a musical scale works.</p> 
              <div class="divider-50"></div>

              <!-- <h1 class="primary-txt">Font Colors</h1>
              <p>Colors provide your interface a sense of visual continuity, bring attention to primary actions, and highlight important information. Using a specific scheme of colors helps to communicate the information to users in an intuitive way</p>
            -->
            </div>
         


        
          
         </div>
         <div class="col-sm-6 col-lg-6 p-15">
              <div id="accordion">
                <div class="accordion">
                  <a class="card-link nav-dropdown-toggle" data-toggle="collapse" href="#h1" >
                    <div class="header typo-accordion-bg">
                    
                      <h1 id="heading">Headline h1</h1>
                      
                  </div>
                </a>
                  <div id="h1" class="collapse show" data-parent="#accordion">
                    <div class="body">
                     
                      <p><b>Font Details:</b> "Roboto" font-size: 45px ; font-weight: medium (200) </p>
                      <div class="row">
                       
        
                        <div class="col-md-6">
                          <p>Text Colors</p>
                          <div class="text-color-btn-primary"  onclick="changeHeadingBg('#4263C7');"></div>
                          <div  class="text-color-btn-secondary" onclick="changeHeadingBg('#26B4CC');"></div>
                          <div  class="text-color-btn-black" onclick="changeHeadingBg('#313131');"></div>
                          <div  class="text-color-btn-third" onclick="changeHeadingBg('#175CE6');"></div>
                          <div  class="text-color-btn-gray" onclick="changeHeadingBg('#969799');"></div>
                          <div  class="text-color-btn-white" onclick="changeHeadingBg('#FFFFFF');"></div>
                          <div style="clear:both;"></div>
                          <div style="height:20px;">&nbsp;</div>
                          <div  class="text-color-btn-error" onclick="changeHeadingBg('#F97E7E');"></div>
                          <div  class="text-color-btn-waiting" onclick="changeHeadingBg('#FEDE71');"></div>
                          <div  class="text-color-btn-success" onclick="changeHeadingBg('#42BE65');"></div>
                       
                        </div>
                        <div class="col-md-6">  
                          <p>Background Colors</p>
                          <div  class="text-backgroud-color-primary" onclick="changeHeadingBgcolor('#1C3972');"></div>
                          <div  class="text-backgroud-color-Dark" onclick="changeHeadingBgcolor('#175CE6');"></div>
                          <div  class="text-backgroud-color-gray" onclick="changeHeadingBgcolor('#969799');"></div>
                          <div  class="text-backgroud-color-white" onclick="changeHeadingBgcolor('#FFFFFF');"></div>
                          <div  class="text-backgroud-color-secondry" onclick="changeHeadingBgcolor('#26B4CC');"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="accordion">
                <a class="collapsed card-link" data-toggle="collapse" href="#h2"> 
                  <div class="header typo-accordion-bg">
                    <h2 id="heading2">Headline h2 </h2>
                  </div>
                </a>
            
                  <div id="h2" class="collapse" data-parent="#accordion">
                    <div class="body">
                     
                      <p><b>Font Details:</b> "Roboto" font-size: 34px ; font-weight: medium (200) </p>
                      <div class="row">
                       
        
                        <div class="col-md-6">
                          <p>Text Colors</p>
                          <div class="text-color-btn-primary"  onclick="changeHeadingBgb('#4263C7');"></div>
                          <div  class="text-color-btn-secondary" onclick="changeHeadingBgb('#26B4CC');"></div>
                          <div  class="text-color-btn-black" onclick="changeHeadingBgb('#313131');"></div>
                          <div  class="text-color-btn-third" onclick="changeHeadingBgb('#175CE6');"></div>
                          <div  class="text-color-btn-gray" onclick="changeHeadingBgb('#969799');"></div>
                          <div  class="text-color-btn-white" onclick="changeHeadingBgb('#FFFFFF');"></div>
                          <div style="clear:both;"></div>
                          <div style="height:20px;">&nbsp;</div>
                          <div  class="text-color-btn-error" onclick="changeHeadingBgb('#F97E7E');"></div>
                          <div  class="text-color-btn-waiting" onclick="changeHeadingBgb('#FEDE71');"></div>
                          <div  class="text-color-btn-success" onclick="changeHeadingBgb('#42BE65');"></div>
                       
                        </div>
                        <div class="col-md-6">  
                          <p>Background Colors</p>
                          <div  class="text-backgroud-color-primary" onclick="changeHeadingBgcolorb('#1C3972');"></div>
                          <div  class="text-backgroud-color-Dark" onclick="changeHeadingBgcolorb('#175CE6');"></div>
                          <div  class="text-backgroud-color-gray" onclick="changeHeadingBgcolorb('#969799');"></div>
                          <div  class="text-backgroud-color-white" onclick="changeHeadingBgcolorb('#FFFFFF');"></div>
                          <div  class="text-backgroud-color-secondry" onclick="changeHeadingBgcolorb('#26B4CC');"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#h3"> 
                    <div class="header typo-accordion-bg">
                    
                    <h3 id="heading3" >Headline h3 </h3>
                   
                  </div> </a>
                  <div id="h3" class="collapse" data-parent="#accordion">
                    <div class="body">
                     
                      <p><b>Font Details:</b> "Roboto" font-size: 29px ; font-weight: medium (200) </p>
                      <div class="row">
                       
        
                        <div class="col-md-6">
                          <p>Text Colors</p>
                          <div class="text-color-btn-primary"  onclick="changeHeadingBgc('#4263C7');"></div>
                          <div  class="text-color-btn-secondary" onclick="changeHeadingBgc('#26B4CC');"></div>
                          <div  class="text-color-btn-black" onclick="changeHeadingBgc('#313131');"></div>
                          <div  class="text-color-btn-third" onclick="changeHeadingBgc('#175CE6');"></div>
                          <div  class="text-color-btn-gray" onclick="changeHeadingBgc('#969799');"></div>
                          <div  class="text-color-btn-white" onclick="changeHeadingBgc('#FFFFFF');"></div>
                          <div style="clear:both;"></div>
                          <div style="height:20px;">&nbsp;</div>
                          <div  class="text-color-btn-error" onclick="changeHeadingBgc('#F97E7E');"></div>
                          <div  class="text-color-btn-waiting" onclick="changeHeadingBgc('#FEDE71');"></div>
                          <div  class="text-color-btn-success" onclick="changeHeadingBgc('#42BE65');"></div>
                       
                        </div>
                        <div class="col-md-6">  
                          <p>Background Colors</p>
                          <div  class="text-backgroud-color-primary" onclick="changeHeadingBgcolorc('#1C3972');"></div>
                          <div  class="text-backgroud-color-Dark" onclick="changeHeadingBgcolorc('#175CE6');"></div>
                          <div  class="text-backgroud-color-gray" onclick="changeHeadingBgcolorc('#969799');"></div>
                          <div  class="text-backgroud-color-white" onclick="changeHeadingBgcolorc('#FFFFFF');"></div>
                          <div  class="text-backgroud-color-secondry" onclick="changeHeadingBgcolorc('#26B4CC');"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#h4"> <div class="header typo-accordion-bg">
                    
                    <h4 id="heading4">Headline h4</h4>
                   
                  </div> </a>
                  <div id="h4" class="collapse" data-parent="#accordion">
                    <div class="body">
                     
                      <p><b>Font Details:</b> "Roboto" font-size: 23px ; font-weight: medium (200) </p>
                      <div class="row">
                       
        
                        <div class="col-md-6">
                          <p>Text Colors</p>
                          <div class="text-color-btn-primary"  onclick="changeHeadingBgd('#4263C7');"></div>
                          <div  class="text-color-btn-secondary" onclick="changeHeadingBgd('#26B4CC');"></div>
                          <div  class="text-color-btn-black" onclick="changeHeadingBgd('#313131');"></div>
                          <div  class="text-color-btn-third" onclick="changeHeadingBgd('#175CE6');"></div>
                          <div  class="text-color-btn-gray" onclick="changeHeadingBgd('#969799');"></div>
                          <div  class="text-color-btn-white" onclick="changeHeadingBgd('#FFFFFF');"></div>
                          <div style="clear:both;"></div>
                          <div style="height:20px;">&nbsp;</div>
                          <div  class="text-color-btn-error" onclick="changeHeadingBgd('#F97E7E');"></div>
                          <div  class="text-color-btn-waiting" onclick="changeHeadingBgd('#FEDE71');"></div>
                          <div  class="text-color-btn-success" onclick="changeHeadingBgd('#42BE65');"></div>
                       
                        </div>
                        <div class="col-md-6">  
                          <p>Background Colors</p>
                          <div  class="text-backgroud-color-primary" onclick="changeHeadingBgcolord('#1C3972');"></div>
                          <div  class="text-backgroud-color-Dark" onclick="changeHeadingBgcolord('#175CE6');"></div>
                          <div  class="text-backgroud-color-gray" onclick="changeHeadingBgcolord('#969799');"></div>
                          <div  class="text-backgroud-color-white" onclick="changeHeadingBgcolord('#FFFFFF');"></div>
                          <div  class="text-backgroud-color-secondry" onclick="changeHeadingBgcolord('#26B4CC');"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#h5"> <div class="header typo-accordion-bg">
                    
                    <h5 id="heading5" >Headline h5</h5>
                   
                  </div> </a>
                  <div id="h5" class="collapse" data-parent="#accordion">
                    <div class="body">
                     
                      <p><b>Font Details:</b> "Roboto" font-size: 18px ; font-weight: medium (200) </p>
                      <div class="row">
                       
        
                        <div class="col-md-6">
                          <p>Text Colors</p>
                          <div class="text-color-btn-primary"  onclick="changeHeadingBge('#4263C7');"></div>
                          <div  class="text-color-btn-secondary" onclick="changeHeadingBge('#26B4CC');"></div>
                          <div  class="text-color-btn-black" onclick="changeHeadingBge('#313131');"></div>
                          <div  class="text-color-btn-third" onclick="changeHeadingBge('#175CE6');"></div>
                          <div  class="text-color-btn-gray" onclick="changeHeadingBge('#969799');"></div>
                          <div  class="text-color-btn-white" onclick="changeHeadingBge('#FFFFFF');"></div>
                          <div style="clear:both;"></div>
                          <div style="height:20px;">&nbsp;</div>
                          <div  class="text-color-btn-error" onclick="changeHeadingBge('#F97E7E');"></div>
                          <div  class="text-color-btn-waiting" onclick="changeHeadingBge('#FEDE71');"></div>
                          <div  class="text-color-btn-success" onclick="changeHeadingBge('#42BE65');"></div>
                       
                        </div>
                        <div class="col-md-6">  
                          <p>Background Colors</p>
                          <div  class="text-backgroud-color-primary" onclick="changeHeadingBgcolore('#1C3972');"></div>
                          <div  class="text-backgroud-color-Dark" onclick="changeHeadingBgcolore('#175CE6');"></div>
                          <div  class="text-backgroud-color-gray" onclick="changeHeadingBgcolore('#969799');"></div>
                          <div  class="text-backgroud-color-white" onclick="changeHeadingBgcolore('#FFFFFF');"></div>
                          <div  class="text-backgroud-color-secondry" onclick="changeHeadingBgcolore('#26B4CC');"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#h6"> <div class="header typo-accordion-bg">
                    <h6 id="heading6" >Headline h6</h6>
                  </div> </a>
                  <div id="h6" class="collapse" data-parent="#accordion">
                    <div class="body">
                     
                      <p><b>Font Details:</b> "Roboto" font-size: 16px ; font-weight: medium (200) </p>
                      <div class="row">
                       
        
                        <div class="col-md-6">
                          <p>Text Colors</p>
                          <div class="text-color-btn-primary"  onclick="changeHeadingBgf('#4263C7');"></div>
                          <div  class="text-color-btn-secondary" onclick="changeHeadingBgf('#26B4CC');"></div>
                          <div  class="text-color-btn-black" onclick="changeHeadingBgf('#313131');"></div>
                          <div  class="text-color-btn-third" onclick="changeHeadingBgf('#175CE6');"></div>
                          <div  class="text-color-btn-gray" onclick="changeHeadingBgf('#969799');"></div>
                          <div  class="text-color-btn-white" onclick="changeHeadingBgf('#FFFFFF');"></div>
                          <div style="clear:both;"></div>
                          <div style="height:20px;">&nbsp;</div>
                          <div  class="text-color-btn-error" onclick="changeHeadingBgf('#F97E7E');"></div>
                          <div  class="text-color-btn-waiting" onclick="changeHeadingBgf('#FEDE71');"></div>
                          <div  class="text-color-btn-success" onclick="changeHeadingBgf('#42BE65');"></div>
                       
                        </div>
                        <div class="col-md-6">  
                          <p>Background Colors</p>
                          <div  class="text-backgroud-color-primary" onclick="changeHeadingBgcolorf('#1C3972');"></div>
                          <div  class="text-backgroud-color-Dark" onclick="changeHeadingBgcolorf('#175CE6');"></div>
                          <div  class="text-backgroud-color-gray" onclick="changeHeadingBgcolorf('#969799');"></div>
                          <div  class="text-backgroud-color-white" onclick="changeHeadingBgcolorf('#FFFFFF');"></div>
                          <div  class="text-backgroud-color-secondry" onclick="changeHeadingBgcolorf('#26B4CC');"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#bodytxt"> <div class="header typo-accordion-bg">
                    
                    <p id="body-txt">Body</p>
                   
                  </div> </a>
                  <div id="bodytxt" class="collapse" data-parent="#accordion">
                    <div class="body">
                     
                      <p><b>Font Details:</b> font-family: 'Roboto', sans-serif, Arial;
                        font-size:15px;
                        font-weight:regular;
                        line-height: 20px;</p>
                      <div class="row">
                       
        
                        <div class="col-md-6">
                          <p>Text Colors</p>
                          <div class="text-color-btn-primary"  onclick="changeHeadingBgg('#4263C7');"></div>
                          <div  class="text-color-btn-secondary" onclick="changeHeadingBgg('#26B4CC');"></div>
                          <div  class="text-color-btn-black" onclick="changeHeadingBgg('#313131');"></div>
                          <div  class="text-color-btn-third" onclick="changeHeadingBgg('#175CE6');"></div>
                          <div  class="text-color-btn-gray" onclick="changeHeadingBg('#969799');"></div>
                          <div  class="text-color-btn-white" onclick="changeHeadingBgg('#FFFFFF');"></div>
                          <div style="clear:both;"></div>
                          <div style="height:20px;">&nbsp;</div>
                          <div  class="text-color-btn-error" onclick="changeHeadingBgg('#F97E7E');"></div>
                          <div  class="text-color-btn-waiting" onclick="changeHeadingBgg('#FEDE71');"></div>
                          <div  class="text-color-btn-success" onclick="changeHeadingBgg('#42BE65');"></div>
                       
                        </div>
                        <div class="col-md-6">  
                          <p>Background Colors</p>
                          <div  class="text-backgroud-color-primary" onclick="changeHeadingBgcolorg('#1C3972');"></div>
                          <div  class="text-backgroud-color-Dark" onclick="changeHeadingBgcolorg('#175CE6');"></div>
                          <div  class="text-backgroud-color-gray" onclick="changeHeadingBgcolorg('#969799');"></div>
                          <div  class="text-backgroud-color-white" onclick="changeHeadingBgcolorg('#FFFFFF');"></div>
                          <div  class="text-backgroud-color-secondry" onclick="changeHeadingBgcolorg('#26B4CC');"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#paragraph"> <div class="header typo-accordion-bg">
                    
                    <p id="heading3">Paragraph</p>
                   
                  </div> </a>
                  <div id="paragraph" class="collapse" data-parent="#accordion">
                    <div class="body">
                      <p>font-size: 14px ; font-weight: medium (400)</p>
                      
                    </div>
                  </div>
                </div>

                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#paragraph2"> <div class="header typo-accordion-bg">
                    
                    <p id="heading4" class="paragraph-2">Paragraph 2</p>
                   
                  </div> </a>
                  <div id="paragraph2" class="collapse" data-parent="#accordion">
                    <div class="body">
                      <p>font-size: 12px ; font-weight: medium (400)</p>
                      
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#tagline"> <div class="header typo-accordion-bg">
                    
                    <p class="tagline-txt">Tagline </p>
                   
                  </div> </a>
                  <div id="tagline" class="collapse" data-parent="#accordion">
                    <div class="body">
                      <p>font-size: 12px ; font-weight: medium (400)</p>
                      
                    </div>
                  </div>
                  
                </div>

                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#overline"> <div class="header typo-accordion-bg">
                    
                    <p class="overline">Overline</p>
                   
                  </div> </a>
                  <div id="overline" class="collapse" data-parent="#accordion">
                    <div class="body">
                      <p>font-size: 14px ; font-weight: Regular (400)</p>
                      
                    </div>
                  </div>
                  
                </div>

                <div class="accordion">
                  <a class="collapsed card-link" data-toggle="collapse" href="#capitalize"> <div class="header typo-accordion-bg">
                    
                    <p class="capitalize">Capitalize :- lorem ipsum is simply dummy </p>
                   
                  </div> </a>
                  <div id="capitalize" class="collapse" data-parent="#accordion">
                    <div class="body">
                      <p>font-size: 14px ; font-weight: Regular (400)</p>
                      
                    </div>
                  </div>
                  
                </div>
              </div>

         
           
          </div> 
      </div>
    </div>


    <div class="divider-50"></div>
    
    <div class="row p-15">
     
      <div class="col-sm-6 col-lg-5 ">

        <div class="txt-element">
        <h1 class="primary-txt">Font Colors</h1>
        <p>Color can be a wonderful tool for making your dashboard less stressful and more calming. It can have a significant impact on mood and well-being of our users.</p>
         </div>
      </div> 
      <div class="col-sm-6 col-lg-7">
       <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="color-txt-box-h1">
            <div class="title">H1</div>
            <div class="color"></div>
            <div class="color-code">#333231</div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="color-txt-box-h2">
            <div class="title">H2</div>
            <div class="color"></div>
            <div class="color-code">#515253</div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="color-txt-box-hinted-text">
            <div class="title">Hinted text</div>
            <div class="color"></div>
            <div class="color-code">#939393</div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="color-txt-box-primary-color">
            <div class="title">primary color</div>
            <div class="color"></div>
            <div class="color-code">#4263C7</div>
          </div>
        </div>
       </div>

       <div class="divider-50"></div>

       <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="color-txt-box-success-color">
            <div class="title">Success color</div>
            <div class="color"></div>
            <div class="color-code">#17AD79</div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="color-txt-box-complete-color">
            <div class="title">Complete color</div>
            <div class="color"></div>
            <div class="color-code">#0271EC</div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="color-txt-box-danger-color">
            <div class="title">Danger color</div>
            <div class="color"></div>
            <div class="color-code">#D83B32</div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="color-txt-box-warning-color">
            <div class="title">Warning color</div>
            <div class="color"></div>
            <div class="color-code">#FFD944</div>
          </div>
        </div>
       </div>
      
         
      </div>
    
    </div>


    <div class="divider-50"></div>

  </div>

    <div class="row p--10">
      <div class="col-sm-6 col-lg-6">
        <div class="element-body">
          <h5>Highlighted Text</h5>
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <p>For highlighting a run of text due to its relevance in another context</p>
            </div>
            <div class="col-sm-6 col-lg-2">
              <p>&lt;mark&gt;</p>
            </div>
            <div class="col-sm-6 col-lg-6">
              <p> It is more then <mark>ONE nationa/nationality</mark> as its fall name is The United Kingdom of Great Britain and North Ireland.. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="element-body">
          <h5>Strong Highlighted Text</h5>
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <p>For highlighting a run of text due to its relevance in another context</p>
            </div>
            <div class="col-sm-6 col-lg-2">
              <p>&lt;strong&gt;</p>
            </div>
            <div class="col-sm-6 col-lg-6">
              <p> It is more then <mark><strong>ONE nationa/nationality</strong></mark> as its fall name is The United Kingdom of Great Britain and North Ireland.. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="element-body">
          <h5>Highlighted Text</h5>
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <p>For highlighting a run of text due to its relevance in another context</p>
            </div>
            <div class="col-sm-6 col-lg-2">
              <p>&lt;mark&gt;</p>
            </div>
            <div class="col-sm-6 col-lg-6">
              <p> It is more then <mark>ONE nationa/nationality</mark> as its fall name is The United Kingdom of Great Britain and North Ireland.. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="element-body">
          <h5>Highlighted Text</h5>
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <p>For highlighting a run of text due to its relevance in another context</p>
            </div>
            <div class="col-sm-6 col-lg-2">
              <p>&lt;mark&gt;</p>
            </div>
            <div class="col-sm-6 col-lg-6">
              <p> It is more then <mark>ONE nationa/nationality</mark> as its fall name is The United Kingdom of Great Britain and North Ireland.. </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <div class="container-fluid">
     



    <div class="element-body">
      <div class="row p-15">
        <div class="col-md-12">
          <h2>Understanding Typography</h2>
          <p>TTypography expresses hierarchy and brand presence.</p>
          <div class="divider-bar">&nbsp;</div>
        </div>
        <!-- <div class="col-sm-6 col-lg-6">
          <h2>Type properties</h2>
          <p>A typeface is a collection of letters. While each letter is unique, certain shapes are shared across letters. A typeface represents shared patterns across a collection of letters.</p>

            <p>Typefaces that are selected for their style, legibility, and readability are most effective when following the fundamental principles of typographic design.</p> 

            <img src="assets/img/typography/text-work.png" style="width: 80%;" alt="typography work">
         </div> -->
<!-- 
         <div class="col-sm-6 col-lg-6">
          <h2>Baseline</h2>
          <p>The baseline is the invisible line upon which a line of text rests. In Material Design, the baseline is an important specification in measuring the vertical distance between text and an element.

          </p>

            <img src="assets/img/typography/baseline.png" style="width: 50%;"  alt="typography baseline">
         </div> -->

         <div class="col-sm-6 col-lg-6">
          <h2>4dp grid</h2>
          <p>Type aligns to the 4dp baseline grid.</p>
            <img src="assets/img/typography/4dp-grid.png" style="width: 85%;"  alt="typography 4dp-grid">
         </div>

         <div class="col-sm-6 col-lg-6">
          <h2>Measurement from the baseline</h2>
          <p>pecify distances from UI elements from the baseline. Baseline values are software-agnostic, so they work with the grid and work in any design program. On Android and iOS, translation of code can be done from baseline-relative specifications into padding. For the web, use Sass or CSS for automating the calculation.</p>
            <img src="assets/img/typography/measurement-baseline-2.png" style="width: 30%;"  alt="typography measurement-baseline">

            <img src="assets/img/typography/measurement-baseline.png" style="width: 30%;" alt="typography measurement-baseline">
         </div>
      </div>
      </div>

    </div>