<!-- 

  
<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">89.9%</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">12.124</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">$98.111,00</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">2 TB</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
  </div>
  
</div> -->


<!-- new widget end -->



<!-- 

<div class="animated fadeIn">

  
  <div class="row">



    <div class="col-md-12 col-lg-8 fullsizebanner">
      <div class="element-body p-0">
       

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="dashboard-banner">
                <div class="row" routerLink="/accessibility/aaccessibility" >
                  <div class="col-md-6 content">
                    <h3>Accessibility Guidelines </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                
                  </div>
                  <div class="col-md-6">
                    <img class="d-block ft-rt" src="assets/Accessibility.svg" alt="Second slide">
                  </div>
                </div>
             
              
            </div>
            </div>
            <div class="carousel-item">
              <div class="dashboard-banner">
                <div class="row" routerLink="/bestpractices/uxbest" >
                  <div class="col-md-6 content">
                    <h3>UI UX Best Practices </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>
                      
                  </div>
                  <div class="col-md-6">
                    <img class="d-block ft-rt" src="assets/best-practice-banner-img.svg" alt="Second slide">
                  </div>
                </div>
             
              
            </div>
            </div>
            <div class="carousel-item">
              <div class="dashboard-banner">
                <div class="row" routerLink="/components/breadcrums">
                  <div class="col-md-6 content">
                    <h3>Frontend Elements</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>
                      
                  </div>
                  <div class="col-md-6">
                    <img class="d-block ft-rt " src="assets/front-end-elements.svg" alt="Second slide">
                  </div>
                </div>
             
              
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
         
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-4" routerLink="/getstart/installation">
      <div class="element-widget">
        <div class="header">
          <h3>Installation</h3>
        </div>
        <div class="row body">
          
          <div class="col-sm-8">
          <p>Use the command <mark>npm install --save asg-lineup</mark> to add scss files and folder to the project.</p>

        </div>
        <div class="col-sm-4">
        
          <img class="d-block img-v-100 "  src="assets/Icons/dashboard/new/installation.png" alt="">
        </div>

        </div>
        <div style="clear:both;"></div>
        <div class="footer">
          <div class="ft-lft">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit">Learn more</div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 

    <div class="col-sm-6 col-lg-4"  routerLink="/guidelines/iconography">
      <div class="element-widget">
        <div class="header">
          <h3>Iconography</h3>
        </div>
        <div class="row body">
          
          <div class="col-sm-8">
          <p>Icons, which are visual representations, help communicate an idea and emphasize certain actions and information.</p>

        </div>
        <div class="col-sm-4">
        
          <img class="d-block img-v-100 "  src="assets/Icons/dashboard/new/iconography.png" alt="">
        </div>

        </div>
        <div class="footer">
          <div class="ft-lft">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit">Learn more  </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 

    <div class="col-sm-6 col-lg-4" routerLink="/guidelines/color">
      <div class="element-widget">
        <div class="header">
          <h3>Colors</h3>
        </div>
        <div class="row body">
          
          <div class="col-sm-8">
          <p>Colors provide your interface a sense of visual continuity, bring attention to primary actions, and highlight important information. </p>

        </div>
        <div class="col-sm-4">
        
          <img  class="d-block img-v-100 " src="assets/Icons/dashboard/new/colours.png" alt="">
        </div>

        </div>
        <div class="footer">
          <div class="ft-lft">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit">Learn more</div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 

    <div class="col-sm-6 col-lg-4" routerLink="/components/breadcrums">
      <div class="element-widget">
        <div class="header">
          <h3>Components</h3>
        </div>
        <div class="row body">
          
          <div class="col-sm-8">
          <p>Components are reusable interface elements combined to create consistent and delightful user experience across products. </p>

        </div>
        <div class="col-sm-4">
        
          <img class="d-block img-v-100 " src="assets/Icons/dashboard/new/components.png" alt="">
        </div>

        </div>
        <div class="footer">
          <div class="ft-lft">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit">Learn more</div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 


    <div class="col-sm-6 col-lg-4" routerLink="/accessibility/aaccessibility">
      <div class="element-widget">
        <div class="header">
          <h3>Accessibility</h3>
        </div>
        <div class="row body">
          
          <div class="col-sm-8">
          <p>Accessibility refers to the design of products for all users, regardless of ability. It ensures that users with disabilities can understand</p>

        </div>
        <div class="col-sm-4">
        
          <img class="d-block img-v-100 "  src="assets/Icons/dashboard/accessibility.png" alt="">
        </div>

        </div>
        <div class="footer">
          <div class="ft-lft">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit">Learn more</div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 


    <div class="col-sm-6 col-lg-4" routerLink="/bestpractices/uxbest">
      <div class="element-widget">
        <div class="header">
          <h3>Best Practices</h3>
        </div>
        <div class="row body">
          
          <div class="col-sm-8">
          <p>Follow the best practices when designing and developing the UI for user-friendly and better product experience</p>

        </div>
        <div class="col-sm-4">
        
          <img class="d-block img-v-100 "  src="assets/Icons/dashboard/new/best-practices.png" alt="">
        </div>

        </div>
        <div class="footer">
          <div class="ft-lft">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit">Learn more</div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 


    <div class="col-sm-6 col-lg-4" routerLink="/guidelines/feedback">
      <div class="element-widget">
        <div class="header">
          <h3>Feedback</h3>
        </div>
        <div class="row body">
          
          <div class="col-sm-8">
          <p>To Improves user satisfaction, engagement and to share the experience with our product.</p>

        </div>
        <div class="col-sm-4">
        
          <img class="d-block img-v-100 "  src="assets/Icons/dashboard/feedback.png" alt="">
        </div>

        </div>
        <div class="footer">
          <div class="ft-lft">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit">Learn more</div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 
   
   
   
  </div> 
  
</div> 
 -->


<!-- -------------------------------------wide banner dashboard------------------------------------- -->


<!-- 
<div class="animated fadeIn">

  
  <div class="row">



    <div class="col-md-12 col-lg-8 fullsizebanner">
      <div class="element-body p-0">
       

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="dashboard-banner">
                <div class="row dashboard-banner01" routerLink="/accessibility/aaccessibility" >
                  
                  <div class="col-md-3">
                    <img class="" src="assets/img/common/colors-illustration.png" alt="Second slide">
                  </div>
                  <div class="col-md-8 content">
                    <h2>Special Colors</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                
                  </div>
                </div>
             
              
            </div>
            </div>
            <div class="carousel-item">
              <div class="dashboard-banner">
                <div class="row dashboard-banner02" routerLink="/bestpractices/uxbest" >
                  <div class="col-md-3">
                    <img class="" src="assets/img/common/front-end-illustration.png" alt="Second slide">
                  </div>
                  <div class="col-md-8 content">
                    <h2>UX Best Practice </h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>                      
                  </div>
                  
                </div>
             
              
            </div>
            </div>
            <div class="carousel-item">
              <div class="dashboard-banner">
                <div class="row dashboard-banner03" routerLink="/components/breadcrums">
                  <div class="col-md-3">
                    <img class="" src="assets/img/common/front-end-illustration.png" alt="Second slide">
                  </div>
                  <div class="col-md-8 content">
                    <h2>Front-end Component</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>
                      
                  </div>
                 
                </div>
             
              
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
         
        </div>
      </div>
    </div> 

    <div class="col-sm-6 col-lg-4" routerLink="/getstart/installation">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#8BC9D1">
            <use [attr.xlink:href]="'#installation-icon'" />
          </svg>  
        </div>
        <div class="row body">
          <div class="col-sm-12">
            
            <h3>Installation</h3>
          <p>Use the command <mark>npm install --save asg-lineup</mark> to add scss files and folder to the project.</p>

        </div>
      

        </div>
        <div style="clear:both;"></div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2">Learn more <svg class="icon">
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 

    <div class="col-sm-6 col-lg-4"  routerLink="/guidelines/iconography">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#6CD89E;">
            <use [attr.xlink:href]="'#iconography-icon'" />
          </svg>  
        </div>
        <div class="row body">
          
          <div class="col-sm-12">

          <h3>Iconography</h3>
          <p>Icons, which are visual representations, help communicate an idea and emphasize certain actions and information.</p>

        </div>
        

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2">Learn more <svg class="icon">
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 

    <div class="col-sm-6 col-lg-4" routerLink="/guidelines/color">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#C493D6;">
            <use [attr.xlink:href]="'#colors-icon'" />
          </svg>  
        </div>
        <div class="row body">
          <div class="col-sm-12">
          <h3>Colors</h3>
          <p>Colors provide your interface a sense of visual continuity, bring attention to primary actions, and highlight important information. </p>

        </div>
       

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2">Learn more <svg class="icon">
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 

    <div class="col-sm-6 col-lg-4" routerLink="/components/breadcrums">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon"  style="fill:#EADD96;">
            <use [attr.xlink:href]="'#components-icon'" />
          </svg>  
        </div>
        <div class="row body">
          
          <div class="col-sm-12">
          <h3>Components</h3>
          <p>Components are reusable interface elements combined to create consistent and delightful user experience across products. </p>

        </div>
        

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2">Learn more <svg class="icon">
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 


    <div class="col-sm-6 col-lg-4" routerLink="/accessibility/aaccessibility">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#6CCAD8;">
            <use [attr.xlink:href]="'#accessibility-icon'" />
          </svg>  
        </div>
        <div class="row body">
          
          <div class="col-sm-12">
            <h3>Accessibility</h3>
          <p>Accessibility refers to the design of products for all users, regardless of ability. It ensures that users with disabilities can understand</p>

        </div>

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2">Learn more <svg class="icon">
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 


    <div class="col-sm-6 col-lg-4" routerLink="/bestpractices/uxbest">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#C6C269">
            <use [attr.xlink:href]="'#best-practices-icon'" />
          </svg>  
        </div>
        <div class="row body">
          
          <div class="col-sm-12">
            <h3>Best Practices</h3>
          <p>Follow the best practices when designing and developing the UI for user-friendly and better product experience</p>

        </div>

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2">Learn more <svg class="icon">
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 


    <div class="col-sm-6 col-lg-4" routerLink="/guidelines/feedback">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#7AC680;">
            <use [attr.xlink:href]="'#feedback-icon'" />
          </svg>  
        </div>
        <div class="row body">
          
          <div class="col-sm-12">

          <h3>Feedback</h3>
          <p>To Improves user satisfaction, engagement and to share the experience with our product.</p>

        </div>

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2">Learn more <svg class="icon">
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 
   
   
   
  </div> 
  
</div>  -->




<!-- -------------------------------------height banner dashboard------------------------------------- -->



<div class="animated fadeIn">

  
  <div class="row">



    <div class="col-md-12 col-lg-4 fullsizebanner">
      <div class="element-body p-0">
       

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="dashboard-banner-h">
                <div class="row dashboard-banner01-h" routerLink="/accessibility/aaccessibility" >
                  
                  <div class="col-md-12">
                    <img class="" src="assets/img/common/colors-illustration2.png" alt="Second slide">
                  </div>
                  <div class="col-md-12 content">
                    <!-- <h2>Special Colors</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                 -->
                 <img class="" src="assets/img/common/bannerimg-01-btm.png" alt="Second slide">
                  </div>
                </div>
             
              
            </div>
            </div>
            <div class="carousel-item">
              <div class="dashboard-banner-h">
                <div class="row dashboard-banner02-h" routerLink="/bestpractices/uxbest" >
                  <div class="col-md-12">
                    <img class="" src="assets/img/common/colors-illustration3.png" alt="Second slide">
                  </div>
                  <div class="col-md-12 content">
                    <!-- <h2>UX Best Practice </h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>                      
                   -->
                   <img class="" src="assets/img/common/bannerimg-02-btm.png" alt="Second slide">
                    </div>
                  
                </div>
             
              
            </div>
            </div>
            <div class="carousel-item">
              <div class="dashboard-banner-h">
                <div class="row dashboard-banner03-h" routerLink="/components/breadcrums">
                  <div class="col-md-12">
                    <img class="" src="assets/img/common/colors-illustration4.png" alt="Second slide">
                  </div>
                  <div class="col-md-12 content">
                    <!-- <h2>Front-end Component</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>
                       -->
                       <img class="" src="assets/img/common/bannerimg-3-btm.png" alt="Second slide">
                  </div>
                 
                </div>
             
              
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
         
        </div>
      </div>
    </div> 

    <div class="col-lg-8 p-0">
      <div class="row">
        <div class="col-sm-6 col-lg-6" routerLink="/getstart/installation">
          <div class="element-widget">
            <div class="header">
              <svg class="widget-icon" style="fill:#990099">
                <use [attr.xlink:href]="'#installation-icon'" />
              </svg>  
            </div>
            <div class="row body">
              <div class="col-sm-12 p-0">
                
                <h3>Installation</h3>
              <p>Use the command <mark>npm install --save asg-lineup</mark> to add scss files and folder to the project.</p>
    
            </div>
          
    
            </div>
            <div style="clear:both;"></div>
            <div class="footer">
              <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
              <div class="ft-rit paragraph-2 primary-new">Learn more <svg class="icon primary-new" >
                <use [attr.xlink:href]="'#right-arrow'" />
              </svg> 
            </div>
              <div style="clear:both"></div>
            </div>
            
          </div>
           
        </div> 
    
        <div class="col-sm-6 col-lg-6"  routerLink="/guidelines/iconography">
          <div class="element-widget">
            <div class="header">
              <svg class="widget-icon" style="fill:#990099;">
                <use [attr.xlink:href]="'#iconography-icon'" />
              </svg>  
            </div>
            <div class="row body">
              
              <div class="col-sm-12 p-0">
    
              <h3>Iconography</h3>
              <p>Icons, which are visual representations, help communicate an idea and emphasize certain actions and information.</p>
    
            </div>
            
    
            </div>
            <div class="footer">
              <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
              <div class="ft-rit paragraph-2 primary-new">Learn more <svg class="icon primary-new" >
                <use [attr.xlink:href]="'#right-arrow'" />
              </svg> 
            </div>
              <div style="clear:both"></div>
            </div>
            
          </div>
           
        </div> 
    
        <div class="col-sm-6 col-lg-6" routerLink="/guidelines/color">
          <div class="element-widget">
            <div class="header">
              <svg class="widget-icon" style="fill:#990099;">
                <use [attr.xlink:href]="'#colors-icon'" />
              </svg>  
            </div>
            <div class="row body">
              <div class="col-sm-12 p-0">
              <h3>Colors</h3>
              <p>Colors provide your interface a sense of visual continuity, bring attention to primary actions, and highlight important information. </p>
    
            </div>
           
    
            </div>
            <div class="footer">
              <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
              <div class="ft-rit paragraph-2 primary-new">Learn more <svg class="icon primary-new" >
                <use [attr.xlink:href]="'#right-arrow'" />
              </svg> 
            </div>
              <div style="clear:both"></div>
            </div>
            
          </div>
           
        </div> 
    
        <div class="col-sm-6 col-lg-6" routerLink="/components/breadcrums">
          <div class="element-widget">
            <div class="header">
              <svg class="widget-icon"  style="fill:#990099;">
                <use [attr.xlink:href]="'#components-icon'" />
              </svg>  
            </div>
            <div class="row body">
              
              <div class="col-sm-12 p-0">
              <h3>Components</h3>
              <p>Components are reusable interface elements combined to create consistent and delightful user experience across products. </p>
    
            </div>
            
    
            </div>
            <div class="footer">
              <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
              <div class="ft-rit paragraph-2 primary-new">Learn more <svg class="icon primary-new" >
                <use [attr.xlink:href]="'#right-arrow'" />
              </svg> 
            </div>
              <div style="clear:both"></div>
            </div>
            
          </div>
           
        </div> 
      </div>
    </div>
   


    <div class="col-sm-6 col-lg-4" routerLink="/accessibility/aaccessibility">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#990099;">
            <use [attr.xlink:href]="'#accessibility-icon'" />
          </svg>  
        </div>
        <div class="row body">
          
          <div class="col-sm-12 p-0">
            <h3>Accessibility</h3>
          <p>Accessibility refers to the design of products for all users, regardless of ability. It ensures that users with disabilities can understand</p>

        </div>

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2 primary-new">Learn more <svg class="icon primary-new" >
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 


    <div class="col-sm-6 col-lg-4" routerLink="/bestpractices/uxbest">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#990099">
            <use [attr.xlink:href]="'#best-practices-icon'" />
          </svg>  
        </div>
        <div class="row body">
          
          <div class="col-sm-12 p-0">
            <h3>Best Practices</h3>
          <p>Follow the best practices when designing and developing the UI for user-friendly and better product experience</p>

        </div>

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2 primary-new">Learn more <svg class="icon primary-new" >
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 


    <div class="col-sm-6 col-lg-4" routerLink="/guidelines/feedback">
      <div class="element-widget">
        <div class="header">
          <svg class="widget-icon" style="fill:#990099;">
            <use [attr.xlink:href]="'#feedback-icon'" />
          </svg>  
        </div>
        <div class="row body">
          
          <div class="col-sm-12 p-0">

          <h3>Feedback</h3>
          <p>To Improves user satisfaction, engagement and to share the experience with our product.</p>

        </div>

        </div>
        <div class="footer">
          <div class="ft-lft paragraph-2">Last updated on  23rd Jan 2021</div>
          <div class="ft-rit paragraph-2 primary-new">Learn more <svg class="icon primary-new" >
            <use [attr.xlink:href]="'#right-arrow'" />
          </svg> 
        </div>
          <div style="clear:both"></div>
        </div>
        
      </div>
       
    </div> 
   
   
   
  </div> 
  
</div> 




<script>
  var videoElement = document.getElementById("videoElement");

// Autoplay the video if application is visible
if (document.visibilityState == "visible") {
videoElement.play();
}

// Handle page visibility change events
function handleVisibilityChange() {
if (document.visibilityState == "hidden") {
videoElement.pause();
} else {
videoElement.play();
}
}

document.addEventListener('visibilitychange', handleVisibilityChange, false);
</script>





