

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="internal-pg-banner">
      <div class="row">
        <div class="col-md-6 col-ls-6 heading-area">
          <h1>ACCESSIBILITY</h1>
          <h2>Conformance Levels </h2>
        </div>
        <div class="col-md-6 col-ls-6">
          <img src="assets/img/accessibility/conformance-bnr.png" alt="Intro Banner" style="height: 77% !important; width: auto;">
        </div>
      </div>

    </div>


    <div class="card " style="margin-top: 25px;">
      <div class="col-md-12 col-ls-12 ">
        <!-- Nav tabs -->

        <div class="container">
          <div class="conformance-head-img">
            <div class="a">
              <h1>A</h1>
              <h3>Minimum level <br>
                Conformance</h3>
                <p>“only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element” <br> on the site. </p>
            </div>
            <div class="aa">
              <h1>AA</h1>
              <h3>Minimum level <br>
                Conformance</h3>
                <p>“only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element” <br> on the site. </p>
            </div>
            <div class="aaa">
              <h1>AAA</h1>
              <h3>Minimum level <br>
                Conformance</h3>
                <p>“only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element” <br> on the site. </p>
            </div>
          </div>
        </div>

        <div class="container conformance-pg">
          <div class="row">
            <div class="col-sm-6 col-lg-4 bdr-right pd-sides-20" >
              <h5>WCAG Success Criteria for “A”</h5>
              <div class="divider-50"></div>
                      <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.1.4</p></a>
                      <p> <b>Character Key Shortcuts</b>: On web pages where keyboard shortcuts can be activated using one letter, users need the ability to remap or disable these shortcuts.</p>
                      <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.5.1</p></a>
                      <p> <b>Pointer Gestures</b>: Don't require users to make specific finger or cursor gestures.</p>
                      <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.5.2</p></a>
                      <p><b>Pointer Cancellation</b>: Don't activate functions on the down-click or down-tap, but if you must, give the user the ability to undo the action.</p>
                      <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.5.3</p></a>
                      <p><b>Label in Name</b>: Make sure that the programmatic labels you use for elements such as buttons match the label the user sees.</p>
                      <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.5.4</p></a>
                      <p>Motion Actuation: If moving the device is used to activate functionality, make sure the user can disable the motion controls and use a different method to access the functionality.</p>
              </div>
             <div class="col-sm-6 col-lg-4 bdr-right pd-sides-20">
               <h5>WCAG Success Criteria for “AA”</h5>
               <div class="divider-50"></div>
               <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none" target="_blank"><p class="colr-txt">1.3.6</p></a>
                    <p> <b>Identify Purpose</b>: denote the contents and purpose of different regions of page in the code.</p>
                    <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.2.6</p></a>
                    <p> <b>Timeouts</b>: If inactivity will cause a session to expire, tell the user how long they have.</p>
                    <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.3.3</p></a>
                    <p><b>Animations from Interactions</b>: Extra animations can distract people or make them sick, so give users the option to turn them off.</p>
                    <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.5.5</p></a>
                    <p><b>Target Size</b>: Make your buttons at least 44px by 44px to make sure users can actually touch them.</p>
                    <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.5.6</p></a>
                    <p><b>Concurrent Input Mechanisms</b>: Allow users to use their preferred input method - voice, on screen keyboard, bluetooth keyboard, etc.</p>
              </div>
             <div class="col-sm-6 col-lg-4 pd-sides-20">
               <h5>WCAG Success Criteria for “AAA”</h5>
               <div class="divider-50"></div>
               <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt"> 1.3.6</p></a>
                    <p> <b>Identify Purpose</b>: denote the contents and purpose of different regions of page in the code.</p>
                    <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.2.6</p></a>
                    <p>  <b>Timeouts</b>: If inactivity will cause a session to expire, tell the user how long they have.</p>
                    <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.3.3</p></a>
                    <p> <b>Animations from Interactions:</b> Extra animations can distract people or make them sick, so give users the option to turn them off.</p>
                    <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.5.5</p></a>
                    <p><b>Target Size</b>: Make your buttons at least 44px by 44px to make sure users can actually touch them.</p>
                    <a href="https://knowledge-team.asg.com/display/Standards/Accessibility+Guidelines " style="text-decoration:none"target="_blank"><p class="colr-txt">2.5.6</p></a>
                    <p> <b>Concurrent Input Mechanisms</b>: Allow users to use their preferred input method - voice, on screen keyboard, bluetooth keyboard, etc.</p>
              </div>
          </div>
         </div>


        

         

      </div><!--/.col-->
</div>
    </div>



  



