<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="internal-pg-banner">
      <div class="row">
        <div class="col-md-6 col-ls-6 heading-area">
          <h1>ACCESSIBILITY</h1>
          <h2>introduction</h2>
        </div>
        <div class="col-md-6 col-ls-6">
          <img src="assets/img/accessibility/intro-bnr.png" alt="Intro Banner" style="height: 77% !important; width: auto;">
        </div>
      </div>

    </div>


    <div class="card " style="margin-top: 25px;">
      <div class="col-md-12 mb-12 ">
        <!-- Nav tabs -->
        <h4>An introduction to A11Y</h4>
        <p>Web accessibility means that people with disabilities can use the Web. More specifically, it means that people with disabilities might be non-physical or temporary can perceive, understand, navigate, and interact with the Web, and that they can contribute to the Web.   
          Accessibility supports social inclusion for people with disabilities, older people, mobile users, people in rural areas, people with low bandwidth connections, people with low literacy, etc</p>



         <h4> Benefits of Accessibility </h4>
          <ul>
            <li>Social Factors: Increased web accessibility provides equal opportunities for people with disabilities by removing barriers to communication and interaction.   </li>
              <li>Technical Factors: Increased Web accessibility improves interoperability, and quality, and reduces site development and maintenance time and server load. 
                It also helps to ensure that content is enabled on different configurations, and that developers are prepared for advanced web technologies. </li>
            <li>Financial Factors: Greater accessibility improves search engine optimization (SEO)and enhances direct cost savings due to easier maintenance etc.  </li>
            <li>Legal and Policy Factors: Increased Web accessibility addresses requirements for Web accessibility from governments and other organizations in the form 
                 of laws, policies, regulations, and standards.  </li>
            <li>Better design: Graphic designers often design for themselves. This is not always the case, but it is often true. As a result the Web is littered with sites that use 
              tiny text that can’t be resized, illegible fonts, and bad color contrast. </li>
          </ul>


          <h4>Disabilities under consideration </h4>
          <ul>
            <li>There are many difficulties that different disabled groups face at different situations, but based on the context of web the disabilities are classified into 
              four most common disabilities </li>
          </ul>

          <h4>Here are the most common disabilities under consideration:</h4>
          <ul>
            <li>Motor disabilities </li>
            <li>Auditory disabilities</li>
            <li>Visual disabilities </li>
            <li>Cognitive disabilities</li>
          </ul>



          <h5>Motor Disabilities </h5>
          <p>Motor Disabilities are the type of disabilities which limit a person’s movements physically. Users with motor disability face difficulty with detailed mouse
            movements, holding down multiple keyboard keys simultaneously etc. In order to deliver the better usability, an interface should provide alternatives for the
            standard mouse and keyboard interactions. </p>
 
          <h5>Auditory Disabilities </h5>
          <p>Auditory disabilities are the hearing impairments that limit users hearing capabilities and keeps a user distant from audio enhancements which are aimed at 
            better usability. In order to make the information behind any sound alert perceivable an interface should provide with alternative such as visual representation 
            of the alert for all such alerts. </p>
          
          <h5>Visual Disabilities </h5>
          <p>Visual disabilities include color blindness, low vision, and blindness. Most of the content presented on the web will be highly visual users with visual disabilities 
            face difficulties in viewing the content presented or differentiate between colors. In order to communicate the information to such users, the interface should 
            provide alternative representations for the content presented. </p>
          
          <h5>Cognitive Disabilities </h5>
          <p>Cognitive disabilities are a category of mental and learning disabilities that primarily affect the learning, memorizing, perceiving, and problem-solving capabilities 
            of a human. To support users with cognitive disabilities the interface and its elements should be clear, consistent and intuitive in terms of navigation and content 
            presentation along with contextual help wherever required.</p>


            <h5>WCAG 2.1 – (Web Content Accessibility Guidelines) </h5>
            <p>The basic objective of accessibility is to make the web technology usable by everyone regardless of their disability status. Below are the core principles for the 
              accessibility compliance. A highly accessible interface should be </p>


            <div class="container" style="margin-top: 120px;">
              <div class="row">
                <div class="col-md-2 col-ls-2">
                  <img src="assets/img/accessibility/icon-img-01.png" alt="">
                </div>
                <div class="col-md-6 col-ls-6">
                  <h5>PERCEIVABLE</h5>
                  <p>Information and user interface components must be presentable to users in ways they can perceive. This means that users must be able to perceive the information being presented (it can’t be invisible to all of their senses)</p>
                </div>
                <div class="col-md-2 col-ls-2"></div>
              </div>
              <div class="row">
                <div class="col-md-2 col-ls-2"></div>
                <div class="col-md-6 col-ls-6">
                  <h5>OPERABLE</h5>
                  <p>User interface components and navigation must be operable. This means that users must be able to operate the interface (the interface cannot require interaction that a user cannot perform) </p>

                </div>
                <div class="col-md-2 col-ls-2"><img src="assets/img/accessibility/icon-img-02.png" alt=""></div>
              </div>

              <div class="row">
                <div class="col-md-2 col-ls-2">
                  <img src="assets/img/accessibility/icon-img-03.png" alt="">
                </div>
                <div class="col-md-6 col-ls-6">
                  <h5>UNDERSTANDABLE</h5>
                  <p>User interface components and navigation must be operable. This means that users must be able to operate the interface (the interface cannot require interaction that a user cannot perform)</p>
                  
                </div>
                <div class="col-md-2 col-ls-2"></div>
              </div>

              <div class="row">
                <div class="col-md-2 col-ls-2"></div>
                <div class="col-md-6 col-ls-6">
                  <h5>ROBUST</h5>
                  <p>Content must be robust enough that it can be interpreted reliably by a wide variety of user agents, including assistive technologies. This means that users must be able to access the content as technologies advance (as technologies and user agents evolve, the content should remain accessible)                    </p>
                  
                </div>
                <div class="col-md-2 col-ls-2">
                  <img src="assets/img/accessibility/icon-img-04.png" alt="">
                </div>
              </div>
            </div>

            <h4>Accessibility in ASG Products </h4>
            <p>Accessibility in ASG products helps to improve product’s usability for disabled users and also enhances the experience for normally abled users in some 
              scenarios, the accessibility of any product relies on several components that work together such as images and markup codes, hierarchical structure and 
              screen reader compatibility, etc. Below provided are the general guidelines and checklists for designers, developers and content writers in order to meet 
              the accessibility standards. </p>



      </div><!--/.col-->
</div>
    </div>



  
