

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="internal-pg-banner">
      <div class="row">
        <div class="col-md-6 col-ls-6 heading-area">
          <h1>ACCESSIBILITY</h1>
          <h2>Screen Reader Tools</h2>
        </div>
        <div class="col-md-6 col-ls-6">
          <img src="assets/img/accessibility/conformance-bnr.png" alt="Intro Banner" style="height: 77% !important; width: auto;">
        </div>
      </div>

    </div>


    <div class="card " style="margin-top: 25px;">
      <div class="col-md-12 col-ls-12 ">
        <!-- Nav tabs -->

        <h4>What Is a Screen Reader? </h4>
        <p>A screen reader will identify what is on the screen and output this data as speech. It is text-to-speech software that literally reads out the contents of the screen 
          to a user as he or she gives focus to items on the screen and navigates by using the keyboard. Screen readers are used to interact with and control a PC, Mac, 
          web browser, and other software.  <br><br>
          Screen readers are mainly used by blind and visually impaired people, but they can also be beneficial to other user groups, such as people with dyslexia or people with literacy issues.</p>    

          <h4>Popular Screen Reader Tools </h4>
          <p> A screen reader will identify what is on the screen and output this data as speech. It is text-to-speech software that literally reads out the contents of the screen 
          to a user as he or she gives focus to items on the screen and navigates by using the keyboard. Screen readers are used to interact with and control a PC, Mac, 
          web browser, and other software.  
          Screen readers are mainly used by blind and visually impaired people, but they can also be beneficial to other user groups, such as people with dyslexia or p
          eople with literacy issues. </p>
          

         <div class="row screenrecord-content">
           <div class="col-md-9">
            <h4>JAWS (Job Access With Speech)</h4>        
            <p>JAWS, Job Access With Speech, is the world’s most popular screen reader, developed for computer users whose vision loss prevents them from seeing  screen content or navigating with a mouse. JAWS provides speech and Braille output for the most popular computer applications on your PC. You will be able to navigate the Internet, write a document, read an email and create presentations from your office, remote desktop, or from home. . 
            </p>
  
           </div>
           <div class="col-md-3">
             <img src="assets/img/accessibility/icon-img-06.png" alt="">
           </div>

           <div class="col-md-9">
            <h4>VoiceOver and the Mac </h4>
            <p> VoiceOver is a screen reader that comes standard on every iPhone, Mac, Apple Watch, and Apple TV. It is gesture-controlled, so by touching, dragging, or swiping users can hear what’s happening on screen and navigate between elements, pages, and apps. 
  Enable on Mac: press Command-F5 </p>
           </div>
           <div class="col-md-3">
            <img src="assets/img/accessibility/icon-img-07.png" alt="">
           </div>
           <div class="col-md-9">
            <h4>NV Access/NVDA (Non Visual Desktop Access) </h4>
            <p>NVDA allows blind and vision impaired people to access and interact with the Windows operating system and many third party applications. Built-in speech synthesizer supporting over 50 languages, plus support for many other 3rd party voices 
              Download Link: https://www.nvaccess.org/download/ 
              Access: 1 Month Free </p>

           </div>
           <div class="col-md-3">
            <img src="assets/img/accessibility/icon-img-08.png" alt="">
           </div>
           <div class="col-md-9">
            <h4>Windows Narrator </h4>
            <p>Narrator lets you use your PC without a mouse to complete common tasks if you’re blind or have low vision. It reads and interacts with things on the screen, like text and buttons. Use Narrator to read and write email, browse the internet, and work with documents. 
              Enable on MS Windows: Press the Windows logo key  + Ctrl + N to open Narrator settings. </p>           </div>
            <div class="col-md-3">
              <img src="assets/img/accessibility/icon-img-09.png" alt="">
            </div>
           <div class="col-md-9">
            <h4>Rehabilitation Acts </h4>
            <p>The Rehabilitation Act is a civil rights law. It was the first civil rights legislation in the United States designed to protect individuals with disabilities from discrimination based on their disability status. The non-discrimination requirements of the law apply to employers and organizations that receive federal 
              financial assistance.  </p></div>
              <div class="col-md-3"></div>
           <div class="col-md-9">
            <h4>Section 508 </h4>
            <p>The Reauthorized Rehabilitation Act of 1998 included amendments to Section 508, which you can access at http://webaim.org/articles/laws/usa/rehab. This section bars the federal government from procuring electronic and information technology (E&IT) goods and services that are not fully accessible to 
              those with disabilities. This includes the services of web design because the Internet is specifically mentioned </p> </div>
              <div class="col-md-3"></div>
 
             
 
              
               
 
                   
         </div>
         

      </div><!--/.col-->
</div>
    </div>



  






<!-- 




<div class="container-fluid">
    <div class="row accessibility-banner3">
     
      <div class="col-sm-6 col-lg-6 p-left-10 vertical-center">
       <h1>Accessibility</h1>
       <h4>Conformance levels: A, AA & AAA</h4>
         
      </div> 
      <div class="col-sm-6 col-lg-3">
      
      </div>
      
    </div>

  


   


    <div class="row element-body">
        <div class="col-sm-12 col-lg-12">
          <h2>Digital Accessibility Tools</h2>
          <p>Assistive technology refers to hardware and software designed to help people with disabilities. Some types of assistive technology 
            provide physical assistance, while others provide helpful aids for individuals with learning disabilities.</p>          
        </div>
  

      
     
        <div class="col-sm-6 col-lg-8">
          
          <div class="divider-50"></div>
          <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
          <div id="accordion">
            <div class="accordion">
              <a class="card-link nav-dropdown-toggle" data-toggle="collapse" href="#collapseOne" >
                <div class="header">
                
                  Collapsible Group Item  - 1
                  
              </div>
            </a>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="accordion">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo"> 
              <div class="header">
                Collapsible Group Item  - 2
              </div>
            </a>
        
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="accordion">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree"> <div class="header">
                
                  Collapsible Group Item - 3
               
              </div> </a>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
          
         </div>
         <div class="col-sm-6 col-lg-4">
          <img src="assets/accessibility/img03.png" style="width:100%; height:auto; margin:40px auto;" alt="accessibility">
         </div>


         <div class="col-sm-12 col-lg-12">
           <p>Mobility aids, such as wheelchairs, scooters, walkers, canes, crutches1, prosthetic devices, and orthotic devices.2 <br>

            Hearing aids to help people hear or hear more clearly.3<br>
            
            Cognitive aids, including computer or electrical assistive devices, to help people with memory, attention, or other challenges in their thinking skills.3<br>
            
            Computer software and hardware, such as voice recognition programs, screen readers, and screen enlargement applications, to help people with mobility and sensory impairments use computers and mobile devices.4,5<br>
            
            Tools such as automatic page turners, book holders, and adapted pencil grips to help learners with disabilities participate in educational activities4,6,7<br>
            
            Closed captioning to allow people with hearing problems to watch movies, television programs, and other digital media.4<br>
            
            Physical modifications in the built environment, including ramps, grab bars, and wider doorways to enable access to buildings, businesses, and workplaces.8,9<br>
            
            Lightweight, high-performance mobility devices that enable persons with disabilities to play sports and be physically active.4<br>
            
            Adaptive switches and utensils to allow those with limited motor skills to eat, play games, and accomplish other activities.4<br>
            
            Devices and features of devices to help perform tasks such as cooking, dressing, and grooming; specialized handles and grips, devices that extend reach, and lights on telephones and doorbells are a few examples.4</p>
         </div>
         <div class="divider-50"></div>

         <div class="col-md-12">
           <h3>Accessibility Browser Plugins for Testing Conformance levels</h3>
           <p>Accessibility Insights MICROSOFT <br>
            ARC Toolkit-The Pacielo group<br>
            AXE -Dequw<br>
            Google- ChromeVox (Classic)<br>
            Color Contrast Analyzer -NC STATE IT ACCESSIBILITY
            
            </p>
         </div>
    </div>

   


    

    


    <div class="divider-50"></div>
    
  </div>
 -->
