<!-- <div class="row">
    <div class="col-md-12 mb-12 element-body">
     
      <tabset>
        <tab heading="Privew">
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h5>
            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
          
        </tab>
        <tab heading="Development">
          <pre><code>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </code></pre>
        </tab>
        <tab heading="Example">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div>
    </div> -->





    <div class="container-fluid">

      <div>
        <img src="assets/whatsnew-banner.png" style="width: 100%;height:auto;" alt="">
    </div>

    <!-- <div class="row innerpage-banner">
     
      <div class="col-sm-6 col-lg-6 p-left-10 vertical-center">
       <h1>What's New</h1>
         
      </div> 
      <div class="col-sm-6 col-lg-3">
       <h2>New topics added in to the system.</h2>
       <p>Color is a core building block of any design system. Pages color system help create scalable color themes, ensures accessible text, and distinguishes UI elements and surfaces from one another.</p>
         
      </div>
      
    </div> -->



<!-- 
    <div class="divider-50"></div>
    
    <div class="row p-15">
     
      <div class="col-sm-6 col-lg-6  p-left-10 vertical-center">
       <h5>Developers how<br>
        Something to contribute?</h5>
         
      </div> 
      <div class="col-sm-6 col-lg-6">
       
       <p>Color should be used consistently in any product so that certain colors always mean the same thing. For example, Pages red is used to show alerts and warnings. The Pages color spectrum ensures all possible context for use of color is covered with each base color having its shades and tints generated automatically.</p>
         
      </div>
    
    </div>

    <div class="divider-50"></div> -->
    

  


   
    <div class="element-body">
      <div class="row p-15">

      <div class="col-md-12 col-lg-6">
        <img src="assets/img/common/color-whatsnew.png" alt="colors">
      </div>

      <div class="col-md-12 col-lg-6 vertical-center">

    <div class="txt-element">
      <h1 class="primary-txt">Regular & Special color palette</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <h3 routerLink="/guidelines/color" style="cursor:pointer" >Learn More <svg class="icon " style="fill:#4263C7">
        <use [attr.xlink:href]="'#right-arrow'" />
      </svg>  </h3>
    </div>
       
      </div>
     


    <div class="divider-50"></div>




    <div class="col-md-12 col-lg-6 ">
      <div class="txt-element">

     
      <h1 class="primary-txt">Icon Repository</h1>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h3 routerLink="/icons/line-icons" style="cursor:pointer" >Learn More <svg class="icon " style="fill:#4263C7">
                <use [attr.xlink:href]="'#right-arrow'" />
              </svg>  </h3>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <!-- <img class="horizontal-center" src="assets/img/common/typography-2whatsnew.png" alt="typography"> -->
      <div class="row" style="padding: 50px 30px;">
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
            <svg class="icon-32"><use xlink:href="#moon" /></svg>
             <div>moon</div>
          </div>
          
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline"  >
          <svg class="icon-32"><use xlink:href="#lock" /></svg>
          <div >lock</div>
        </div>
        </div>
        
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#checked" /></svg>
          <div>checked</div>
        </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#expand" /></svg>
          <div>expand</div>
        </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#collapse" /></svg>
          <div>collapse</div>
        </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#search" /></svg>
          <div>copy</div>
        </div>
        </div>

    <div class="divider-20"></div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#right-arrow" /></svg>
          <div>lock</div>
        </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#iconography-icon" /></svg>
          <div>checked</div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#installation-icon" /></svg>
          <div>expand</div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#colors-icon" /></svg>
          <div>collapse</div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="frame-outline">
          <svg class="icon-32"><use xlink:href="#components-icon" /></svg>
          <div>checked</div>
          </div>
        </div>
      </div>
     

    </div>


    <div class="divider-50"></div>



    <div class="col-md-12 col-lg-6">
      <img src="assets/img/common/components-whatsnew.png" alt="colors">
     

    </div>

    <div class="col-md-12 col-lg-6">
      <div class="txt-element">

     
        <h1 class="primary-txt">Components</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h3 routerLink="/components/breadcrums" style="cursor:pointer" >Learn More <svg class="icon " style="fill:#314172">
          <use [attr.xlink:href]="'#right-arrow'" />
        </svg>  </h3>
      
 </div> 
     
    </div>

      </div>
    </div>



    <div class="divider-50"></div>
    
  
  </div>